include ../../helpers/variables
include ../../helpers/mixins

doctype html
html(lang='ru')
	include ../head
	body
		.main
			<!-- header -->
			include ../block/header
			<!-- /header -->

			<!-- subheader -->
			include ../block/subheader
			<!-- /subheader -->

			<!-- search -->
			include ../store/search
			<!-- /search -->

			<!-- content -->
			block banner
			<!-- /content -->

			<!-- content -->
			block content
			<!-- /content -->


			.footer-overlay

		<!-- footer -->
		include ../footer
		<!-- /footer -->

		include ../scripts
