// Хэлперы и переменные
@import 'helpers/*'
 
// скрипты для вспомогательных библиотек
@import 'libs/fotorama.css'
@import 'libs/social-likes_birman.css'

/* Общие стили */

/* Шрифты */
@import 'base/fonts'

/* Разметка блоков, оформление текста, общие стили */
@import 'base/normalize'
@import 'base/common'
@import 'base/typo'
@import 'base/buttons'

/* Общие блоки всех страниц */
@import 'common-units/**/*'

/* Кастомизация скриптов */
@import 'components/**/*'

/* Респонсив */
@import 'responsive/size640'
@import 'responsive/size768'