/* скрипты для вспомогательных библиотек  */
@import 'libs/fotorama.css'
@import 'libs/social-likes_birman.css'

/* Хэлперы и переменные */
@import 'helpers/sprite'
@import 'helpers/variables'
@import 'helpers/mixins'

/* Шрифты */
@import 'base/fonts'

/* Статика и общие стили */
@import 'base/normalize'
@import 'base/common'
@import 'base/typo'
@import 'base/buttons'



/* Секции промо-страниц */
@import 'partials/**/*'

/* Стили для каталога */
@import 'store/**/*'

/* Стили для личного кабинета */
@import 'profile/**/*'

/* Внутренние страницы */
@import 'pages/**/*'

/* Кастомизация скриптов */
@import 'components/**/*'