// Хэлперы и переменные
@import 'helpers/*'

/* ---------------------------------------- *
 * Общие стили                              *
 * ======================================== */
 
@import 'base'


/* ---------------------------------------- *
 * Стили для промо-сайта                    *
 * ======================================== */

@import 'promo'


/* ---------------------------------------- *
 * Дефолтная тема магазина                  *
 * (Общие стили для всех виджетов)          *
 * ======================================== */

@import 'defaults'


/* ---------------------------------------- *
 * Индивидуальные стили виджетов            *
 * ======================================== */

@import 'defaults__widgets'