/* Хэлперы и переменные */
@import 'helpers/sprite'
@import 'helpers/variables'
@import 'helpers/mixins'

/* Секции промо-страниц */
@import 'promo-sections/**/*'

/* Внутренние страницы */
@import 'pages/**/*'