@media only screen and (min-width: 641px) and (max-width: 768px)
	.b-search 
		border-right-width 173px
		
		.b-location
			margin-right -173px
			width 173px

			&__current
				overflow hidden
				text-overflow ellipsis

			.dropdown__content
				right -60px

		.b-search__button
			right -173px

	section.advanced-search 
		.inline-input--small
			padding 10px 0 10px 5px
			width 53px
			font-size 14px

