@media only screen and (max-width: 640px)
	.b-search 
		border-right 0
		margin-right 80px
		
		.b-location
			display none
			
		.b-search__button
			margin-right -80px
			width 70px
			font-size 0
			left 0