@media only screen and (max-width:640px)
	section.header
		text-align center
		border-bottom 1px solid #ccc

	#toggleNav
		display inline-block

	.b-navigation 
		display none
		height auto
		clear left
		drop-shadow()

		.menu__item
			display block
			float none
			height auto
			min-height 40px
			background $grey
			margin-top 1px
			transition none !important

			&:first-child
				margin-top 0

			a
				font-weight 700
				float none
				padding 8px 0 8px 16px
				display block
				text-align left
				height auto
				min-height 40px
				border-bottom none
				transition none !important

				&.bordered
				&:hover
					background $white
					color $green
					border-bottom none!important
				&:after
					display none

				span
					transition none !important				

			&.active
				background $grey
				color $green

				& > a
					background $grey
					color $green

				&:hover
					background $grey

	.header 
		.logo
			margin 0

		.menu 
			.submenu
				position static
				height auto
				width auto

				&.active
					height auto

				&__item
					display block
					padding 0
					float none
					height 40px
					background #fff
					border-bottom 1px solid $grey
					transition none !important

					&:last-child
						border-bottom none

					&.active
						background $orange!important
						color #fff

						a
							color #fff
							font-weight 800
							text-decoration none
							transition none !important

						&:hover
							background $orange
							color #fff

						&:first-of-type
							margin-left 0

					a
						padding 14px 5px 7px 32px
						font-weight normal
						float none
						display block
						text-align left
						height 40px
						transition none !important

						&:hover
							background $orange
							color #fff
							border-bottom none !important

							span
								border-bottom-color rgba(#fff, 0.4)
								transition none !important
		.submenu-bg
			display none!important
			top 240px
			&.active
				top 240px




