@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait), screen and (min-width: 641px) and (max-width: 800px)
	.cases 
		hgroup
			h1
				line-height 45px

	.slide
		.conditions
			padding-left 10px
			padding-right 10px
			background-size 100% 18px

		.conditions__status
			margin 0 20px

		.steps
			width auto

			li
				font-size 14px