html 
body
	height 100%

body
	font-family $font
	font-weight 400
	background #fff
	font-size 14px
	text-align center
	-webkit-font-smoothing subpixel-antialiased!important
	-webkit-backface-visibility: hidden

	&.grey
		section.header
		footer.footer
			background #fff

.main
	position relative
	min-height 100%
	overflow hidden

	& > section
		padding 40px 0

.footer-overlay
	height 140px

.patterned
	background-image url('../images/bg/pattern.png') 
	background-position 50% 50% 
	background-repeat repeat

.black.patterned
	background-image none
	position relative
	z-index 0
	
	&:after
		content ""
		display block
		position absolute
		top 0
		left 0
		background-image url('../images/bg/pattern.png')
		background-position 50% 50% 
		background-repeat repeat
		width 100%
		height 100%
		opacity  0.2
		z-index -1


.waved-top
	background-image url('../images/bg/wave-grey-top.png') 
	background-position 50% 0
	background-repeat repeat-x
	background-color transparent!important 
	margin-top -4px
	padding 4px 0 0
	z-index 2
	position relative
	

.waved-bottom
	background-image url('../images/bg/wave-grey-bottom.png') 
	background-position 50% 100%
	background-repeat repeat-x
	background-color transparent!important 
	margin-bottom -4px
	padding 0 0 4px
	z-index 3
	position relative


.orange
	background-color $orange
.black
	background-color #333
	color #fff
.grey
	background-color $grey
.white
	background-color $white
	
.container 
	position relative
	width 100%
	max-width 978px
	margin 0 auto
	clearfix()


h1 
	font-weight 300
	font-size 45px
	-webkit-font-smoothing subpixel-antialiased

h2
	font-weight 400
	font-size 36px
	-webkit-font-smoothing subpixel-antialiased

h3
	line-height 20px
	font-size 18px
	font-weight normal
	margin-bottom 20px

hgroup
	margin 0 auto
	text-align center
		
	h2.lead
		font-size 13px
		line-height 20px
		
	&+h3 
		line-height 20px
		font-size 18px 
		font-weight 800
		margin-bottom 37px
		letter-spacing 1px

.columns
	clearfix()
	margin-right: -20px;

	.column
		margin-right -100%
		position relative
		float left
		width 25%

		&.first
			left 0
		&.second
			left 25%
		&.third
			left 50%
		&.fourth
			left 75%
		&.double
			width 50%
		&.triple
			width 75%
		.content
			margin-right 20px

	&.triple
		margin-right: -20px;
		
		.column
			width 33.3333%
			&.second
				left 33.3333%
			&.third
				left 66.6667%
			&.double
				width 66.6667%
			.content
				margin-right 20px

.b-thermometer
	font-size 13px
	line-height 20px
	text-align left
	position relative
	top -30px
	margin 0 190px -30px 0

	p 
		margin-bottom 15px
		margin-left 3px
	a
		color #666
		text-decoration none
		border-bottom 1px solid rgba(#666, 0.25)
		transition border-bottom-color 0.1s ease-in-out

		&:hover
			color #333
			border-bottom 1px solid rgba(#333, 0.4)
	.divider
		color #000
		margin 0 2px

	.current
		color #999


.document
	padding 0 40px 60px
	text-align left

	.incut
		display block
		margin-left -40px
		margin-right -40px
		& > .content
			padding 0 40px
	p 
		max-width 650px

.dropdown
	position relative

	&__trigger
		z-index 3
		position relative
		cursor pointer

	&__content
		position absolute
		padding-top 20px
		left 0
		right 0
		top 0
		z-index 2

		li
			text-align left
			
			a
			u
				display block
				width 100%	
				padding 4px 20px
				font-size 13px
				line-height 22px
				text-decoration none
				color #333
				background transparent
				transition background 0.1 ease-in-out
				white-space nowrap

				&:hover
					background $grey
		
			&.active > a
			&.active > u
				color #ccc
				position relative
				&:after
					content ''
					display inline-block
					margin-left 8px
					sprite($dropdown__active)

				&:hover
					color #ccc
					background none
					cursor default
		.submenu__item
			a
				padding-left 36px

.slidedown
	&__trigger
		text-decoration none
		cursor pointer
		display inline-block
		position relative
		&:after
			content ''
			position absolute
			display block
			top 50%
			right -18px
			margin-top -2px
			transform rotate(0)
			sprite($icon__slidedown)
			
	&.active
		.slidedown__trigger
			&:after
				transform rotate(180deg)
				


	span&__trigger
		color $a__link
		font-size 18px
		border-bottom 1px dotted rgba($a__link, 0.4)

		&:hover
			border-bottom-color rgba($a__hover, 0.5)

.tabs
		width 100%
		zoom 1
		position relative
		margin 0 0 30px
		padding 0
		clearfix()

		&.&--skin
			.tab__trigger
				z-index 0
				

.tab
	&__trigger
		float left
		position relative
		left 0
		padding 0
		
		span
			display block
			height 100%
			cursor pointer

		&.selected	
			span
				color #000
				cursor default
				border-bottom 0

	&__content
		display none
		float right
		text-align left
		width 100%
		position relative
		z-index 2
		margin-left -100%

		.content
			padding-top 20px

		&.selected
			display block


.tabs.tabs--withline
	.tab__trigger
		line-height 70px
		height 70px
		margin-right 30px

		&:hover
			span
				color $orange

		&.selected
			border-bottom 4px solid $orange
			&:hover
				span
					color #000

	.tab__content
		border-top 1px solid $grey
		margin-top 70px
		

.tabs.tabs--noskin
	.tab__trigger
		line-height 35px
		height 35px
		font-size 30px
		font-weight 300
		margin-right 3px
		padding 0 44px 0 0

		span
			border-bottom 1px dotted rgba($a__link, 0.4)
			color $a__link

		&.selected
			span
				border-bottom none
				color #000

		&:hover	
			span
				border-bottom-color rgba($a__hover,0.5)
		
	.tab__content
		margin-top 35px

		.content
			padding-top 50px
		

.password-control__trigger
	float left
	margin 10px -100% 0 8px
	position relative
	left 100%
	width 40px
	height 40px
	display block
	border-radius 40px
	border 2px solid #FFA800
	font-size 18px
	line-height 36px
	text-align center
	cursor pointer
	background #fff
	overflow hidden
	text-indent -999em

	&:after
		content ''
		position absolute
		display block
		top 50%
		left 50%
		margin -8px 0 0 -10px

	&--show
		&:after
			sprite($icon__eye--opened)
	&--hide
		&:after
			margin 2px 0 0 -11px
			sprite($icon__eye--closed)



	&.active
		&:after
			margin 2px 0 0 -11px
			sprite($icon__eye--closed)




.b-cart-menu__body
.b-item__popover
.dropdown__content
.chosen-drop
.tooltip__content
	background-color #fff
	border-bottom 1px solid #e2e2e2
	box-shadow 0 4px 8px rgba(0,0,0,0.3)
	padding-bottom 2px

	&:before
	&:after
		content ''
		position absolute
		display block
		left 0
		right 0

	&:before
		height 2px
		background #dcdcdc
		border-top 1px solid #d6d6d6
		bottom 0
		z-index 0

	&:after
		height 50px
		bottom -1px
		box-shadow 0 10px 20px -7px rgba(0,0,0,0.3)
		z-index -1

.inline-sorter 
.b-location
	.dropdown__trigger
		&:after
			content ''
			position absolute
			top 50%
			right -22px
			margin-top -1px
			display block
			width 0
			height 0
			border 6px solid transparent
			border-top-color #999
			z-index 5
		&.active
			&:after
				border-top-color transparent
				border-bottom-color #999
				margin-top -8px

.b-location .dropdown__trigger:after
	right 20px
	

.full-width
	position relative

	&:after
	&:before
		position absolute
		content ''
		display block
		top 0
		bottom 0
		width 100%
		z-index 1

	&:after
		left 100%
	&:before
		right 100%

	&.orange
		background $orange
		&:after
		&:before
			background $orange
			
	&.green
		background $green
		&:after
		&:before
			background $green
	&.grey
		background $grey
		&:after
		&:before
			background $grey



.hidden
	display none

.invisible
	visibility hidden

::-ms-reveal
::-ms-clear
	display none!important
