$font = 'Open Sans',sans-serif

@font-face 
	font-family 'Open Sans'
	font-style normal
	font-weight 300
	src local('Open Sans Light'), local('OpenSans-Light'), url('http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTQcuEIXEaFWBWXA4NoGd_Oo.woff') format('woff')

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 400
	src local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v8/RjgO7rYTmqiVp7vzi-Q5UbO3LdcAZYWl9Si6vvxL-qU.woff') format('woff')

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 700
	src local('Open Sans Bold'), local('OpenSans-Bold'), url('http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzAcuEIXEaFWBWXA4NoGd_Oo.woff') format('woff')

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 800
	src local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('http://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff') format('woff')

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 400
	src local('Open Sans Italic'), local('OpenSans-Italic'), url('http://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBkbeuvGrcRTTBH456c-a4yI.woff') format('woff')

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 800
	src local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxq-mFO0icICYbFtNL7lIGuI.woff') format('woff')


@font-face
	font-family: 'ALSRubl-Tahoma'
	font-weight normal
	font-style normal
	src url('../fonts/rubl/alsrubl-tahoma-regular.eot')
	src url('../fonts/rubl/alsrubl-tahoma-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/rubl/alsrubl-tahoma-regular.woff') format('woff'), url('../fonts/rubl/alsrubl-tahoma-regular.ttf') format('truetype'), url('../fonts/rubl/alsrubl-tahoma-regular.svg#iefix') format('svg')


@font-face
	font-family: 'ALSRubl-Tahoma'
	font-weight bold
	font-style normal
	src url('../fonts/rubl/alsrubl-tahoma-bold.eot')
	src url('../fonts/rubl/alsrubl-tahoma-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/rubl/alsrubl-tahoma-bold.woff') format('woff'), url('../fonts/rubl/alsrubl-tahoma-bold.ttf') format('truetype'), url('../fonts/rubl/alsrubl-tahoma-bold.svg#iefix') format('svg')