a
	color $a__link
	&:focus
	&:hover
		color $a__hover
	&:active
		color $a__active

p
	font-size 13px
	line-height 20px
	margin-bottom 20px


.inline-input
	width 100%
	height 60px
	padding 14px 18px
	font-size 18px
	line-height 30px
	border none
	outline none
	border 3px solid transparent /* #dbd1ca */
	transition border, background 0.2s ease-in-out

	&:focus
		border 3px solid #ff5a00
	&.error
		border 3px solid $red
		color $red

.btn
	display inline-block
	margin 28px auto 25px
	padding 8px 24px
	border 3px solid $red
	color $red
	border-radius 40px
	font-size 19px
	font-weight 700
	transition all 0.1s ease-in-out
	text-decoration none
	cursor pointer

	&:hover
		background-color $red
		border-color $red
		/* box-shadow 0 1px 0 0px rgba(0,0,0,0.4) */
		color #fff

.btn-register
	border-width 4px
	padding 16px 42px 15px 
	margin-top 25px
	text-transform uppercase
	font-size 20px
	font-weight 400

.btn-submit
	margin 28px auto 25px
	padding 0
	background-color $orange
	border 4px solid $red
	color $red
	border-radius 40px
	width 435px
	height 80px
	line-height: 75px;
	font-size 19px
	text-transform uppercase
	font-weight 700
	letter-spacing 1px
	transition all 0.1s ease-in-out

	&:hover
		background-color $red
		border-color $red
		box-shadow 0 1px 0 0px rgba(154,25,21,0.8)
		color #fff

	&:active
		background-color #760e12
		border-color #760e12
		color #fff
		border-width 0
		padding 5px 4px 4px

	&.disabled
	&:disabled
		cursor default
		background none
		opacity 0.3
		&:hover
			color $red
			box-shadow none
		&:active
			background none
			color $red
			box-shadow none
			border 4px solid $red
			padding-top 0


.btn-orange
	border 4px solid #F4A816
	border-radius 40px
	color #f4a816
	font-weight 300
	vertical-align middle
	text-decoration none

	&:hover 
		border-color $orange
		background $orange
		
	&:active
		top 1px
		border-color #cc8600
		background #cc8600

	&:hover 
	&:active
		color #333

.btn-big
	color #333
	padding 18px 90px 16px
	text-transform uppercase
	font-weight bold

	&:hover
		color #fff

ul.checked
	position relative
	text-align left
	max-width 250px

	li 
		position relative
		font-size 18px
		line-height 26px
		margin-bottom 26px

		&:before
			content ''
			display block
			position absolute
			top 0
			left -44px
			sprite($ui-bullet)

.first.column ul.checked
	left 168px
.third.column ul.checked
	left 84px



/* Inputs */

.input-holder
	margin 0 auto 20px
	max-width 450px

	&--divider
		margin-top 5px

input[type="checkbox"]
input[type="radio"]
	display none

	& + label
		cursor pointer

		&:before
			content ""
			display inline-block
			vertical-align middle
			height 24px
			width 27px
			margin -4px 4px 0 0
			background-image url('../images/ui/pokupo-ui.png')
			background-repeat no-repeat

input[type="checkbox"] 
	& + label::before
		background-position 0px 0px

	&:hover + label::before
		background-position -27px 0px

	&:active + label::before
		background-position -54px 0px

	&:checked + label::before
		background-position -81px 0px

	&:checked:active + label::before
		background-position -54px 0px

input[type="radio"] + label::before
	& + label::before
		background-position 0px -24px

	&:hover + label::before
		background-position -27px -24px

	&:active + label::before
		background-position -54px -24px

	&:checked + label::before
		background-position -81px -24px

	&:checked:active + label::before
		background-position -54px -24px
