a
	color $a__link
	&:focus
	&:hover
		color $a__hover
	&:active
		color $a__active

p
	font-size 13px
	line-height 20px
	margin-bottom 20px

p.before-list
	margin-bottom 0

b 
	font-weight 800

dfn
	font-weight 800
	color $green

.btn
	display inline-block
	margin 28px auto 25px
	padding 8px 24px
	border 3px solid $red
	color $red
	border-radius 40px
	font-size 19px
	font-weight 700
	text-decoration none
	cursor pointer
	// transition background-color, background, border-color 0.1s ease-in-out

	&:hover
		background-color $red
		border-color $red
		color #fff

.btn-register
	border-width 4px
	padding 16px 42px 15px 
	margin-top 25px
	text-transform uppercase
	font-size 20px
	font-weight 400

.btn-submit
	margin 28px auto 25px
	padding 0
	background-color $orange
	border 4px solid $red
	color $red
	border-radius 40px
	width 435px
	height 80px
	line-height: 75px;
	font-size 19px
	text-transform uppercase
	font-weight 600
	letter-spacing 1px
	transition all 0.1s ease-in-out

	&:hover
		background-color $red
		border-color $red
		box-shadow 0 1px 0 0px rgba(154,25,21,0.8)
		color #fff

	&:active
		background-color #760e12
		border-color #760e12
		color #fff
		border-width 0
		padding 5px 4px 4px

	&.disabled
	&:disabled
		cursor default
		background none
		opacity 0.3
		&:hover
			color $red
			box-shadow none
		&:active
			background none
			color $red
			box-shadow none
			border 4px solid $red
			padding-top 0


.btn-grey
.btn-orange
	border 4px solid
	border-radius 40px
	font-weight 300
	vertical-align middle
	text-decoration none

	
		
	&:active
		top 1px

	&:hover 
	&:active
		color #333

.btn-orange
	border-color $orange
	color $orange
	&:hover 
		border-color $orange
		background $orange
	&:active
		border-color #cc8600
		background #cc8600
.btn-grey
	border-color $grey
	&:hover 
		border-color $grey
		background $grey
		color #333!important
	&:active
		border-color $grey
		background $grey

.btn-big
	color #333
	padding 18px 90px 16px
	text-transform uppercase
	font-weight 600

	&:hover
		color #fff

.btn-huge
	color #333
	font-weight 300
	font-size 30px
	text-align center
	min-width 760px
	margin 60px auto
	padding 25px 100px
	&:hover
		color #fff
		.inline-logo
			.green
			.yellow
				color #fff

.btn-circle
	display inline-block
	position relative
	width 37px
	height 37px
	border 2px solid transparent
	border-radius 40px
	opacity 0.8
	cursor pointer
	user-select none

	&:before
		content ''
		display block
		position absolute
		top 50%
		left 50%

	&:hover
		opacity 1
		border-color $red

	&:active
		top 1px
		border-color darken($red, 50%)

	&--big
		width 60px
		height 60px
		
	&--white
		border-color #fff
		&:hover
			border-color #fff
		&:active
			border-color #fff

	&--orange
		border-color $orange
		opacity 1
		&:hover
		&:active
			border-color $orange
			background $orange

	&--black
		border-color #000
		opacity 1
		&:hover
			border-color #333
			background #333
		&:active
			border-color #000
			background #000

	&--drop
		&:before
			margin -8px 0 0 -7px
			sprite($icon__drop)
		&:active
			&:before
				sprite($icon__drop__active)

		&.btn-circle--white
			&:before
				sprite($icon__drop--white)
			&:active
				border-color #808080
				&:before
					sprite($icon__drop--white__active)

		&.btn-circle--orange
			&:before
				sprite($icon__drop--orange)
			&:hover
			&:active
				&:before
					sprite($icon__drop--black)

	&--darr
		&:before
			width 17px
			height 17px
			margin -11px 0 0 -8px
			background transparent
			border-width 0 0 3px 3px
			border-style solid
			transform rotate(-45deg)

		&.btn-circle--white
			&:before
				border-color #fff
			&:hover
				background #fff
				&:before
					border-color $green
			&:active
				background #ccc
				border-color #ccc
				&:before
					border-color $green

		&.btn-circle--black
			&:before
				border-color #000
			&:hover
				background #333
				border-color #333
				&:before
					border-color $orange
			&:active
				background #000
				border-color #000
				&:before
					border-color $orange			
				



ul.checked
	position relative
	text-align left
	max-width 250px

	li 
		position relative
		font-size 18px
		line-height 26px
		margin-bottom 26px

		&:before
			content ''
			display block
			position absolute
			top 0
			left -44px
			sprite($ui-bullet)

.first.column ul.checked
	left 168px
.third.column ul.checked
	left 84px

ul.with-bullets
	margin-bottom 20px
	li
		list-style-type disc
		list-style-position inside


/* Inputs */

.input-holder
	margin 0 auto 20px
	max-width 450px
	label 
		font-size 18px
	.b-small-text
		line-height 20px
		font-size 13px
		color #333

	&--divider
		margin-top 5px

input[type="checkbox"]
input[type="radio"]
	display none

	& + label
		cursor pointer

input[type="checkbox"]
	& + label:before
		content ""
		display inline-block
		vertical-align middle
		height 24px
		width 27px
		margin -4px 4px 0 0
		background-image url('../images/ui/pokupo-ui.png')
		background-repeat no-repeat

input[type="radio"]
	& + label:before
		content ""
		display inline-block
		vertical-align middle
		height 36px
		width 36px
		margin -4px 6px 0 0
		background-image url('../images/ui/pokupo-ui-radio.png')
		background-repeat no-repeat

input[type="checkbox"] 
	& + label:before
		background-position 0 0

	&:hover + label:before
		background-position -27px 0

	&:active + label:before
		background-position -54px 0

	&:checked + label:before
		background-position -81px 0

	&:checked:active + label:before
		background-position -54px 0

input[type="radio"]
	& + label:before
		background-position 0 0

	&:hover + label:before
		background-position -36px 0

	&:active + label:before
		background-position -36px 0

	&:checked + label:before
		background-position -72px 0

	&:checked:active + label:before
		background-position -72px 0

input.inline + label
	margin-right 40px

	&:last-child
		margin-right 0


	
input[type="text"]
input[type="email"]
input[type="tel"]
input[type="password"]
textarea 
	width 100%
	max-width 450px
	height 60px
	padding 14px 18px
	font-size 18px
	line-height 30px
	border none
	outline none
	border 3px solid transparent /* #dbd1ca */
	transition border, background 0.2s ease-in-out

	&:focus
		border 3px solid #ff5a00
	&.error
		border 3px solid $red
		color $red

	&--small
		max-width auto
		width 104px

select
	width 100%
	max-width 450px

textarea 
	max-width initial
	resize vertical	
	height auto
	min-height 120px
	background $grey
	&:focus
		background #fff


.block-input
	background $grey
	&:focus
		background #fff

input[type='checkbox']
input[type='radio'] 
	& + label.block-label
		display block
		text-align left
		margin-left 30px

		&:before
			float left
			margin-right -100%
			position relative
			left -30px




