a
	color $a__link
	&:focus
	&:hover
		color $a__hover
	&:active
		color $a__active

p
	font-size 13px
	line-height 20px
	margin-bottom 20px

p.before-list
	margin-bottom 0

b 
	font-weight 800

dfn
	font-weight 800
	color $green

input.placeholder
textarea.placeholder 	
	color #aaa

ul.checked
	position relative
	text-align left
	max-width 250px

	li 
		position relative
		font-size 18px
		line-height 26px
		margin-bottom 26px

		&:before
			content ''
			display block
			position absolute
			top 0
			left -44px
			sprite($ui-bullet)

.first.column ul.checked
	left 168px
.third.column ul.checked
	left 84px

ul.with-bullets
	margin-bottom 20px
	li
		list-style-type disc
		list-style-position inside


/* Inputs */

.floatlabel-wrapper
	margin-top 20px


.input-holder
	margin 0 auto 20px
	padding 0 0 20px
	max-width 450px

	input[type="checkbox"]
	input[type="radio"]
		& + label 
			padding-top 18px
			display inline-block
	label
		font-size 18px

		
	.b-small-text
		line-height 20px
		font-size 13px
		color #333

	&--divider
		margin-top 5px

input[type="checkbox"]
input[type="radio"]
	display none

	& + label
		cursor pointer
		user-select none

input[type="checkbox"]
	& + label:before
		content ""
		display inline-block
		vertical-align middle
		height 24px
		width 27px
		margin -4px 4px 0 0
		background-image url('../images/ui/pokupo-ui.png')
		background-repeat no-repeat

input[type="radio"]
	& + label:before
		content ""
		display inline-block
		vertical-align middle
		height 36px
		width 36px
		margin -4px 6px 0 0
		background-image url('../images/ui/pokupo-ui-radio.png')
		background-repeat no-repeat

input[type="checkbox"] 
	& + label:before
		background-position 0 0

	&:hover + label:before
		background-position -27px 0

	&:active + label:before
		background-position -54px 0

	&:checked + label:before
		background-position -81px 0

	&:checked:active + label:before
		background-position -54px 0

input[type="radio"]
	& + label:before
		background-position 0 0

	&:hover + label:before
		background-position -36px 0

	&:active + label:before
		background-position -36px 0

	&:checked + label:before
		background-position -72px 0

	&:checked:active + label:before
		background-position -72px 0

input.inline + label
	margin-right 40px

	&:last-child
		margin-right 0


	
input[type="text"]
input[type="email"]
input[type="tel"]
input[type="password"]
textarea 
	width 100%
	max-width 450px
	height 60px
	padding 14px 18px
	font-size 18px
	line-height 30px
	border none
	outline none
	border 3px solid transparent /* #dbd1ca */
	transition border, background 0.2s ease-in-out

	&:focus
		border 3px solid #ff5a00
	&.error
		border 3px solid $red
		color $red
		background #fff

		& + .label-floatlabel
			font-weight 600 !important
			color $red !important

	&--small
		max-width auto
		width 104px

select
	width 100%
	max-width 450px

textarea 
	max-width none
	resize vertical	
	height auto
	min-height 120px
	background #ededed //

	&:focus
		background #fff


.block-input
	background #ededed // $grey

	&:focus
		background #fff

input[type='checkbox']
input[type='radio'] 
	& + label.block-label
		display block
		text-align left
		margin-left 30px

		&:before
			float left
			margin-right -100%
			position relative
			left -30px

