@media only screen and (min-width: 641px) and (max-width: 768px)
	.footer
		.column
			width 33%
			.content
				margin-right 30px

			&.first
				left 0
			&.second
				left 33.33%
			&.third
				left 66.66%
			
			&.fourth
				float none
				position static
				margin 0 auto
				display block
				clear both
				padding-top 10px