@media only screen and (max-width: 640px)
	.footer
		.columns
			.column
				width 50% !important
				float left !important
				.content
					margin-right 30px

				&.first
					left 0 !important;
				&.second
					left 50% !important;
					.content
						border-right none

				&.third	
					clear both
					.content
						border-right 1px solid #ccc

				&.third	
				&.fourth
					float none
					position static
					margin 0
					display block
					padding-top 10px

				&.second
				&.fourth
					.content
						margin-right 0
						border-right none
		
		.social
			white-space normal