@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait), screen and (min-width: 641px) and (max-width: 800px)
	.nosidebar .b-catalog
		clear left

	.b-catalog-item
		.fotorama__wrap
			margin 0 auto

		&__actions
			text-align left

			.like_button
				margin-left 22px
		&__limits
			margin-left 60px

		.columns.triple
			margin-right 0
			.column
			.double.column
				float none
				width 100%
				left 0

				.content
					margin 0 6px

		.b-recommended
			display none

	.b-catalog__items.cards.cards--small 
		.b-item
			min-width 0

	.columns.triple.columns--resp_fix
		.column
			width 33% 
			float left !important

			.content
					margin-right 10px

			&.double
				width 66%

			&.third
				left 66.6667%
				



