@media only screen and (max-width: 640px)
	.b-catalog-item
		.fotorama__wrap
			margin 0 auto

		&__actions
			text-align left

			.like_button
				margin-left 22px
		&__limits
			margin-left 60px

		&__aux
			margin-left 6px
			margin-right 6px

	.b-recommended
	.b-lastviewed
		display none

