@media only screen and (min-width: 641px) and (max-width: 768px)
	.b-catalog-item
		.fotorama__wrap
			margin 0 auto

		&__actions
			text-align left

			.like_button
				margin-left 22px
		&__limits
			margin-left 60px

		.columns.triple
			margin-right 0
			.column
			.double.column
				float none
				width 100%
				left 0

				.content
					margin 0 6px

		.b-recommended
			display none

	.b-catalog__items.cards.cards--small 
		.b-item
			min-width 0





