.cases 
	background $grey
	padding 20px 0

	hgroup
		padding-top 0px
		h1
			line-height 68px
			margin-bottom 8px

		h2
			position relative

.inline-logo
	font-weight 800

	i
		font-style normal

	.green
		color #02903d

	.yellow
		color #ffa800

.slide
	h1
		font-weight 800
		font-size 24px
		line-height 28px
		margin 32px 0 15px
		text-align center
		cursor default

	.conditions
		margin 0 auto
		overflow hidden
		padding 20px 50px 47px
		background url('../images/ui/bracket.png') 50% 100% no-repeat
		text-align center

.status
	display inline-block
	width 180px
	height 220px
	margin 0 50px
	font-size 16px
	font-weight 700

	.circle
		margin-bottom 8px
		background-color $orange
		border-radius 100px
		border 2px solid transparent
		behavior url('styles/libs/pie.htc')

		.icon
			display inline-block
			margin 38px
			&.goods
				sprite($case__goods)

			&.site
				sprite($case__site)

		&.no
			background-color transparent
			border-color #000
			opacity 0.3

.steps
	display block
	width 900px
	margin 34px auto 40px
	overflow hidden

	li
		display block
		float left
		width 23%
		margin-left 2%
		font-size 18px
		line-height 20px
		font-weight 400
		color #000
		text-align center

		&:first-child
			margin 0

		i
			display block
			margin 15px auto

			&.signin
				sprite($step__signup)

			&.add
				sprite($step__add)

			&.send
				sprite($step__send)

			&.get
				sprite($step__get)

			&.earn
				sprite($step__earn)

			&.code
				sprite($step__code)

















			