ul.clients
	margin-top 40px
	display block
	overflow hidden
	text-align justify

	&:after
		content ''
		display inline-block
		width 100%
		height 0

	li
		display inline-block
		width 180px
		text-align center

		i.client
			display inline-block
			background-image url('../images/ui/clients.png')

			&.alexbank
				background-position 0 0
				width 60px
				height 60px

			&.alfabank
				background-position 0 -104px
				width 168px
				height 60px

			&.cybarco
				background-position 0 -210px
				width 116px
				height 60px

			&.rsb
				background-position 0 -320px
				width 87px
				height 60px

			&.sberbank
				background-position 0 -430px
				width 68px
				height 60px