ul.clients
	margin 40px 10px
	display block
	overflow hidden
	text-align justify
	height 62px
	line-height 62px

	&:after
		content ''
		display inline-block
		width 100%
		height 0
		font-size 0
		visibility hidden

	li
		display inline-block
		padding 0 20px
		text-align center

		&:first-child
			padding-left 0

		&:last-child
			padding-right 0

		i.client
			display inline-block
			background-image url('../images/ui/clients.png')

			&.alexbank
				background-position 0 0
				width 60px
				height 60px

			&.alfabank
				background-position 0 -104px
				width 168px
				height 60px

			&.cybarco
				background-position 0 -210px
				width 116px
				height 60px

			&.rsb
				background-position 0 -320px
				width 87px
				height 60px

			&.sberbank
				background-position 0 -430px
				width 68px
				height 60px