.howitworks
	hgroup
		margin-top -12px
		padding 0 0 18px

		h1
			margin-bottom 20px

	&__steps
		padding-top 12px
		font-size 0

		.hiw-step
			display inline-block
			vertical-align top
			position relative
			width 25%
			padding-top 95px
			font-size 16px
			line-height 20px
			margin-top 20px

			&:before
				content ''
				display block
				position absolute
				top 0
				left 50%
				margin-left -42px

			span
				display block

			&__register
				a
					color #000
					text-decoration none
					font-weight bold
					border-bottom 1px solid rgba(0,0,0,0.25)

				&:before
					sprite($step__signup--white)

			&__create
				&:before
					sprite($step__create--white)

			&__add
				&:before
					sprite($step__add--white)

			&__go
				&:before
					sprite($step__go--white)

			&__finish
				width 100%
				padding-top 150px
				background url('../images/ui/bracket--big.png') 50% 0 no-repeat
				&:before
					top 40px
					sprite($step__earn--white)
