.portal
	background #fff url('../images/bg/portal-bg.jpg') 50% 50% repeat
	padding 40px 0 60px

	hgroup
		margin-bottom 35px

		h1
			margin-bottom 30px
		img
			margin 10px 0

	
	a.external
		font-weight 300
		font-size 30px
		line-height 1em
		color $blue
		text-decoration underline

		&:hover
			color $orange

		&:before
			content ''
			display inline-block
			margin-right 10px
			sprite($icon__external)
