section.catalog-banner
	padding-top 0
	
.catalog-banner
	transition margin-top 0.5s ease-in-out

.b-catalog-banner
	margin-bottom 20px

	&__slide
		height 100%
		
		hgroup
			color #fff
			padding 115px
			text-shadow 0 1px rgba(#000,0.6)
		h1
			margin-bottom 20px


.b-catalog-banner
	.fotorama__nav-wrap
		margin -42px auto 0
		width 150px

	.fotorama__nav__shaft
		padding-bottom 12px

	.fotorama__nav--dots .fotorama__nav__frame
		width 24px

	.fotorama__dot
		width 8px
		height 8px
		border-radius 8px
		border 1px solid $orange

	.fotorama__nav__frame.fotorama__active .fotorama__dot
		width 8px
		height 8px
		border-width 1px
		background $orange
