.b-order-list
	&__results
		margin-top 49px
		text-align right

	&__amount
	&__tobepaid
		font-weight 300
		font-size 18px

		.b-price
			width 203px
			padding-left 40px
			display inline-block
			text-align right
			line-height 20px
			font-weight 800
			color $green

	&__tobepaid
		font-size 30px
		.b-price
			font-size 30px


section.profile 
	.b-order-list__amount
	.b-order-list__tobepaid
		.b-price
			text-align left
		.b-order-item__discount
			position relative
			left -3px			
	
	

.b-order-list__buttons
	text-align right

	.btn
		margin-left 10px
		padding-left 35px
		padding-right 35px