section.store
	padding 0 0 20px

/* Левый сайдбар */
.b-sidebar
	position relative
	width 230px
	float left
	text-align left

	.btn
		display none

	&__title
		font-size 18px
		font-weight normal
		line-height 24px
		color #000
		margin 0 0 0 2px

	.menu
		position relative

		&__item
			position relative
			
			a
			u
				display block
				width 100%	
				padding 4px 15px 4px 2px
				color $a__link
				font-size 13px
				line-height 22px
				text-decoration none
				background transparent
				transition background 0.1 ease-in-out
				cursor pointer

				span
					border-bottom 1px solid rgba($a__link, 0.5)

				.num
					vertical-align baseline
					color #999
					font-size 13px
					font-weight normal
					text-align right
					margin-left 5px

				&:hover
					color $orange
					span
						border-bottom-color rgba($orange, 0.5)

			&.current
				& > a
				& > u
					color $orange
					font-weight 800

					span
						border-bottom none

					&:hover
						color $orange
						cursor default

				&.with-submenu > a
				&.with-submenu > u
					span
						border-bottom-color rgba($orange, 0.5)
			&.active
				&.with-submenu 
					&:before
						transform rotate(180deg)

			&.with-submenu
				&:before
					content ''
					position absolute
					display block
					top 12px
					left -17px
					sprite($accordeon__group)
					transition transform 0.2s ease-in-out
				& > a
				& > u
					span
						border-bottom 1px dotted

	.submenu
		display none
		&.active
			display block

		&__item
			a 
				padding-left 15px
				span
					border-bottom-style solid
				&:hover
					color $orange
					span
						border-bottom-color rgba($orange, 0.4)

			&.active > a
				position relative
				margin-left -20px
				padding-left 35px
				color $orange
				font-weight 800
				background $grey

				&:before
				&:after
					content ''
					position absolute
					display block
					width 0
					height 0
					right -45px
					border 30px solid transparent

				&:before
					top -30px
					border-bottom-color #fff
				&:after
					bottom -30px
					border-top-color #fff

				span
					border-bottom none

				&:hover
					cursor default

/* Кастомизация сайдбара каталога */
.store .b-sidebar
	margin 56px 0 0 20px

	h1
		margin-bottom 15px

/* Каталог */
.b-catalog
	margin-left 245px
	text-align left

	&__title
		margin-bottom 10px

	&__subtitle
		color #666
		line-height 20px
		font-size 13px
		margin -10px 0 10px

	&__controls
		height 40px
		padding 0	

		&-item
			height 40px
			font-size 13px
			line-height 40px
			margin-left 20px
			float right

			&:nth-of-type(1)
				margin-left 4px
				float left

		&--pushedright
			float right
			margin-top -55px

	&__quick-filter
		display none
		position relative
		float left
		margin -5px 20px 0 0
		width 230px
		height 50px
		
		&__input
			padding 17px 50px 13px 17px 
			font-size 18px
			border 1px solid transparent
			line-height 20px
			color #333
			width 230px
			height 50px

		&__icon			
			position absolute
			display block
			top 50%
			right 10px
			margin-top -15px
			cursor pointer
			sprite($icon__search--grey)

	&__items
		padding-top 20px
		padding-bottom 120px
		font-size 0

		&.chain-slider
			padding-bottom 20px
			margin 0 30px 100px

			.b-item__price
				margin-top -12px

		.owl-prev
		.owl-next
			top 100px
			
		.owl-prev
			left -30px
			sprite($arrow-prev__black)
			&:hover
				sprite($arrow-prev__hover)
			&:active
				sprite($arrow-prev__active)
		.owl-next
			right -30px
			sprite($arrow-next__black)
			&:hover
				sprite($arrow-next__hover)
			&:active
				sprite($arrow-next__active)

	&__item
		display inline-block
		vertical-align top

/* Карточка товара */
.b-item
	position relative

	&__picture
		height 228px
		line-height 228px
		background url('../images/catalog/default.png') 50% 50% no-repeat
		vertical-align middle
		text-align center
		

		img 
			display inline-block
			vertical-align middle
			max-width 100%
			max-height 100%

	&__title
		font-size 18px
		line-height 20px
		padding-bottom 12px
		.parameter
			color #666

	&__info
		position relative
		font-size 13px
		line-height 20px
		color #000
		padding 0 0 11px
		margin-bottom 8px

		p 
			margin-bottom 5px

		&:after
			content ''
			display block
			position absolute
			left 50%
			bottom 0
			margin-left -25px
			width 46px
			border-bottom 1px solid $green

	&__price
		color $green
		font-size 30px
		font-weight 800
		margin-top -0px

		&--old
			display inline-block
			position relative
			padding 0 5px
			text-align center
			color #999
			font-size 15px
			font-weight normal

			&:after
				content ''
				display block
				position absolute
				top 50%
				left 0
				width 100%
				border-top 1px solid #999

			& + .b-price
				/* margin-top -5px */

	&__badges
		display none

	&__order-button
		.btn-border
			position relative
			font-size 16px
			padding 19px 28px 17px 60px

			&:after
				content ''
				position absolute
				top 50%
				left 37px
				margin -11px 0 0 -11px
				sprite($icon__cart)


/* Каталог в разных состояниях */
.b-catalog__items
	&.cards
		.b-item
			width 242px
			text-align center
			&__info
			&__order-button
				display none

			&__popover
				.b-item__info
				.b-item__order-button
					display block
				.b-item__price
					margin-top 0

		&.cards--small
			padding-bottom 0

			.b-item
				width 150px
				text-align center
				&__info
				&__order-button
					display none
				&__picture
					height 150px
					line-height 150px
				&__title
					font-size 13px
					padding-bottom 3px

				.b-item__price
					font-size 18px
				.b-item__price--old
					font-size 10px
					& + .b-price
						margin-top 2px

				&__popover
					.b-item__info
					.b-item__order-button
						display block
					.b-item__price
						margin-top 0
	&.magazine
		padding 46px 0 70px
		.b-catalog__item
			margin-bottom 70px
			&:last-child
				margin-bottom 0
		.b-item
			width 100%
			min-width 726px

			&.with_popover
				.b-item__popover
					padding 30px 0
					top -30px

			&__picture
			&__order-button
			.responsive-holder
				position relative
				float left
				margin 0 -100% 0 0

			&__picture
				width 240px
				height 220px
				line-height 220px
				margin -30px -100% -30px 0
				left 0
				background-image none
				
			.responsive-holder
				width 230px
				left 265px
			&__order-button
				left 500px
			&__info:after
				display none
	&.titles
		padding 30px 0 50px

		.b-catalog__item
			margin-bottom 40px
			&:last-child
				margin-bottom 0
		.b-item
			width 100%
			min-width 726px

			.responsive-holder
				position relative

			&.with_popover
				.b-item__popover
					padding 25px 0
					top -25px

			&__picture
			&__description
			&__price
			&__order-button
				position relative
				float left
				margin 0 -100% 0 0

			&__picture
				width 160px
				height 140px
				line-height 190px
				margin -25px -100% -25px 0
				left 0
				background-image none
				
			&__description
				width 220px
				left 180px
			&__price
				width 120px
				left 370px
			&__order-button
				left 500px
			&__info:after
				display none

			&__order-button
			.btn-border
				font-size 13px
				padding 13px 21px 12px 46px

				&:after
					left 20px
					margin -9px 0 0 0
					sprite($icon__cart__small)


/* Карточка при наведении */
.b-item.with_popover 
	transition z-index .1s linear
	z-index 0

	.b-item__popover
		position absolute
		width 100%
		left 0
		top 0
		visibility hidden
	    opacity 0
		transition opacity .1s linear, visibility .1s linear
		z-index 4
	
	&:hover 
		z-index 5

		.b-item__popover
			visibility visible
			opacity 1

		
/* 4-й вид каталога */
.nosidebar 
	.b-sidebar
		width 151px
		z-index 20
		margin 0 -100% 0 0
		top -30px

		.btn
			display inline-block
			margin 0

		.dropdown__content
			width 183px
			box-sizing content-box
			padding 100px 30px 20px
			margin -12px 0 0 -13px

			li.active > a:after
			li.active > a:before
				display none

		.menu
			margin 0 -30px

			&__item
				a
				u
					padding-left 32px
				&.with-submenu:before
					left 10px

		.submenu__item
			a 
				padding-left 50px
				margin-left 0
			&.active
				a:hover
					background $grey
					color $orange
				
	.b-thermometer
		padding-left 165px
		height 60px
		margin-bottom -24px

		p
			line-height 60px
			margin 0

	.b-catalog
		margin-left 0

		&__controls
			position relative
			height 80px
			padding 20px 0	
			background $grey

			&:before
			&:after
				content ''
				position absolute
				display block
				width 100%
				top 0
				bottom 0
				background $grey

			&:before
				right 100%
			&:after
				left 100%

		&__quick-filter
			display block

