

.b-tech
	&__item
		margin-bottom 6px
		text-align left

	&__char
		float left
		width 60%

		span 
			background #FFF
			color #000
			padding-right 8px
			font-weight 800
			i
				font-weight normal

	&__value
		background #fff
		color #666
		margin 0 0 0 60%
		padding 0 8px
		display block


/* Блок рекомендованных товаров */
.b-recommended
	margin-top 60px
	position relative

	&__title
		text-align center

	&__slider-control
		position absolute
		top 3px
		cursor pointer

		&.prev
			left 0
			sprite($arrow-prev--small)

		&.next
			right 0
			sprite($arrow-next--small)

.with-button
	display inline-block
	margin-right 8px

/*
.btn-small
	text-transform uppercase
	font-size 12px
	line-height 18px
	margin 0
	padding 6px 20px
	border-width 2px
	vertical-align: top;
*/

.limits-wrapper
	line-height 20px
	text-align center

	.b-increment-input
		margin-bottom 20px