/* Просмотр товара */
.b-catalog-item
	text-align left

	/* Левая */
	.fotorama__thumb-border
		border-color #ccc

	&__title
		margin-bottom 10px

	&__subtitle
		color #666
		line-height 20px
		font-size 13px
		margin 0px 0 10px

	&__badges
		position absolute
		z-index 1

	&__badge
		display inline-block
		vertical-align top
		width 60px
		height 60px
		line-height 58px
		font-size 20px
		text-align center
		color #fff
		border-radius 60px
		margin-left 10px
		white-space nowrap
		user-select none
		cursor default

		&:first-child
			margin-left 0

		&--discount
			background $green
		&--bestseller
			background $red

	/* Правая */
	&__seller-info
		margin-bottom 30px

	&__description
		font-size 13px
		line-height 20px

	.b-item__price--old + .b-price
		margin-top 10px

	&__share
		a.b-share__handle
			font-size 13px
			color #000
			&:hover .b-share__text
				color #666

	/* Самая правая */
	&__limits
		margin-bottom 5px
		color #999
		.value
			color #333

	&__actions
		text-align center

		.btn-border
			position relative
			font-size 16px
			margin 0 auto 20px
			padding 19px 28px 17px 28px
			text-align center
			min-width 190px

			&.btn-with-icon
				padding-left 60px

				&:after
					content ''
					position absolute
					top 50%
					left 37px
					margin -11px 0 0 -11px
					sprite($icon__cart)

	/* Дополнительные блоки */
	&__aux
		border-top 1px solid #ccc
		padding-top 40px
		margin-top 40px

		h1 
			font-size 30px


a.b-share-popup__yandex
	display none
body .b-share-popup_up .b-share-popup_yandexed
body .b-share-popup__header_first
	padding-top 2px!important
		


/* Блок с информацией о продавце */
.b-seller-info
	background $grey
	padding 20px
	margin-top 12px

	&__summary
		margin-right 200px
		clearfix()

	&__photo
		width 120px
		height 120px
		border-radius 120px
		overflow hidden
		margin-right 25px
		float left

	&__title
		font-size 18px
		line-height 20px
		margin-top -2px
		font-weight normal

	&__subtitle
		margin-top 5px
		font-size 13px
		color #666
		
	&__characters-list
		margin-top 22px
		font-size 13px
		line-height 20px

		.value
			font-weight bold
			font-size 14px

			&--orange 
				color #7caa1f

			&--green
				color $green


	&__actions
		width 192px
		float right

		span.label
		.action
			display block
			font-size 13px
			line-height 20px

		span.label
			margin-top 1em

/* Выпадайка "поддержка" */
.b-support-info
	&__title
		display inline-block
		padding 20px 8px 4px 64px
		color $a__link

		span 
			border-bottom 1px dotted rgba($a__link, 0.5)

			&:before
				content ''
				position absolute
				top 3px
				left -35px
				margin-top -3px
				sprite($icon__support)

			&:hover
			&.active
				&:before
					sprite($icon__support__hover)	

	&__content
		padding 40px 30px 0

/* Звёздочки */
.b-stars
	display inline-block
	margin-right 10px
	overflow hidden
	position relative
	width 100px
	height 16px
	cursor default
	background $grey
	top 2px

	&__rating
	&:after
		width 100%
		height 100%
		position absolute

	&__rating
		background $orange
	&:after
		content ''
		display block
		sprite($stars)

/* Инпут-звездочек */
.voting
	display inline-block
	position relative
	overflow hidden
	sprite($stars--grey)

	
	li
		float left
		
	a
		position absolute
		top 0
		left 0
		display block
		height 16px
		text-indent -9999px
		
	a.current
	a:hover
	&:hover  a.current:hover
	&:hover  a:hover
		sprite($stars--orange)
		
		
	.voting:hover a.current
		background none
		
	&__one a
		width 20px!important
		z-index 5
		
	&__two a
		width 40px!important
		z-index 4
		
	&__three a
		width 60px!important
		z-index 3
		
	&__four a
		width 80px!important
		z-index 2
		
	&__five a
		width 100px!important
		z-index 1
		
.vote-input
	text-align left
	margin 25px 0 30px
	.voting
		margin-left 8px
		top 2px

/* Сердечки */
.empty_button
.drop_button
.like_button
	font-size 13px
	cursor pointer
	margin 0 auto
	display inline-block

.like_button
	.pseudo-link
		position relative

		&:before
			content ''
			display block
			position absolute
			top 8px
			left -22px
			margin-top -5px
			sprite($icon__like)

		&:hover:before
			sprite($icon__like--hover)

	&.active
		.pseudo-link
			&:before
				sprite($icon__like--active)

.drop_button
	.pseudo-link
		position relative

		&:before
			content ''
			display block
			position absolute
			top 8px
			left -22px
			margin-top -5px
			sprite($icon__deleteall)

.empty_button
	float right
	.pseudo-link
		color $red
		border-bottom 1px solid rgba($red, 0.25)
		&:hover
			color darken($red,50%)
			border-bottom-color rgba(darken($red,50%), 0.5)
	


.b-tech
	&__item
		margin-bottom 6px

	&__char
		float left
		width 60%
		span 
			background #FFF
			color #000
			padding-right 8px
			font-weight bold

	&__value
		background #fff
		color #666
		margin 0 0 0 60%
		padding 0 8px
		display block

/* Отзыв */
.b-review
	padding 30px 0 0

	&__info
		font-size 13px
		margin-bottom 10px


	&__author
		font-weight bold

	&__date
		padding-left 4px
		color #ccc


/* Блок рекомендованных товаров */
.b-recommended
	margin-top 60px
	position relative

	&__title
		text-align center

	&__slider-control
		position absolute
		top 3px
		cursor pointer

		&.prev
			left 0
			sprite($arrow-prev--small)

		&.next
			right 0
			sprite($arrow-next--small)

.with-button
	display inline-block
	margin-right 8px

.btn-small
	text-transform uppercase
	font-size 12px
	line-height 18px
	margin 0
	padding 6px 20px
	border-width 2px
	vertical-align: top;






