/* Строка поиска */
section.search
	padding 14px 0

/* Расширенный поиск */
section.advanced-search
	padding 16px 0
	transition all 0.5s ease-in-out

	.advanced-search-trigger
		text-align right
		&__text
			font-size 16px
			color $a__link
			text-decoration none
			border-bottom 1px dotted rgba($a__link, 0.4)
			cursor pointer
			&:hover
				color $a__hover
				border-bottom-color rgba($a__hover, 0.5)
			&:after
				right auto
				left -20px

	&.active
		background $grey
		margin-bottom 45px
		padding-bottom 40px
		& + .catalog-banner
			margin-top -45px

	.input-holder
		height 52px
		margin-bottom 17px

		.radio-circles
			height 52px
			line-height 52px
			.menu__item
				vertical-align middle

	.third.column
		.input-holder
			text-align right

	.inline-input
		height 52px
		color #333
		border-width 2px
		padding 10px 19px
		&--small
			padding 10px 15px
			width 104px
			
	.b-location
		margin-bottom 17px

	label
		margin-right 8px

		&.separator
			margin 0 2px



.b-advanced-search
	margin-top 30px

	&__submit
		margin-top 14px

	.icon.icon-search
		margin-left 6px

	.submenu__item
		a 
			padding-left 56px

#js-multilocation
	margin-right 8px
	margin-left 8px

	&.checked
		position relative
		&:before
			position absolute
			content ''
			display block
			top 50%
			left 50%
			sprite($icon__check)
			background-color none
			margin -14px 0 0 -6px
	&.part
		&:before
			position absolute
			content ''
			display block
			top 50%
			left 50%
			width 10px
			height 10px
			background $green
			margin -5px 0 0 -5px	

