/* Строка поиска */
section.search
	padding 14px 0

.b-location
	height 52px
	background #fff
	border-left 2px solid $grey
	text-align left

	&__current
		position relative
		display block
		width 100%
		height 52px
		padding 0 20px
		z-index 25

		color $a__link
		font-size 13px
		line-height 52px
		font-weight 800
		text-decoration none

	&__catalog
		.menu
			position relative
			
	.dropdown__content
		padding-top 52px
		z-index 24

.b-search
	position relative
	margin-right 190px
	border-right 273px solid $orange

	&-holder
		float left
		width 100%
		height 52px
		background #fff

	&__button
		position relative
		float right
		margin-right -190px
		padding-right 30px
		right -273px
		width 171px
		height 52px
		border none
		background $green
		color #fff
		text-transform uppercase
		font-size 16px
		line-height 52px
		letter-spacing 1px
		transition background 0.2s ease-in-out

		&:hover
			background darken($green, 25%)
		&:active
			top 1px
			background darken($green, 50%)0

		&:after
			content ''
			position absolute
			top 50%
			margin-top -15px
			right 18px
			sprite($icon__search)

	&__input
		width 100%
		height 52px
		font-size 18px
		line-height 32px
		border none
		padding 5px 18px
		box-sizing border-box!important
		color #333

	.b-location
		float right
		margin-right -273px
		width 273px
		z-index 9


/* Расширенный поиск */
section.advanced-search
	padding 16px 0
	transition all 0.5s ease-in-out

	.advanced-search-trigger
		text-align right
		&__text
			font-size 16px
			color $a__link
			text-decoration none
			border-bottom 1px dotted rgba($a__link, 0.4)
			cursor pointer
			&:hover
				color $a__hover
				border-bottom-color rgba($a__hover, 0.5)
			&:after
				right auto
				left -20px

	&.active
		background $grey
		margin-bottom 45px
		padding-bottom 40px
		& + .catalog-banner
			margin-top -45px

	.input-holder
		height 52px
		margin-bottom 17px

		.radio-circles
			height 52px
			line-height 52px
			.menu__item
				vertical-align middle

	.third.column
		.input-holder
			text-align right

	.inline-input
		height 52px
		color #333
		border-width 2px
		padding 15px 19px
		&--small
			padding 15px
			width 104px

	label
		margin-right 8px

		&.separator
			margin 0 2px



.b-advanced-search
	margin-top 30px

	&__submit
		width 100%
		font-size 16px
		margin-top 14px
		padding 19px 90px 17px
		font-weight bold

		i.icon
			display inline-block
			margin -10px 0 -8px 6px
			sprite($icon__search--black)
		&:hover
			i.icon
				sprite($icon__search)

	.submenu__item
		a 
			padding-left 56px

#js-multilocation
	margin-right 8px
	margin-left 8px

	&.checked
		position relative
		&:before
			position absolute
			content ''
			display block
			top 50%
			left 50%
			sprite($icon__check)
			background none
			margin -14px 0 0 -6px
	&.part
		&:before
			position absolute
			content ''
			display block
			top 50%
			left 50%
			width 9px
			height 9px
			background $green
			margin -5px 0 0 -5px	












