/* Строка поиска */
section.search
	padding 14px 0

/* Расширенный поиск */
section.advanced-search
	padding 16px 0
	transition all 0.5s ease-in-out

	.advanced-search-trigger
		text-align right
		&__text
			font-size 16px
			color $a__link
			text-decoration none
			border-bottom 1px dotted rgba($a__link, 0.4)
			cursor pointer
			&:hover
				color $a__hover
				border-bottom-color rgba($a__hover, 0.5)
			&:after
				right auto
				left -20px

	&.active
		background $grey
		margin-bottom 45px
		padding-bottom 40px
		& + .catalog-banner
			margin-top -45px

	.input-holder
		height 52px
		margin-bottom 17px

		.radio-circles
			height 52px
			line-height 52px
			.menu__item
				vertical-align middle

	.third.column
		.input-holder
			text-align right

	.inline-input
		height 52px
		color #333
		border-width 2px
		padding 10px 19px
		&--small
			padding 10px 15px
			width 104px
			
	.b-location
		margin-bottom 17px

	label
		margin-right 8px

		&.separator
			margin 0 2px



