/* Инлайновый дропдаун */
.inline-sorter 
	display inline-block
	padding 0 30px 0 20px
	margin-left -18px
	min-width 120px
	text-align left
	line-height 16px
	z-index 6

	.menu 
		border-top 1px solid $grey

	.selector__current
		color $a__link
		font-weight 800
		border-bottom 1px dotted rgba($a__link, 0.4)
		&.active
			border-bottom none

	.dropdown__content
		top -8px
		padding-top 30px

/* Круглые кнопки */
.radio-circles
	display inline-block
	vertical-align middle

	.menu
		font-size 0

	.menu__item
		display inline-block
		vertical-align bottom
		width 40px
		height 40px
		margin-left 10px
		
		span.ellipsis
			display block
			position relative
			width 100%
			height 100%
			text-decoration none
			color #333
			line-height 36px
			text-align center
			font-size 18px
		
		a 
			display block
			position relative
			width 100%
			height 100%
			text-decoration none
			color #333
			line-height 36px
			text-align center
			border-radius 40px
			border 2px solid $orange
			font-size 18px
			&:after
				content ''
				position absolute
				top -3px
				left -3px
				display block
				width 40px
				height 40px
				border-radius 40px
				background rgba(0,0,0,0)
				transition background 0.1s ease-in-out

			&:hover
				border-width 3px
				line-height 34px
			&:active
				top 1px
				background $orange
				&:after
					background rgba(0,0,0,0.25)

		&:first-child
			margin-left 6px

		&.active 
			a
				background $orange
				&:hover
					cursor default
				&:active
					top 0
					&:after
						display none

		.icon
			position absolute
			top 50%
			left 50%
			margin -8px 0 0 -8px

			&__currency--rub
				margin -7px 0 0 -5px
				sprite($icon__currency--rub)
			&__currency--dol
				margin -8px 0 0 -5px
				sprite($icon__currency--dol)
			&__currency--eur
				margin -7px 0 0 -7px
				sprite($icon__currency--eur)
			&__currency--lcn
				margin -7px 0 0 -7px
				sprite($icon__currency--lcn)
			&__currency--btc
				margin -9px 0 0 -6px
				sprite($icon__currency--btc)
			&__cards
				sprite($icon__cards)
			&__magazine
				sprite($icon__magazine)
			&__titles
				sprite($icon__titles)
			&__profile
				margin -10px 0 0 -8px
				sprite($icon__profile)
			&__cart
				margin -10px 0 0 -12px
				sprite($icon__cart)
			&__mail
				margin -7px 0 0 -11px
				sprite($icon__mail)

.circles-menu
	display inline-block
	vertical-align middle
	font-size 0
	height 120px
	line-height 120px

	&__num
		position absolute
		top -4px
		right -4px
		font-weight normal
		font-size 14px
		line-height 14px
		color #fff
		display inline-block
		text-align center
		background $red
		padding 3px 6px
		border-radius 100px

	&__item
		width 60px
		height 60px
		vertical-align middle
		display inline-block
		margin 12px 10px 0 0

		&:last-child 
			margin-right 0

		& > a 
			display block
			position relative
			width 100%
			height 100%
			text-decoration none
			color #333
			line-height 36px
			text-align center
			border-radius 40px
			border 4px solid $orange
			background-color #FFF!important
			font-size 18px

			&.disabled
				opacity 0.5
				cursor default
				&:hover
					border-width 4px
					.circles-menu__num
						right -4px
						top -4px
				&:active
					top 0
					background #fff

			&.with-icon
				padding-left 0

				&:before
					content ''
					display block
					position absolute
					top 50%
					left 50%
					z-index -1

				&.icon__profile
					&:before
						margin -10px 0 0 -8px
						sprite($icon__profile)

					&.with-userpic
						background url('http://api.randomuser.me/portraits/med/men/7.jpg')
						background-size cover
						
						&:before
						&:after
							display none
						

				&.icon__cart
					&:before
						margin -10px 0 0 -12px
						sprite($icon__cart)
				&.icon__mail
					&:before
						margin -7px 0 0 -11px
						sprite($icon__mail)

			&:after
				display none
			&:hover
				border-width 5px
				.circles-menu__num
					right -5px
					top -5px
			&:active
				top 1px
				background $orange

			&.active
				&:hover
					border-width 4px
				&:active
					background #fff
				&.icon__profile
					&:before
						sprite($icon__profile__hover)
				&.icon__cart
					&:before
						sprite($icon__cart__hover)
				&.icon__mail
					&:before
						sprite($icon__mail__hover)

.active.dropdown__trigger .circles-menu__num
	top -4px!important
	right -4px!important
	/* display none */

/* Форматирование цены */
.b-price
	&__number
		font-size 100%
	&__thinsp
		font-size 50%
		line-height 1
	&__rubl
		font-family $rubl
		line-height normal
	&__separator
		margin 0 0.2em 0 0

.b-increment-input
	position relative
	display inline-block
	max-width 190px

	&__uarr
	&__darr
		position absolute
		top 50%
		margin-top -18px
		cursor pointer
		height 36px
		width 36px
		border-radius 36px
		border 2px solid #ccc
		font-weight bold
		font-size 18px
		line-height 34px
		text-align center
		line-height 32px
		user-select none
		background #fff

		&:active
			margin-top -17px

		&.disabled
			cursor default
			opacity 0.2
			pointer-events none


	&__darr
		left 0
		color $red
		&:before
			pseudo__center()
			width 16px
			height 2px
			margin -1px 0 0 -8px
			background $red
		&:hover
			border-color $red
		&:active
			border-color darken($red, 24%)

	&__uarr
		right 0
		color $green
		&:before
		&:after
			pseudo__center()
			background $green
		&:before
			width 16px
			height 2px
			margin -1px 0 0 -8px
		&:after
			width 2px
			height 16px
			margin -8px 0 0 -1px
		&:hover
			border-color $green
		&:active
			border-color darken($green, 24%)


	&__input-wrapper
		display inline-block
		vertical-align middle
		padding 0
		margin 0 46px
		height 52px

	&__input[type="text"]
		vertical-align top
		text-align center
		background $grey
		width 80px // 98px
		height 52px
		padding 0 18px
	










		
/* Убрать после тестирования! */
#collapse-menu
	cursor pointer

