section.cases
	.fotorama__nav-wrap
		margin-top -18px

	.fotorama__nav__shaft
		padding-bottom 12px

	.fotorama__nav--dots .fotorama__nav__frame
		width 24px

	.fotorama__dot
		width 12px
		height 12px
		border-radius 12px
		border 2px solid $orange

	.fotorama__nav__frame.fotorama__active .fotorama__dot
		width 12px
		height 12px
		border-width 2px
		background $orange

