@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait), screen and (min-width: 641px) and (max-width: 800px)
	.benefits-slider
		width auto

		.owl-item
			padding-right 10px

		.benefit
			i
				transform scale(0.85)

		h2
			font-size 24px
		p
			text-align left
