@media only screen and (max-width: 640px)
	.nosidebar 
		.b-sidebar
			float none
			width 100%
			padding 0 30px
			top -5px

			.btn
				width auto
				margin 0
				display block
				text-align left
				padding-left 24px

				&:hover
					padding-left 21px

			.dropdown__content
				width auto
				margin -12px 20px 0 20px

		.b-catalog__controls

			&--pushedright
				float none
				margin 0 auto
				background none !important
				
				.b-catalog__controls-item
					text-align center

		.b-catalog__title
			text-align center

		.b-thermometer
			padding 0
			margin 0
			text-align center
			top 0

		
