/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$accordeon__group_x = 337px;
$accordeon__group_y = 208px;
$accordeon__group_offset_x = -337px;
$accordeon__group_offset_y = -208px;
$accordeon__group_width = 12px;
$accordeon__group_height = 8px;
$accordeon__group_total_width = 396px;
$accordeon__group_total_height = 273px;
$accordeon__group_image = '../themes/default/images/sprite.png';
$accordeon__group = 337px 208px -337px -208px 12px 8px 396px 273px '../themes/default/images/sprite.png';
$arrow-backwards_x = 156px;
$arrow-backwards_y = 184px;
$arrow-backwards_offset_x = -156px;
$arrow-backwards_offset_y = -184px;
$arrow-backwards_width = 25px;
$arrow-backwards_height = 24px;
$arrow-backwards_total_width = 396px;
$arrow-backwards_total_height = 273px;
$arrow-backwards_image = '../themes/default/images/sprite.png';
$arrow-backwards = 156px 184px -156px -184px 25px 24px 396px 273px '../themes/default/images/sprite.png';
$arrow-backwards__hover_x = 216px;
$arrow-backwards__hover_y = 184px;
$arrow-backwards__hover_offset_x = -216px;
$arrow-backwards__hover_offset_y = -184px;
$arrow-backwards__hover_width = 25px;
$arrow-backwards__hover_height = 24px;
$arrow-backwards__hover_total_width = 396px;
$arrow-backwards__hover_total_height = 273px;
$arrow-backwards__hover_image = '../themes/default/images/sprite.png';
$arrow-backwards__hover = 216px 184px -216px -184px 25px 24px 396px 273px '../themes/default/images/sprite.png';
$arrow-next--small_x = 381px;
$arrow-next--small_y = 142px;
$arrow-next--small_offset_x = -381px;
$arrow-next--small_offset_y = -142px;
$arrow-next--small_width = 8px;
$arrow-next--small_height = 14px;
$arrow-next--small_total_width = 396px;
$arrow-next--small_total_height = 273px;
$arrow-next--small_image = '../themes/default/images/sprite.png';
$arrow-next--small = 381px 142px -381px -142px 8px 14px 396px 273px '../themes/default/images/sprite.png';
$arrow-next_x = 0px;
$arrow-next_y = 184px;
$arrow-next_offset_x = 0px;
$arrow-next_offset_y = -184px;
$arrow-next_width = 32px;
$arrow-next_height = 62px;
$arrow-next_total_width = 396px;
$arrow-next_total_height = 273px;
$arrow-next_image = '../themes/default/images/sprite.png';
$arrow-next = 0px 184px 0px -184px 32px 62px 396px 273px '../themes/default/images/sprite.png';
$arrow-next__active_x = 184px;
$arrow-next__active_y = 0px;
$arrow-next__active_offset_x = -184px;
$arrow-next__active_offset_y = 0px;
$arrow-next__active_width = 32px;
$arrow-next__active_height = 62px;
$arrow-next__active_total_width = 396px;
$arrow-next__active_total_height = 273px;
$arrow-next__active_image = '../themes/default/images/sprite.png';
$arrow-next__active = 184px 0px -184px 0px 32px 62px 396px 273px '../themes/default/images/sprite.png';
$arrow-next__black_x = 224px;
$arrow-next__black_y = 70px;
$arrow-next__black_offset_x = -224px;
$arrow-next__black_offset_y = -70px;
$arrow-next__black_width = 32px;
$arrow-next__black_height = 62px;
$arrow-next__black_total_width = 396px;
$arrow-next__black_total_height = 273px;
$arrow-next__black_image = '../themes/default/images/sprite.png';
$arrow-next__black = 224px 70px -224px -70px 32px 62px 396px 273px '../themes/default/images/sprite.png';
$arrow-next__hover_x = 92px;
$arrow-next__hover_y = 92px;
$arrow-next__hover_offset_x = -92px;
$arrow-next__hover_offset_y = -92px;
$arrow-next__hover_width = 32px;
$arrow-next__hover_height = 62px;
$arrow-next__hover_total_width = 396px;
$arrow-next__hover_total_height = 273px;
$arrow-next__hover_image = '../themes/default/images/sprite.png';
$arrow-next__hover = 92px 92px -92px -92px 32px 62px 396px 273px '../themes/default/images/sprite.png';
$arrow-prev--small_x = 365px;
$arrow-prev--small_y = 142px;
$arrow-prev--small_offset_x = -365px;
$arrow-prev--small_offset_y = -142px;
$arrow-prev--small_width = 8px;
$arrow-prev--small_height = 14px;
$arrow-prev--small_total_width = 396px;
$arrow-prev--small_total_height = 273px;
$arrow-prev--small_image = '../themes/default/images/sprite.png';
$arrow-prev--small = 365px 142px -365px -142px 8px 14px 396px 273px '../themes/default/images/sprite.png';
$arrow-prev_x = 132px;
$arrow-prev_y = 92px;
$arrow-prev_offset_x = -132px;
$arrow-prev_offset_y = -92px;
$arrow-prev_width = 32px;
$arrow-prev_height = 62px;
$arrow-prev_total_width = 396px;
$arrow-prev_total_height = 273px;
$arrow-prev_image = '../themes/default/images/sprite.png';
$arrow-prev = 132px 92px -132px -92px 32px 62px 396px 273px '../themes/default/images/sprite.png';
$arrow-prev__active_x = 40px;
$arrow-prev__active_y = 184px;
$arrow-prev__active_offset_x = -40px;
$arrow-prev__active_offset_y = -184px;
$arrow-prev__active_width = 32px;
$arrow-prev__active_height = 62px;
$arrow-prev__active_total_width = 396px;
$arrow-prev__active_total_height = 273px;
$arrow-prev__active_image = '../themes/default/images/sprite.png';
$arrow-prev__active = 40px 184px -40px -184px 32px 62px 396px 273px '../themes/default/images/sprite.png';
$arrow-prev__black_x = 184px;
$arrow-prev__black_y = 70px;
$arrow-prev__black_offset_x = -184px;
$arrow-prev__black_offset_y = -70px;
$arrow-prev__black_width = 32px;
$arrow-prev__black_height = 62px;
$arrow-prev__black_total_width = 396px;
$arrow-prev__black_total_height = 273px;
$arrow-prev__black_image = '../themes/default/images/sprite.png';
$arrow-prev__black = 184px 70px -184px -70px 32px 62px 396px 273px '../themes/default/images/sprite.png';
$arrow-prev__hover_x = 224px;
$arrow-prev__hover_y = 0px;
$arrow-prev__hover_offset_x = -224px;
$arrow-prev__hover_offset_y = 0px;
$arrow-prev__hover_width = 32px;
$arrow-prev__hover_height = 62px;
$arrow-prev__hover_total_width = 396px;
$arrow-prev__hover_total_height = 273px;
$arrow-prev__hover_image = '../themes/default/images/sprite.png';
$arrow-prev__hover = 224px 0px -224px 0px 32px 62px 396px 273px '../themes/default/images/sprite.png';
$dropdown__active_x = 296px;
$dropdown__active_y = 208px;
$dropdown__active_offset_x = -296px;
$dropdown__active_offset_y = -208px;
$dropdown__active_width = 11px;
$dropdown__active_height = 10px;
$dropdown__active_total_width = 396px;
$dropdown__active_total_height = 273px;
$dropdown__active_image = '../themes/default/images/sprite.png';
$dropdown__active = 296px 208px -296px -208px 11px 10px 396px 273px '../themes/default/images/sprite.png';
$icon__addmail_x = 0px;
$icon__addmail_y = 254px;
$icon__addmail_offset_x = 0px;
$icon__addmail_offset_y = -254px;
$icon__addmail_width = 25px;
$icon__addmail_height = 19px;
$icon__addmail_total_width = 396px;
$icon__addmail_total_height = 273px;
$icon__addmail_image = '../themes/default/images/sprite.png';
$icon__addmail = 0px 254px 0px -254px 25px 19px 396px 273px '../themes/default/images/sprite.png';
$icon__cancel_x = 234px;
$icon__cancel_y = 222px;
$icon__cancel_offset_x = -234px;
$icon__cancel_offset_y = -222px;
$icon__cancel_width = 17px;
$icon__cancel_height = 17px;
$icon__cancel_total_width = 396px;
$icon__cancel_total_height = 273px;
$icon__cancel_image = '../themes/default/images/sprite.png';
$icon__cancel = 234px 222px -234px -222px 17px 17px 396px 273px '../themes/default/images/sprite.png';
$icon__cancelled_x = 76px;
$icon__cancelled_y = 254px;
$icon__cancelled_offset_x = -76px;
$icon__cancelled_offset_y = -254px;
$icon__cancelled_width = 16px;
$icon__cancelled_height = 16px;
$icon__cancelled_total_width = 396px;
$icon__cancelled_total_height = 273px;
$icon__cancelled_image = '../themes/default/images/sprite.png';
$icon__cancelled = 76px 254px -76px -254px 16px 16px 396px 273px '../themes/default/images/sprite.png';
$icon__cards_x = 172px;
$icon__cards_y = 254px;
$icon__cards_offset_x = -172px;
$icon__cards_offset_y = -254px;
$icon__cards_width = 16px;
$icon__cards_height = 16px;
$icon__cards_total_width = 396px;
$icon__cards_total_height = 273px;
$icon__cards_image = '../themes/default/images/sprite.png';
$icon__cards = 172px 254px -172px -254px 16px 16px 396px 273px '../themes/default/images/sprite.png';
$icon__cart_x = 264px;
$icon__cart_y = 0px;
$icon__cart_offset_x = -264px;
$icon__cart_offset_y = 0px;
$icon__cart_width = 24px;
$icon__cart_height = 20px;
$icon__cart_total_width = 396px;
$icon__cart_total_height = 273px;
$icon__cart_image = '../themes/default/images/sprite.png';
$icon__cart = 264px 0px -264px 0px 24px 20px 396px 273px '../themes/default/images/sprite.png';
$icon__cart__hover_x = 178px;
$icon__cart__hover_y = 222px;
$icon__cart__hover_offset_x = -178px;
$icon__cart__hover_offset_y = -222px;
$icon__cart__hover_width = 24px;
$icon__cart__hover_height = 20px;
$icon__cart__hover_total_width = 396px;
$icon__cart__hover_total_height = 273px;
$icon__cart__hover_image = '../themes/default/images/sprite.png';
$icon__cart__hover = 178px 222px -178px -222px 24px 20px 396px 273px '../themes/default/images/sprite.png';
$icon__cart__small_x = 324px;
$icon__cart__small_y = 48px;
$icon__cart__small_offset_x = -324px;
$icon__cart__small_offset_y = -48px;
$icon__cart__small_width = 19px;
$icon__cart__small_height = 16px;
$icon__cart__small_total_width = 396px;
$icon__cart__small_total_height = 273px;
$icon__cart__small_image = '../themes/default/images/sprite.png';
$icon__cart__small = 324px 48px -324px -48px 19px 16px 396px 273px '../themes/default/images/sprite.png';
$icon__catalog_x = 189px;
$icon__catalog_y = 184px;
$icon__catalog_offset_x = -189px;
$icon__catalog_offset_y = -184px;
$icon__catalog_width = 19px;
$icon__catalog_height = 24px;
$icon__catalog_total_width = 396px;
$icon__catalog_total_height = 273px;
$icon__catalog_image = '../themes/default/images/sprite.png';
$icon__catalog = 189px 184px -189px -184px 19px 24px 396px 273px '../themes/default/images/sprite.png';
$icon__check_x = 264px;
$icon__check_y = 136px;
$icon__check_offset_x = -264px;
$icon__check_offset_y = -136px;
$icon__check_width = 23px;
$icon__check_height = 18px;
$icon__check_total_width = 396px;
$icon__check_total_height = 273px;
$icon__check_image = '../themes/default/images/sprite.png';
$icon__check = 264px 136px -264px -136px 23px 18px 396px 273px '../themes/default/images/sprite.png';
$icon__checking_x = 196px;
$icon__checking_y = 254px;
$icon__checking_offset_x = -196px;
$icon__checking_offset_y = -254px;
$icon__checking_width = 16px;
$icon__checking_height = 16px;
$icon__checking_total_width = 396px;
$icon__checking_total_height = 273px;
$icon__checking_image = '../themes/default/images/sprite.png';
$icon__checking = 196px 254px -196px -254px 16px 16px 396px 273px '../themes/default/images/sprite.png';
$icon__cross_x = 268px;
$icon__cross_y = 254px;
$icon__cross_offset_x = -268px;
$icon__cross_offset_y = -254px;
$icon__cross_width = 16px;
$icon__cross_height = 16px;
$icon__cross_total_width = 396px;
$icon__cross_total_height = 273px;
$icon__cross_image = '../themes/default/images/sprite.png';
$icon__cross = 268px 254px -268px -254px 16px 16px 396px 273px '../themes/default/images/sprite.png';
$icon__currency--btc_x = 264px;
$icon__currency--btc_y = 187px;
$icon__currency--btc_offset_x = -264px;
$icon__currency--btc_offset_y = -187px;
$icon__currency--btc_width = 13px;
$icon__currency--btc_height = 17px;
$icon__currency--btc_total_width = 396px;
$icon__currency--btc_total_height = 273px;
$icon__currency--btc_image = '../themes/default/images/sprite.png';
$icon__currency--btc = 264px 187px -264px -187px 13px 17px 396px 273px '../themes/default/images/sprite.png';
$icon__currency--dol_x = 264px;
$icon__currency--dol_y = 212px;
$icon__currency--dol_offset_x = -264px;
$icon__currency--dol_offset_y = -212px;
$icon__currency--dol_width = 10px;
$icon__currency--dol_height = 17px;
$icon__currency--dol_total_width = 396px;
$icon__currency--dol_total_height = 273px;
$icon__currency--dol_image = '../themes/default/images/sprite.png';
$icon__currency--dol = 264px 212px -264px -212px 10px 17px 396px 273px '../themes/default/images/sprite.png';
$icon__currency--eur_x = 337px;
$icon__currency--eur_y = 187px;
$icon__currency--eur_offset_x = -337px;
$icon__currency--eur_offset_y = -187px;
$icon__currency--eur_width = 11px;
$icon__currency--eur_height = 13px;
$icon__currency--eur_total_width = 396px;
$icon__currency--eur_total_height = 273px;
$icon__currency--eur_image = '../themes/default/images/sprite.png';
$icon__currency--eur = 337px 187px -337px -187px 11px 13px 396px 273px '../themes/default/images/sprite.png';
$icon__currency--lcn_x = 316px;
$icon__currency--lcn_y = 187px;
$icon__currency--lcn_offset_x = -316px;
$icon__currency--lcn_offset_y = -187px;
$icon__currency--lcn_width = 13px;
$icon__currency--lcn_height = 13px;
$icon__currency--lcn_total_width = 396px;
$icon__currency--lcn_total_height = 273px;
$icon__currency--lcn_image = '../themes/default/images/sprite.png';
$icon__currency--lcn = 316px 187px -316px -187px 13px 13px 396px 273px '../themes/default/images/sprite.png';
$icon__currency--rub_x = 296px;
$icon__currency--rub_y = 187px;
$icon__currency--rub_offset_x = -296px;
$icon__currency--rub_offset_y = -187px;
$icon__currency--rub_width = 12px;
$icon__currency--rub_height = 13px;
$icon__currency--rub_total_width = 396px;
$icon__currency--rub_total_height = 273px;
$icon__currency--rub_image = '../themes/default/images/sprite.png';
$icon__currency--rub = 296px 187px -296px -187px 12px 13px 396px 273px '../themes/default/images/sprite.png';
$icon__deleteall_x = 100px;
$icon__deleteall_y = 254px;
$icon__deleteall_offset_x = -100px;
$icon__deleteall_offset_y = -254px;
$icon__deleteall_width = 16px;
$icon__deleteall_height = 16px;
$icon__deleteall_total_width = 396px;
$icon__deleteall_total_height = 273px;
$icon__deleteall_image = '../themes/default/images/sprite.png';
$icon__deleteall = 100px 254px -100px -254px 16px 16px 396px 273px '../themes/default/images/sprite.png';
$icon__done_x = 124px;
$icon__done_y = 254px;
$icon__done_offset_x = -124px;
$icon__done_offset_y = -254px;
$icon__done_width = 20px;
$icon__done_height = 16px;
$icon__done_total_width = 396px;
$icon__done_total_height = 273px;
$icon__done_image = '../themes/default/images/sprite.png';
$icon__done = 124px 254px -124px -254px 20px 16px 396px 273px '../themes/default/images/sprite.png';
$icon__download_x = 59px;
$icon__download_y = 254px;
$icon__download_offset_x = -59px;
$icon__download_offset_y = -254px;
$icon__download_width = 9px;
$icon__download_height = 17px;
$icon__download_total_width = 396px;
$icon__download_total_height = 273px;
$icon__download_image = '../themes/default/images/sprite.png';
$icon__download = 59px 254px -59px -254px 9px 17px 396px 273px '../themes/default/images/sprite.png';
$icon__drop--black_x = 319px;
$icon__drop--black_y = 142px;
$icon__drop--black_offset_x = -319px;
$icon__drop--black_offset_y = -142px;
$icon__drop--black_width = 15px;
$icon__drop--black_height = 15px;
$icon__drop--black_total_width = 396px;
$icon__drop--black_total_height = 273px;
$icon__drop--black_image = '../themes/default/images/sprite.png';
$icon__drop--black = 319px 142px -319px -142px 15px 15px 396px 273px '../themes/default/images/sprite.png';
$icon__drop--orange_x = 296px;
$icon__drop--orange_y = 142px;
$icon__drop--orange_offset_x = -296px;
$icon__drop--orange_offset_y = -142px;
$icon__drop--orange_width = 15px;
$icon__drop--orange_height = 15px;
$icon__drop--orange_total_width = 396px;
$icon__drop--orange_total_height = 273px;
$icon__drop--orange_image = '../themes/default/images/sprite.png';
$icon__drop--orange = 296px 142px -296px -142px 15px 15px 396px 273px '../themes/default/images/sprite.png';
$icon__drop--white_x = 342px;
$icon__drop--white_y = 142px;
$icon__drop--white_offset_x = -342px;
$icon__drop--white_offset_y = -142px;
$icon__drop--white_width = 15px;
$icon__drop--white_height = 15px;
$icon__drop--white_total_width = 396px;
$icon__drop--white_total_height = 273px;
$icon__drop--white_image = '../themes/default/images/sprite.png';
$icon__drop--white = 342px 142px -342px -142px 15px 15px 396px 273px '../themes/default/images/sprite.png';
$icon__drop--white__active_x = 371px;
$icon__drop--white__active_y = 119px;
$icon__drop--white__active_offset_x = -371px;
$icon__drop--white__active_offset_y = -119px;
$icon__drop--white__active_width = 15px;
$icon__drop--white__active_height = 15px;
$icon__drop--white__active_total_width = 396px;
$icon__drop--white__active_total_height = 273px;
$icon__drop--white__active_image = '../themes/default/images/sprite.png';
$icon__drop--white__active = 371px 119px -371px -119px 15px 15px 396px 273px '../themes/default/images/sprite.png';
$icon__drop_x = 348px;
$icon__drop_y = 119px;
$icon__drop_offset_x = -348px;
$icon__drop_offset_y = -119px;
$icon__drop_width = 15px;
$icon__drop_height = 15px;
$icon__drop_total_width = 396px;
$icon__drop_total_height = 273px;
$icon__drop_image = '../themes/default/images/sprite.png';
$icon__drop = 348px 119px -348px -119px 15px 15px 396px 273px '../themes/default/images/sprite.png';
$icon__drop__active_x = 325px;
$icon__drop__active_y = 119px;
$icon__drop__active_offset_x = -325px;
$icon__drop__active_offset_y = -119px;
$icon__drop__active_width = 15px;
$icon__drop__active_height = 15px;
$icon__drop__active_total_width = 396px;
$icon__drop__active_total_height = 273px;
$icon__drop__active_image = '../themes/default/images/sprite.png';
$icon__drop__active = 325px 119px -325px -119px 15px 15px 396px 273px '../themes/default/images/sprite.png';
$icon__edit_x = 296px;
$icon__edit_y = 165px;
$icon__edit_offset_x = -296px;
$icon__edit_offset_y = -165px;
$icon__edit_width = 17px;
$icon__edit_height = 14px;
$icon__edit_total_width = 396px;
$icon__edit_total_height = 273px;
$icon__edit_image = '../themes/default/images/sprite.png';
$icon__edit = 296px 165px -296px -165px 17px 14px 396px 273px '../themes/default/images/sprite.png';
$icon__file_x = 351px;
$icon__file_y = 48px;
$icon__file_offset_x = -351px;
$icon__file_offset_y = -48px;
$icon__file_width = 12px;
$icon__file_height = 15px;
$icon__file_total_width = 396px;
$icon__file_total_height = 273px;
$icon__file_image = '../themes/default/images/sprite.png';
$icon__file = 351px 48px -351px -48px 12px 15px 396px 273px '../themes/default/images/sprite.png';
$icon__forming_x = 264px;
$icon__forming_y = 84px;
$icon__forming_offset_x = -264px;
$icon__forming_offset_y = -84px;
$icon__forming_width = 19px;
$icon__forming_height = 18px;
$icon__forming_total_width = 396px;
$icon__forming_total_height = 273px;
$icon__forming_image = '../themes/default/images/sprite.png';
$icon__forming = 264px 84px -264px -84px 19px 18px 396px 273px '../themes/default/images/sprite.png';
$icon__inprogress_x = 264px;
$icon__inprogress_y = 110px;
$icon__inprogress_offset_x = -264px;
$icon__inprogress_offset_y = -110px;
$icon__inprogress_width = 18px;
$icon__inprogress_height = 18px;
$icon__inprogress_total_width = 396px;
$icon__inprogress_total_height = 273px;
$icon__inprogress_image = '../themes/default/images/sprite.png';
$icon__inprogress = 264px 110px -264px -110px 18px 18px 396px 273px '../themes/default/images/sprite.png';
$icon__like--active_x = 377px;
$icon__like--active_y = 96px;
$icon__like--active_offset_x = -377px;
$icon__like--active_offset_y = -96px;
$icon__like--active_width = 18px;
$icon__like--active_height = 15px;
$icon__like--active_total_width = 396px;
$icon__like--active_total_height = 273px;
$icon__like--active_image = '../themes/default/images/sprite.png';
$icon__like--active = 377px 96px -377px -96px 18px 15px 396px 273px '../themes/default/images/sprite.png';
$icon__like--hover_x = 351px;
$icon__like--hover_y = 96px;
$icon__like--hover_offset_x = -351px;
$icon__like--hover_offset_y = -96px;
$icon__like--hover_width = 18px;
$icon__like--hover_height = 15px;
$icon__like--hover_total_width = 396px;
$icon__like--hover_total_height = 273px;
$icon__like--hover_image = '../themes/default/images/sprite.png';
$icon__like--hover = 351px 96px -351px -96px 18px 15px 396px 273px '../themes/default/images/sprite.png';
$icon__like_x = 325px;
$icon__like_y = 96px;
$icon__like_offset_x = -325px;
$icon__like_offset_y = -96px;
$icon__like_width = 18px;
$icon__like_height = 15px;
$icon__like_total_width = 396px;
$icon__like_total_height = 273px;
$icon__like_image = '../themes/default/images/sprite.png';
$icon__like = 325px 96px -325px -96px 18px 15px 396px 273px '../themes/default/images/sprite.png';
$icon__login_x = 377px;
$icon__login_y = 187px;
$icon__login_offset_x = -377px;
$icon__login_offset_y = -187px;
$icon__login_width = 8px;
$icon__login_height = 11px;
$icon__login_total_width = 396px;
$icon__login_total_height = 273px;
$icon__login_image = '../themes/default/images/sprite.png';
$icon__login = 377px 187px -377px -187px 8px 11px 396px 273px '../themes/default/images/sprite.png';
$icon__logout_x = 321px;
$icon__logout_y = 165px;
$icon__logout_offset_x = -321px;
$icon__logout_offset_y = -165px;
$icon__logout_width = 12px;
$icon__logout_height = 14px;
$icon__logout_total_width = 396px;
$icon__logout_total_height = 273px;
$icon__logout_image = '../themes/default/images/sprite.png';
$icon__logout = 321px 165px -321px -165px 12px 14px 396px 273px '../themes/default/images/sprite.png';
$icon__magazine_x = 244px;
$icon__magazine_y = 254px;
$icon__magazine_offset_x = -244px;
$icon__magazine_offset_y = -254px;
$icon__magazine_width = 16px;
$icon__magazine_height = 16px;
$icon__magazine_total_width = 396px;
$icon__magazine_total_height = 273px;
$icon__magazine_image = '../themes/default/images/sprite.png';
$icon__magazine = 244px 254px -244px -254px 16px 16px 396px 273px '../themes/default/images/sprite.png';
$icon__mail_x = 296px;
$icon__mail_y = 96px;
$icon__mail_offset_x = -296px;
$icon__mail_offset_y = -96px;
$icon__mail_width = 21px;
$icon__mail_height = 15px;
$icon__mail_total_width = 396px;
$icon__mail_total_height = 273px;
$icon__mail_image = '../themes/default/images/sprite.png';
$icon__mail = 296px 96px -296px -96px 21px 15px 396px 273px '../themes/default/images/sprite.png';
$icon__mail__hover_x = 296px;
$icon__mail__hover_y = 119px;
$icon__mail__hover_offset_x = -296px;
$icon__mail__hover_offset_y = -119px;
$icon__mail__hover_width = 21px;
$icon__mail__hover_height = 15px;
$icon__mail__hover_total_width = 396px;
$icon__mail__hover_total_height = 273px;
$icon__mail__hover_image = '../themes/default/images/sprite.png';
$icon__mail__hover = 296px 119px -296px -119px 21px 15px 396px 273px '../themes/default/images/sprite.png';
$icon__menu_x = 356px;
$icon__menu_y = 187px;
$icon__menu_offset_x = -356px;
$icon__menu_offset_y = -187px;
$icon__menu_width = 13px;
$icon__menu_height = 12px;
$icon__menu_total_width = 396px;
$icon__menu_total_height = 273px;
$icon__menu_image = '../themes/default/images/sprite.png';
$icon__menu = 356px 187px -356px -187px 13px 12px 396px 273px '../themes/default/images/sprite.png';
$icon__new_x = 296px;
$icon__new_y = 48px;
$icon__new_offset_x = -296px;
$icon__new_offset_y = -48px;
$icon__new_width = 20px;
$icon__new_height = 16px;
$icon__new_total_width = 396px;
$icon__new_total_height = 273px;
$icon__new_image = '../themes/default/images/sprite.png';
$icon__new = 296px 48px -296px -48px 20px 16px 396px 273px '../themes/default/images/sprite.png';
$icon__onemoretime_x = 33px;
$icon__onemoretime_y = 254px;
$icon__onemoretime_offset_x = -33px;
$icon__onemoretime_offset_y = -254px;
$icon__onemoretime_width = 18px;
$icon__onemoretime_height = 17px;
$icon__onemoretime_total_width = 396px;
$icon__onemoretime_total_height = 273px;
$icon__onemoretime_image = '../themes/default/images/sprite.png';
$icon__onemoretime = 33px 254px -33px -254px 18px 17px 396px 273px '../themes/default/images/sprite.png';
$icon__print_x = 371px;
$icon__print_y = 48px;
$icon__print_offset_x = -371px;
$icon__print_offset_y = -48px;
$icon__print_width = 18px;
$icon__print_height = 15px;
$icon__print_total_width = 396px;
$icon__print_total_height = 273px;
$icon__print_image = '../themes/default/images/sprite.png';
$icon__print = 371px 48px -371px -48px 18px 15px 396px 273px '../themes/default/images/sprite.png';
$icon__profile--big_x = 224px;
$icon__profile--big_y = 140px;
$icon__profile--big_offset_x = -224px;
$icon__profile--big_offset_y = -140px;
$icon__profile--big_width = 28px;
$icon__profile--big_height = 34px;
$icon__profile--big_total_width = 396px;
$icon__profile--big_total_height = 273px;
$icon__profile--big_image = '../themes/default/images/sprite.png';
$icon__profile--big = 224px 140px -224px -140px 28px 34px 396px 273px '../themes/default/images/sprite.png';
$icon__profile_x = 210px;
$icon__profile_y = 222px;
$icon__profile_offset_x = -210px;
$icon__profile_offset_y = -222px;
$icon__profile_width = 16px;
$icon__profile_height = 20px;
$icon__profile_total_width = 396px;
$icon__profile_total_height = 273px;
$icon__profile_image = '../themes/default/images/sprite.png';
$icon__profile = 210px 222px -210px -222px 16px 20px 396px 273px '../themes/default/images/sprite.png';
$icon__profile__hover_x = 264px;
$icon__profile__hover_y = 28px;
$icon__profile__hover_offset_x = -264px;
$icon__profile__hover_offset_y = -28px;
$icon__profile__hover_width = 16px;
$icon__profile__hover_height = 20px;
$icon__profile__hover_total_width = 396px;
$icon__profile__hover_total_height = 273px;
$icon__profile__hover_image = '../themes/default/images/sprite.png';
$icon__profile__hover = 264px 28px -264px -28px 16px 20px 396px 273px '../themes/default/images/sprite.png';
$icon__profile__white_x = 264px;
$icon__profile__white_y = 56px;
$icon__profile__white_offset_x = -264px;
$icon__profile__white_offset_y = -56px;
$icon__profile__white_width = 16px;
$icon__profile__white_height = 20px;
$icon__profile__white_total_width = 396px;
$icon__profile__white_total_height = 273px;
$icon__profile__white_image = '../themes/default/images/sprite.png';
$icon__profile__white = 264px 56px -264px -56px 16px 20px 396px 273px '../themes/default/images/sprite.png';
$icon__reload_x = 80px;
$icon__reload_y = 222px;
$icon__reload_offset_x = -80px;
$icon__reload_offset_y = -222px;
$icon__reload_width = 24px;
$icon__reload_height = 22px;
$icon__reload_total_width = 396px;
$icon__reload_total_height = 273px;
$icon__reload_image = '../themes/default/images/sprite.png';
$icon__reload = 80px 222px -80px -222px 24px 22px 396px 273px '../themes/default/images/sprite.png';
$icon__return_x = 369px;
$icon__return_y = 165px;
$icon__return_offset_x = -369px;
$icon__return_offset_y = -165px;
$icon__return_width = 15px;
$icon__return_height = 13px;
$icon__return_total_width = 396px;
$icon__return_total_height = 273px;
$icon__return_image = '../themes/default/images/sprite.png';
$icon__return = 369px 165px -369px -165px 15px 13px 396px 273px '../themes/default/images/sprite.png';
$icon__search--black_x = 80px;
$icon__search--black_y = 184px;
$icon__search--black_offset_x = -80px;
$icon__search--black_offset_y = -184px;
$icon__search--black_width = 30px;
$icon__search--black_height = 30px;
$icon__search--black_total_width = 396px;
$icon__search--black_total_height = 273px;
$icon__search--black_image = '../themes/default/images/sprite.png';
$icon__search--black = 80px 184px -80px -184px 30px 30px 396px 273px '../themes/default/images/sprite.png';
$icon__search--grey_x = 184px;
$icon__search--grey_y = 140px;
$icon__search--grey_offset_x = -184px;
$icon__search--grey_offset_y = -140px;
$icon__search--grey_width = 30px;
$icon__search--grey_height = 30px;
$icon__search--grey_total_width = 396px;
$icon__search--grey_total_height = 273px;
$icon__search--grey_image = '../themes/default/images/sprite.png';
$icon__search--grey = 184px 140px -184px -140px 30px 30px 396px 273px '../themes/default/images/sprite.png';
$icon__search_x = 118px;
$icon__search_y = 184px;
$icon__search_offset_x = -118px;
$icon__search_offset_y = -184px;
$icon__search_width = 30px;
$icon__search_height = 30px;
$icon__search_total_width = 396px;
$icon__search_total_height = 273px;
$icon__search_image = '../themes/default/images/sprite.png';
$icon__search = 118px 184px -118px -184px 30px 30px 396px 273px '../themes/default/images/sprite.png';
$icon__sent_x = 341px;
$icon__sent_y = 165px;
$icon__sent_offset_x = -341px;
$icon__sent_offset_y = -165px;
$icon__sent_width = 20px;
$icon__sent_height = 13px;
$icon__sent_total_width = 396px;
$icon__sent_total_height = 273px;
$icon__sent_image = '../themes/default/images/sprite.png';
$icon__sent = 341px 165px -341px -165px 20px 13px 396px 273px '../themes/default/images/sprite.png';
$icon__slidedown_x = 315px;
$icon__slidedown_y = 208px;
$icon__slidedown_offset_x = -315px;
$icon__slidedown_offset_y = -208px;
$icon__slidedown_width = 14px;
$icon__slidedown_height = 8px;
$icon__slidedown_total_width = 396px;
$icon__slidedown_total_height = 273px;
$icon__slidedown_image = '../themes/default/images/sprite.png';
$icon__slidedown = 315px 208px -315px -208px 14px 8px 396px 273px '../themes/default/images/sprite.png';
$icon__support_x = 145px;
$icon__support_y = 222px;
$icon__support_offset_x = -145px;
$icon__support_offset_y = -222px;
$icon__support_width = 25px;
$icon__support_height = 22px;
$icon__support_total_width = 396px;
$icon__support_total_height = 273px;
$icon__support_image = '../themes/default/images/sprite.png';
$icon__support = 145px 222px -145px -222px 25px 22px 396px 273px '../themes/default/images/sprite.png';
$icon__support__hover_x = 112px;
$icon__support__hover_y = 222px;
$icon__support__hover_offset_x = -112px;
$icon__support__hover_offset_y = -222px;
$icon__support__hover_width = 25px;
$icon__support__hover_height = 22px;
$icon__support__hover_total_width = 396px;
$icon__support__hover_total_height = 273px;
$icon__support__hover_image = '../themes/default/images/sprite.png';
$icon__support__hover = 112px 222px -112px -222px 25px 22px 396px 273px '../themes/default/images/sprite.png';
$icon__titles_x = 220px;
$icon__titles_y = 254px;
$icon__titles_offset_x = -220px;
$icon__titles_offset_y = -254px;
$icon__titles_width = 16px;
$icon__titles_height = 16px;
$icon__titles_total_width = 396px;
$icon__titles_total_height = 273px;
$icon__titles_image = '../themes/default/images/sprite.png';
$icon__titles = 220px 254px -220px -254px 16px 16px 396px 273px '../themes/default/images/sprite.png';
$icon__trash_x = 264px;
$icon__trash_y = 162px;
$icon__trash_offset_x = -264px;
$icon__trash_offset_y = -162px;
$icon__trash_width = 15px;
$icon__trash_height = 17px;
$icon__trash_total_width = 396px;
$icon__trash_total_height = 273px;
$icon__trash_image = '../themes/default/images/sprite.png';
$icon__trash = 264px 162px -264px -162px 15px 17px 396px 273px '../themes/default/images/sprite.png';
$icon__waiting_x = 152px;
$icon__waiting_y = 254px;
$icon__waiting_offset_x = -152px;
$icon__waiting_offset_y = -254px;
$icon__waiting_width = 12px;
$icon__waiting_height = 16px;
$icon__waiting_total_width = 396px;
$icon__waiting_total_height = 273px;
$icon__waiting_image = '../themes/default/images/sprite.png';
$icon__waiting = 152px 254px -152px -254px 12px 16px 396px 273px '../themes/default/images/sprite.png';
$icon__warning_x = 282px;
$icon__warning_y = 212px;
$icon__warning_offset_x = -282px;
$icon__warning_offset_y = -212px;
$icon__warning_width = 5px;
$icon__warning_height = 17px;
$icon__warning_total_width = 396px;
$icon__warning_total_height = 273px;
$icon__warning_image = '../themes/default/images/sprite.png';
$icon__warning = 282px 212px -282px -212px 5px 17px 396px 273px '../themes/default/images/sprite.png';
$modal__error_x = 0px;
$modal__error_y = 92px;
$modal__error_offset_x = 0px;
$modal__error_offset_y = -92px;
$modal__error_width = 84px;
$modal__error_height = 84px;
$modal__error_total_width = 396px;
$modal__error_total_height = 273px;
$modal__error_image = '../themes/default/images/sprite.png';
$modal__error = 0px 92px 0px -92px 84px 84px 396px 273px '../themes/default/images/sprite.png';
$modal__success_x = 0px;
$modal__success_y = 0px;
$modal__success_offset_x = 0px;
$modal__success_offset_y = 0px;
$modal__success_width = 84px;
$modal__success_height = 84px;
$modal__success_total_width = 396px;
$modal__success_total_height = 273px;
$modal__success_image = '../themes/default/images/sprite.png';
$modal__success = 0px 0px 0px 0px 84px 84px 396px 273px '../themes/default/images/sprite.png';
$modal__warning_x = 92px;
$modal__warning_y = 0px;
$modal__warning_offset_x = -92px;
$modal__warning_offset_y = 0px;
$modal__warning_width = 84px;
$modal__warning_height = 84px;
$modal__warning_total_width = 396px;
$modal__warning_total_height = 273px;
$modal__warning_image = '../themes/default/images/sprite.png';
$modal__warning = 92px 0px -92px 0px 84px 84px 396px 273px '../themes/default/images/sprite.png';
$stars--grey_x = 296px;
$stars--grey_y = 72px;
$stars--grey_offset_x = -296px;
$stars--grey_offset_y = -72px;
$stars--grey_width = 100px;
$stars--grey_height = 16px;
$stars--grey_total_width = 396px;
$stars--grey_total_height = 273px;
$stars--grey_image = '../themes/default/images/sprite.png';
$stars--grey = 296px 72px -296px -72px 100px 16px 396px 273px '../themes/default/images/sprite.png';
$stars--orange_x = 296px;
$stars--orange_y = 24px;
$stars--orange_offset_x = -296px;
$stars--orange_offset_y = -24px;
$stars--orange_width = 100px;
$stars--orange_height = 16px;
$stars--orange_total_width = 396px;
$stars--orange_total_height = 273px;
$stars--orange_image = '../themes/default/images/sprite.png';
$stars--orange = 296px 24px -296px -24px 100px 16px 396px 273px '../themes/default/images/sprite.png';
$stars_x = 296px;
$stars_y = 0px;
$stars_offset_x = -296px;
$stars_offset_y = 0px;
$stars_width = 100px;
$stars_height = 16px;
$stars_total_width = 396px;
$stars_total_height = 273px;
$stars_image = '../themes/default/images/sprite.png';
$stars = 296px 0px -296px 0px 100px 16px 396px 273px '../themes/default/images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
