/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$accordeon__group_x = 608px;
$accordeon__group_y = 222px;
$accordeon__group_offset_x = -608px;
$accordeon__group_offset_y = -222px;
$accordeon__group_width = 12px;
$accordeon__group_height = 8px;
$accordeon__group_total_width = 813px;
$accordeon__group_total_height = 782px;
$accordeon__group_image = '../images/sprite.png';
$accordeon__group = 608px 222px -608px -222px 12px 8px 813px 782px '../images/sprite.png';
$arrow-next_x = 500px;
$arrow-next_y = 625px;
$arrow-next_offset_x = -500px;
$arrow-next_offset_y = -625px;
$arrow-next_width = 32px;
$arrow-next_height = 62px;
$arrow-next_total_width = 813px;
$arrow-next_total_height = 782px;
$arrow-next_image = '../images/sprite.png';
$arrow-next = 500px 625px -500px -625px 32px 62px 813px 782px '../images/sprite.png';
$arrow-next__active_x = 380px;
$arrow-next__active_y = 625px;
$arrow-next__active_offset_x = -380px;
$arrow-next__active_offset_y = -625px;
$arrow-next__active_width = 32px;
$arrow-next__active_height = 62px;
$arrow-next__active_total_width = 813px;
$arrow-next__active_total_height = 782px;
$arrow-next__active_image = '../images/sprite.png';
$arrow-next__active = 380px 625px -380px -625px 32px 62px 813px 782px '../images/sprite.png';
$arrow-next__black_x = 300px;
$arrow-next__black_y = 625px;
$arrow-next__black_offset_x = -300px;
$arrow-next__black_offset_y = -625px;
$arrow-next__black_width = 32px;
$arrow-next__black_height = 62px;
$arrow-next__black_total_width = 813px;
$arrow-next__black_total_height = 782px;
$arrow-next__black_image = '../images/sprite.png';
$arrow-next__black = 300px 625px -300px -625px 32px 62px 813px 782px '../images/sprite.png';
$arrow-next__hover_x = 671px;
$arrow-next__hover_y = 541px;
$arrow-next__hover_offset_x = -671px;
$arrow-next__hover_offset_y = -541px;
$arrow-next__hover_width = 32px;
$arrow-next__hover_height = 62px;
$arrow-next__hover_total_width = 813px;
$arrow-next__hover_total_height = 782px;
$arrow-next__hover_image = '../images/sprite.png';
$arrow-next__hover = 671px 541px -671px -541px 32px 62px 813px 782px '../images/sprite.png';
$arrow-prev_x = 322px;
$arrow-prev_y = 148px;
$arrow-prev_offset_x = -322px;
$arrow-prev_offset_y = -148px;
$arrow-prev_width = 32px;
$arrow-prev_height = 62px;
$arrow-prev_total_width = 813px;
$arrow-prev_total_height = 782px;
$arrow-prev_image = '../images/sprite.png';
$arrow-prev = 322px 148px -322px -148px 32px 62px 813px 782px '../images/sprite.png';
$arrow-prev__active_x = 340px;
$arrow-prev__active_y = 625px;
$arrow-prev__active_offset_x = -340px;
$arrow-prev__active_offset_y = -625px;
$arrow-prev__active_width = 32px;
$arrow-prev__active_height = 62px;
$arrow-prev__active_total_width = 813px;
$arrow-prev__active_total_height = 782px;
$arrow-prev__active_image = '../images/sprite.png';
$arrow-prev__active = 340px 625px -340px -625px 32px 62px 813px 782px '../images/sprite.png';
$arrow-prev__black_x = 420px;
$arrow-prev__black_y = 625px;
$arrow-prev__black_offset_x = -420px;
$arrow-prev__black_offset_y = -625px;
$arrow-prev__black_width = 32px;
$arrow-prev__black_height = 62px;
$arrow-prev__black_total_width = 813px;
$arrow-prev__black_total_height = 782px;
$arrow-prev__black_image = '../images/sprite.png';
$arrow-prev__black = 420px 625px -420px -625px 32px 62px 813px 782px '../images/sprite.png';
$arrow-prev__hover_x = 460px;
$arrow-prev__hover_y = 625px;
$arrow-prev__hover_offset_x = -460px;
$arrow-prev__hover_offset_y = -625px;
$arrow-prev__hover_width = 32px;
$arrow-prev__hover_height = 62px;
$arrow-prev__hover_total_width = 813px;
$arrow-prev__hover_total_height = 782px;
$arrow-prev__hover_image = '../images/sprite.png';
$arrow-prev__hover = 460px 625px -460px -625px 32px 62px 813px 782px '../images/sprite.png';
$benefit__complex_x = 0px;
$benefit__complex_y = 296px;
$benefit__complex_offset_x = 0px;
$benefit__complex_offset_y = -296px;
$benefit__complex_width = 120px;
$benefit__complex_height = 120px;
$benefit__complex_total_width = 813px;
$benefit__complex_total_height = 782px;
$benefit__complex_image = '../images/sprite.png';
$benefit__complex = 0px 296px 0px -296px 120px 120px 813px 782px '../images/sprite.png';
$benefit__open_x = 388px;
$benefit__open_y = 128px;
$benefit__open_offset_x = -388px;
$benefit__open_offset_y = -128px;
$benefit__open_width = 120px;
$benefit__open_height = 120px;
$benefit__open_total_width = 813px;
$benefit__open_total_height = 782px;
$benefit__open_image = '../images/sprite.png';
$benefit__open = 388px 128px -388px -128px 120px 120px 813px 782px '../images/sprite.png';
$benefit__profit_x = 388px;
$benefit__profit_y = 0px;
$benefit__profit_offset_x = -388px;
$benefit__profit_offset_y = 0px;
$benefit__profit_width = 120px;
$benefit__profit_height = 120px;
$benefit__profit_total_width = 813px;
$benefit__profit_total_height = 782px;
$benefit__profit_image = '../images/sprite.png';
$benefit__profit = 388px 0px -388px 0px 120px 120px 813px 782px '../images/sprite.png';
$benefit__simple_x = 194px;
$benefit__simple_y = 148px;
$benefit__simple_offset_x = -194px;
$benefit__simple_offset_y = -148px;
$benefit__simple_width = 120px;
$benefit__simple_height = 120px;
$benefit__simple_total_width = 813px;
$benefit__simple_total_height = 782px;
$benefit__simple_image = '../images/sprite.png';
$benefit__simple = 194px 148px -194px -148px 120px 120px 813px 782px '../images/sprite.png';
$benefit__universal_x = 128px;
$benefit__universal_y = 296px;
$benefit__universal_offset_x = -128px;
$benefit__universal_offset_y = -296px;
$benefit__universal_width = 120px;
$benefit__universal_height = 120px;
$benefit__universal_total_width = 813px;
$benefit__universal_total_height = 782px;
$benefit__universal_image = '../images/sprite.png';
$benefit__universal = 128px 296px -128px -296px 120px 120px 813px 782px '../images/sprite.png';
$btn__backarrow-hover_x = 362px;
$btn__backarrow-hover_y = 167px;
$btn__backarrow-hover_offset_x = -362px;
$btn__backarrow-hover_offset_y = -167px;
$btn__backarrow-hover_width = 14px;
$btn__backarrow-hover_height = 11px;
$btn__backarrow-hover_total_width = 813px;
$btn__backarrow-hover_total_height = 782px;
$btn__backarrow-hover_image = '../images/sprite.png';
$btn__backarrow-hover = 362px 167px -362px -167px 14px 11px 813px 782px '../images/sprite.png';
$btn__backarrow_x = 362px;
$btn__backarrow_y = 148px;
$btn__backarrow_offset_x = -362px;
$btn__backarrow_offset_y = -148px;
$btn__backarrow_width = 14px;
$btn__backarrow_height = 11px;
$btn__backarrow_total_width = 813px;
$btn__backarrow_total_height = 782px;
$btn__backarrow_image = '../images/sprite.png';
$btn__backarrow = 362px 148px -362px -148px 14px 11px 813px 782px '../images/sprite.png';
$case__goods_x = 256px;
$case__goods_y = 296px;
$case__goods_offset_x = -256px;
$case__goods_offset_y = -296px;
$case__goods_width = 104px;
$case__goods_height = 104px;
$case__goods_total_width = 813px;
$case__goods_total_height = 782px;
$case__goods_image = '../images/sprite.png';
$case__goods = 256px 296px -256px -296px 104px 104px 813px 782px '../images/sprite.png';
$case__site_x = 368px;
$case__site_y = 296px;
$case__site_offset_x = -368px;
$case__site_offset_y = -296px;
$case__site_width = 104px;
$case__site_height = 104px;
$case__site_total_width = 813px;
$case__site_total_height = 782px;
$case__site_image = '../images/sprite.png';
$case__site = 368px 296px -368px -296px 104px 104px 813px 782px '../images/sprite.png';
$community_x = 0px;
$community_y = 424px;
$community_offset_x = 0px;
$community_offset_y = -424px;
$community_width = 209px;
$community_height = 101px;
$community_total_width = 813px;
$community_total_height = 782px;
$community_image = '../images/sprite.png';
$community = 0px 424px 0px -424px 209px 101px 813px 782px '../images/sprite.png';
$dropdown__active_x = 608px;
$dropdown__active_y = 204px;
$dropdown__active_offset_x = -608px;
$dropdown__active_offset_y = -204px;
$dropdown__active_width = 11px;
$dropdown__active_height = 10px;
$dropdown__active_total_width = 813px;
$dropdown__active_total_height = 782px;
$dropdown__active_image = '../images/sprite.png';
$dropdown__active = 608px 204px -608px -204px 11px 10px 813px 782px '../images/sprite.png';
$female_x = 629px;
$female_y = 365px;
$female_offset_x = -629px;
$female_offset_y = -365px;
$female_width = 78px;
$female_height = 81px;
$female_total_width = 813px;
$female_total_height = 782px;
$female_image = '../images/sprite.png';
$female = 629px 365px -629px -365px 78px 81px 813px 782px '../images/sprite.png';
$footer__copyright_x = 603px;
$footer__copyright_y = 388px;
$footer__copyright_offset_x = -603px;
$footer__copyright_offset_y = -388px;
$footer__copyright_width = 15px;
$footer__copyright_height = 14px;
$footer__copyright_total_width = 813px;
$footer__copyright_total_height = 782px;
$footer__copyright_image = '../images/sprite.png';
$footer__copyright = 603px 388px -603px -388px 15px 14px 813px 782px '../images/sprite.png';
$footer__email_x = 782px;
$footer__email_y = 719px;
$footer__email_offset_x = -782px;
$footer__email_offset_y = -719px;
$footer__email_width = 15px;
$footer__email_height = 15px;
$footer__email_total_width = 813px;
$footer__email_total_height = 782px;
$footer__email_image = '../images/sprite.png';
$footer__email = 782px 719px -782px -719px 15px 15px 813px 782px '../images/sprite.png';
$footer__skype_x = 782px;
$footer__skype_y = 558px;
$footer__skype_offset_x = -782px;
$footer__skype_offset_y = -558px;
$footer__skype_width = 15px;
$footer__skype_height = 15px;
$footer__skype_total_width = 813px;
$footer__skype_total_height = 782px;
$footer__skype_image = '../images/sprite.png';
$footer__skype = 782px 558px -782px -558px 15px 15px 813px 782px '../images/sprite.png';
$goal_x = 552px;
$goal_y = 533px;
$goal_offset_x = -552px;
$goal_offset_y = -533px;
$goal_width = 68px;
$goal_height = 68px;
$goal_total_width = 813px;
$goal_total_height = 782px;
$goal_image = '../images/sprite.png';
$goal = 552px 533px -552px -533px 68px 68px 813px 782px '../images/sprite.png';
$howto_x = 516px;
$howto_y = 0px;
$howto_offset_x = -516px;
$howto_offset_y = 0px;
$howto_width = 105px;
$howto_height = 104px;
$howto_total_width = 813px;
$howto_total_height = 782px;
$howto_image = '../images/sprite.png';
$howto = 516px 0px -516px 0px 105px 104px 813px 782px '../images/sprite.png';
$icon-bag_x = 587px;
$icon-bag_y = 625px;
$icon-bag_offset_x = -587px;
$icon-bag_offset_y = -625px;
$icon-bag_width = 41px;
$icon-bag_height = 52px;
$icon-bag_total_width = 813px;
$icon-bag_total_height = 782px;
$icon-bag_image = '../images/sprite.png';
$icon-bag = 587px 625px -587px -625px 41px 52px 813px 782px '../images/sprite.png';
$icon-basket_x = 721px;
$icon-basket_y = 0px;
$icon-basket_offset_x = -721px;
$icon-basket_offset_y = 0px;
$icon-basket_width = 53px;
$icon-basket_height = 44px;
$icon-basket_total_width = 813px;
$icon-basket_total_height = 782px;
$icon-basket_image = '../images/sprite.png';
$icon-basket = 721px 0px -721px 0px 53px 44px 813px 782px '../images/sprite.png';
$icon-cart_x = 322px;
$icon-cart_y = 218px;
$icon-cart_offset_x = -322px;
$icon-cart_offset_y = -218px;
$icon-cart_width = 44px;
$icon-cart_height = 47px;
$icon-cart_total_width = 813px;
$icon-cart_total_height = 782px;
$icon-cart_image = '../images/sprite.png';
$icon-cart = 322px 218px -322px -218px 44px 47px 813px 782px '../images/sprite.png';
$icon-coins_x = 721px;
$icon-coins_y = 104px;
$icon-coins_offset_x = -721px;
$icon-coins_offset_y = -104px;
$icon-coins_width = 50px;
$icon-coins_height = 44px;
$icon-coins_total_width = 813px;
$icon-coins_total_height = 782px;
$icon-coins_image = '../images/sprite.png';
$icon-coins = 721px 104px -721px -104px 50px 44px 813px 782px '../images/sprite.png';
$icon-google_x = 731px;
$icon-google_y = 714px;
$icon-google_offset_x = -731px;
$icon-google_offset_y = -714px;
$icon-google_width = 31px;
$icon-google_height = 28px;
$icon-google_total_width = 813px;
$icon-google_total_height = 782px;
$icon-google_image = '../images/sprite.png';
$icon-google = 731px 714px -731px -714px 31px 28px 813px 782px '../images/sprite.png';
$icon-google__hover_x = 782px;
$icon-google__hover_y = 36px;
$icon-google__hover_offset_x = -782px;
$icon-google__hover_offset_y = -36px;
$icon-google__hover_width = 31px;
$icon-google__hover_height = 28px;
$icon-google__hover_total_width = 813px;
$icon-google__hover_total_height = 782px;
$icon-google__hover_image = '../images/sprite.png';
$icon-google__hover = 782px 36px -782px -36px 31px 28px 813px 782px '../images/sprite.png';
$icon-store_x = 721px;
$icon-store_y = 52px;
$icon-store_offset_x = -721px;
$icon-store_offset_y = -52px;
$icon-store_width = 50px;
$icon-store_height = 44px;
$icon-store_total_width = 813px;
$icon-store_total_height = 782px;
$icon-store_image = '../images/sprite.png';
$icon-store = 721px 52px -721px -52px 50px 44px 813px 782px '../images/sprite.png';
$icon-store__black_x = 721px;
$icon-store__black_y = 398px;
$icon-store__black_offset_x = -721px;
$icon-store__black_offset_y = -398px;
$icon-store__black_width = 44px;
$icon-store__black_height = 40px;
$icon-store__black_total_width = 813px;
$icon-store__black_total_height = 782px;
$icon-store__black_image = '../images/sprite.png';
$icon-store__black = 721px 398px -721px -398px 44px 40px 813px 782px '../images/sprite.png';
$icon-store__orange_x = 721px;
$icon-store__orange_y = 350px;
$icon-store__orange_offset_x = -721px;
$icon-store__orange_offset_y = -350px;
$icon-store__orange_width = 44px;
$icon-store__orange_height = 40px;
$icon-store__orange_total_width = 813px;
$icon-store__orange_total_height = 782px;
$icon-store__orange_image = '../images/sprite.png';
$icon-store__orange = 721px 350px -721px -350px 44px 40px 813px 782px '../images/sprite.png';
$icon-store__red_x = 721px;
$icon-store__red_y = 302px;
$icon-store__red_offset_x = -721px;
$icon-store__red_offset_y = -302px;
$icon-store__red_width = 44px;
$icon-store__red_height = 40px;
$icon-store__red_total_width = 813px;
$icon-store__red_total_height = 782px;
$icon-store__red_image = '../images/sprite.png';
$icon-store__red = 721px 302px -721px -302px 44px 40px 813px 782px '../images/sprite.png';
$icon-store__white_x = 721px;
$icon-store__white_y = 254px;
$icon-store__white_offset_x = -721px;
$icon-store__white_offset_y = -254px;
$icon-store__white_width = 44px;
$icon-store__white_height = 40px;
$icon-store__white_total_width = 813px;
$icon-store__white_total_height = 782px;
$icon-store__white_image = '../images/sprite.png';
$icon-store__white = 721px 254px -721px -254px 44px 40px 813px 782px '../images/sprite.png';
$icon-tag_x = 636px;
$icon-tag_y = 625px;
$icon-tag_offset_x = -636px;
$icon-tag_offset_y = -625px;
$icon-tag_width = 45px;
$icon-tag_height = 52px;
$icon-tag_total_width = 813px;
$icon-tag_total_height = 782px;
$icon-tag_image = '../images/sprite.png';
$icon-tag = 636px 625px -636px -625px 45px 52px 813px 782px '../images/sprite.png';
$icon-vk_x = 782px;
$icon-vk_y = 201px;
$icon-vk_offset_x = -782px;
$icon-vk_offset_y = -201px;
$icon-vk_width = 18px;
$icon-vk_height = 22px;
$icon-vk_total_width = 813px;
$icon-vk_total_height = 782px;
$icon-vk_image = '../images/sprite.png';
$icon-vk = 782px 201px -782px -201px 18px 22px 813px 782px '../images/sprite.png';
$icon-vk__hover_x = 782px;
$icon-vk__hover_y = 171px;
$icon-vk__hover_offset_x = -782px;
$icon-vk__hover_offset_y = -171px;
$icon-vk__hover_width = 18px;
$icon-vk__hover_height = 22px;
$icon-vk__hover_total_width = 813px;
$icon-vk__hover_total_height = 782px;
$icon-vk__hover_image = '../images/sprite.png';
$icon-vk__hover = 782px 171px -782px -171px 18px 22px 813px 782px '../images/sprite.png';
$icon-zpay_x = 721px;
$icon-zpay_y = 492px;
$icon-zpay_offset_x = -721px;
$icon-zpay_offset_y = -492px;
$icon-zpay_width = 37px;
$icon-zpay_height = 38px;
$icon-zpay_total_width = 813px;
$icon-zpay_total_height = 782px;
$icon-zpay_image = '../images/sprite.png';
$icon-zpay = 721px 492px -721px -492px 37px 38px 813px 782px '../images/sprite.png';
$icon-zpay__hover_x = 721px;
$icon-zpay__hover_y = 446px;
$icon-zpay__hover_offset_x = -721px;
$icon-zpay__hover_offset_y = -446px;
$icon-zpay__hover_width = 37px;
$icon-zpay__hover_height = 38px;
$icon-zpay__hover_total_width = 813px;
$icon-zpay__hover_total_height = 782px;
$icon-zpay__hover_image = '../images/sprite.png';
$icon-zpay__hover = 721px 446px -721px -446px 37px 38px 813px 782px '../images/sprite.png';
$icon__cards_x = 782px;
$icon__cards_y = 488px;
$icon__cards_offset_x = -782px;
$icon__cards_offset_y = -488px;
$icon__cards_width = 16px;
$icon__cards_height = 16px;
$icon__cards_total_width = 813px;
$icon__cards_total_height = 782px;
$icon__cards_image = '../images/sprite.png';
$icon__cards = 782px 488px -782px -488px 16px 16px 813px 782px '../images/sprite.png';
$icon__cart_x = 782px;
$icon__cart_y = 287px;
$icon__cart_offset_x = -782px;
$icon__cart_offset_y = -287px;
$icon__cart_width = 24px;
$icon__cart_height = 20px;
$icon__cart_total_width = 813px;
$icon__cart_total_height = 782px;
$icon__cart_image = '../images/sprite.png';
$icon__cart = 782px 287px -782px -287px 24px 20px 813px 782px '../images/sprite.png';
$icon__cart__hover_x = 782px;
$icon__cart__hover_y = 231px;
$icon__cart__hover_offset_x = -782px;
$icon__cart__hover_offset_y = -231px;
$icon__cart__hover_width = 24px;
$icon__cart__hover_height = 20px;
$icon__cart__hover_total_width = 813px;
$icon__cart__hover_total_height = 782px;
$icon__cart__hover_image = '../images/sprite.png';
$icon__cart__hover = 782px 231px -782px -231px 24px 20px 813px 782px '../images/sprite.png';
$icon__cart__small_x = 782px;
$icon__cart__small_y = 392px;
$icon__cart__small_offset_x = -782px;
$icon__cart__small_offset_y = -392px;
$icon__cart__small_width = 19px;
$icon__cart__small_height = 16px;
$icon__cart__small_total_width = 813px;
$icon__cart__small_total_height = 782px;
$icon__cart__small_image = '../images/sprite.png';
$icon__cart__small = 782px 392px -782px -392px 19px 16px 813px 782px '../images/sprite.png';
$icon__catalog_x = 782px;
$icon__catalog_y = 139px;
$icon__catalog_offset_x = -782px;
$icon__catalog_offset_y = -139px;
$icon__catalog_width = 19px;
$icon__catalog_height = 24px;
$icon__catalog_total_width = 813px;
$icon__catalog_total_height = 782px;
$icon__catalog_image = '../images/sprite.png';
$icon__catalog = 782px 139px -782px -139px 19px 24px 813px 782px '../images/sprite.png';
$icon__check_x = 782px;
$icon__check_y = 440px;
$icon__check_offset_x = -782px;
$icon__check_offset_y = -440px;
$icon__check_width = 23px;
$icon__check_height = 16px;
$icon__check_total_width = 813px;
$icon__check_total_height = 782px;
$icon__check_image = '../images/sprite.png';
$icon__check = 782px 440px -782px -440px 23px 16px 813px 782px '../images/sprite.png';
$icon__cross_x = 782px;
$icon__cross_y = 464px;
$icon__cross_offset_x = -782px;
$icon__cross_offset_y = -464px;
$icon__cross_width = 16px;
$icon__cross_height = 16px;
$icon__cross_total_width = 813px;
$icon__cross_total_height = 782px;
$icon__cross_image = '../images/sprite.png';
$icon__cross = 782px 464px -782px -464px 16px 16px 813px 782px '../images/sprite.png';
$icon__currency--btc_x = 800px;
$icon__currency--btc_y = 343px;
$icon__currency--btc_offset_x = -800px;
$icon__currency--btc_offset_y = -343px;
$icon__currency--btc_width = 13px;
$icon__currency--btc_height = 17px;
$icon__currency--btc_total_width = 813px;
$icon__currency--btc_total_height = 782px;
$icon__currency--btc_image = '../images/sprite.png';
$icon__currency--btc = 800px 343px -800px -343px 13px 17px 813px 782px '../images/sprite.png';
$icon__currency--dol_x = 782px;
$icon__currency--dol_y = 343px;
$icon__currency--dol_offset_x = -782px;
$icon__currency--dol_offset_y = -343px;
$icon__currency--dol_width = 10px;
$icon__currency--dol_height = 17px;
$icon__currency--dol_total_width = 813px;
$icon__currency--dol_total_height = 782px;
$icon__currency--dol_image = '../images/sprite.png';
$icon__currency--dol = 782px 343px -782px -343px 10px 17px 813px 782px '../images/sprite.png';
$icon__currency--eur_x = 608px;
$icon__currency--eur_y = 134px;
$icon__currency--eur_offset_x = -608px;
$icon__currency--eur_offset_y = -134px;
$icon__currency--eur_width = 11px;
$icon__currency--eur_height = 13px;
$icon__currency--eur_total_width = 813px;
$icon__currency--eur_total_height = 782px;
$icon__currency--eur_image = '../images/sprite.png';
$icon__currency--eur = 608px 134px -608px -134px 11px 13px 813px 782px '../images/sprite.png';
$icon__currency--lcn_x = 608px;
$icon__currency--lcn_y = 176px;
$icon__currency--lcn_offset_x = -608px;
$icon__currency--lcn_offset_y = -176px;
$icon__currency--lcn_width = 13px;
$icon__currency--lcn_height = 13px;
$icon__currency--lcn_total_width = 813px;
$icon__currency--lcn_total_height = 782px;
$icon__currency--lcn_image = '../images/sprite.png';
$icon__currency--lcn = 608px 176px -608px -176px 13px 13px 813px 782px '../images/sprite.png';
$icon__currency--rub_x = 608px;
$icon__currency--rub_y = 155px;
$icon__currency--rub_offset_x = -608px;
$icon__currency--rub_offset_y = -155px;
$icon__currency--rub_width = 12px;
$icon__currency--rub_height = 13px;
$icon__currency--rub_total_width = 813px;
$icon__currency--rub_total_height = 782px;
$icon__currency--rub_image = '../images/sprite.png';
$icon__currency--rub = 608px 155px -608px -155px 12px 13px 813px 782px '../images/sprite.png';
$icon__drop--black_x = 782px;
$icon__drop--black_y = 696px;
$icon__drop--black_offset_x = -782px;
$icon__drop--black_offset_y = -696px;
$icon__drop--black_width = 15px;
$icon__drop--black_height = 15px;
$icon__drop--black_total_width = 813px;
$icon__drop--black_total_height = 782px;
$icon__drop--black_image = '../images/sprite.png';
$icon__drop--black = 782px 696px -782px -696px 15px 15px 813px 782px '../images/sprite.png';
$icon__drop--orange_x = 782px;
$icon__drop--orange_y = 673px;
$icon__drop--orange_offset_x = -782px;
$icon__drop--orange_offset_y = -673px;
$icon__drop--orange_width = 15px;
$icon__drop--orange_height = 15px;
$icon__drop--orange_total_width = 813px;
$icon__drop--orange_total_height = 782px;
$icon__drop--orange_image = '../images/sprite.png';
$icon__drop--orange = 782px 673px -782px -673px 15px 15px 813px 782px '../images/sprite.png';
$icon__drop--white_x = 782px;
$icon__drop--white_y = 512px;
$icon__drop--white_offset_x = -782px;
$icon__drop--white_offset_y = -512px;
$icon__drop--white_width = 15px;
$icon__drop--white_height = 15px;
$icon__drop--white_total_width = 813px;
$icon__drop--white_total_height = 782px;
$icon__drop--white_image = '../images/sprite.png';
$icon__drop--white = 782px 512px -782px -512px 15px 15px 813px 782px '../images/sprite.png';
$icon__drop--white__active_x = 782px;
$icon__drop--white__active_y = 627px;
$icon__drop--white__active_offset_x = -782px;
$icon__drop--white__active_offset_y = -627px;
$icon__drop--white__active_width = 15px;
$icon__drop--white__active_height = 15px;
$icon__drop--white__active_total_width = 813px;
$icon__drop--white__active_total_height = 782px;
$icon__drop--white__active_image = '../images/sprite.png';
$icon__drop--white__active = 782px 627px -782px -627px 15px 15px 813px 782px '../images/sprite.png';
$icon__drop_x = 782px;
$icon__drop_y = 604px;
$icon__drop_offset_x = -782px;
$icon__drop_offset_y = -604px;
$icon__drop_width = 15px;
$icon__drop_height = 15px;
$icon__drop_total_width = 813px;
$icon__drop_total_height = 782px;
$icon__drop_image = '../images/sprite.png';
$icon__drop = 782px 604px -782px -604px 15px 15px 813px 782px '../images/sprite.png';
$icon__drop__active_x = 782px;
$icon__drop__active_y = 581px;
$icon__drop__active_offset_x = -782px;
$icon__drop__active_offset_y = -581px;
$icon__drop__active_width = 15px;
$icon__drop__active_height = 15px;
$icon__drop__active_total_width = 813px;
$icon__drop__active_total_height = 782px;
$icon__drop__active_image = '../images/sprite.png';
$icon__drop__active = 782px 581px -782px -581px 15px 15px 813px 782px '../images/sprite.png';
$icon__external_x = 782px;
$icon__external_y = 106px;
$icon__external_offset_x = -782px;
$icon__external_offset_y = -106px;
$icon__external_width = 31px;
$icon__external_height = 25px;
$icon__external_total_width = 813px;
$icon__external_total_height = 782px;
$icon__external_image = '../images/sprite.png';
$icon__external = 782px 106px -782px -106px 31px 25px 813px 782px '../images/sprite.png';
$icon__login_x = 805px;
$icon__login_y = 512px;
$icon__login_offset_x = -805px;
$icon__login_offset_y = -512px;
$icon__login_width = 8px;
$icon__login_height = 11px;
$icon__login_total_width = 813px;
$icon__login_total_height = 782px;
$icon__login_image = '../images/sprite.png';
$icon__login = 805px 512px -805px -512px 8px 11px 813px 782px '../images/sprite.png';
$icon__logout_x = 608px;
$icon__logout_y = 112px;
$icon__logout_offset_x = -608px;
$icon__logout_offset_y = -112px;
$icon__logout_width = 12px;
$icon__logout_height = 14px;
$icon__logout_total_width = 813px;
$icon__logout_total_height = 782px;
$icon__logout_image = '../images/sprite.png';
$icon__logout = 608px 112px -608px -112px 12px 14px 813px 782px '../images/sprite.png';
$icon__magazine_x = 782px;
$icon__magazine_y = 416px;
$icon__magazine_offset_x = -782px;
$icon__magazine_offset_y = -416px;
$icon__magazine_width = 16px;
$icon__magazine_height = 16px;
$icon__magazine_total_width = 813px;
$icon__magazine_total_height = 782px;
$icon__magazine_image = '../images/sprite.png';
$icon__magazine = 782px 416px -782px -416px 16px 16px 813px 782px '../images/sprite.png';
$icon__mail_x = 782px;
$icon__mail_y = 650px;
$icon__mail_offset_x = -782px;
$icon__mail_offset_y = -650px;
$icon__mail_width = 21px;
$icon__mail_height = 15px;
$icon__mail_total_width = 813px;
$icon__mail_total_height = 782px;
$icon__mail_image = '../images/sprite.png';
$icon__mail = 782px 650px -782px -650px 21px 15px 813px 782px '../images/sprite.png';
$icon__mail__hover_x = 782px;
$icon__mail__hover_y = 535px;
$icon__mail__hover_offset_x = -782px;
$icon__mail__hover_offset_y = -535px;
$icon__mail__hover_width = 21px;
$icon__mail__hover_height = 15px;
$icon__mail__hover_total_width = 813px;
$icon__mail__hover_total_height = 782px;
$icon__mail__hover_image = '../images/sprite.png';
$icon__mail__hover = 782px 535px -782px -535px 21px 15px 813px 782px '../images/sprite.png';
$icon__profile_x = 782px;
$icon__profile_y = 315px;
$icon__profile_offset_x = -782px;
$icon__profile_offset_y = -315px;
$icon__profile_width = 16px;
$icon__profile_height = 20px;
$icon__profile_total_width = 813px;
$icon__profile_total_height = 782px;
$icon__profile_image = '../images/sprite.png';
$icon__profile = 782px 315px -782px -315px 16px 20px 813px 782px '../images/sprite.png';
$icon__profile__hover_x = 782px;
$icon__profile__hover_y = 259px;
$icon__profile__hover_offset_x = -782px;
$icon__profile__hover_offset_y = -259px;
$icon__profile__hover_width = 16px;
$icon__profile__hover_height = 20px;
$icon__profile__hover_total_width = 813px;
$icon__profile__hover_total_height = 782px;
$icon__profile__hover_image = '../images/sprite.png';
$icon__profile__hover = 782px 259px -782px -259px 16px 20px 813px 782px '../images/sprite.png';
$icon__search--grey_x = 426px;
$icon__search--grey_y = 256px;
$icon__search--grey_offset_x = -426px;
$icon__search--grey_offset_y = -256px;
$icon__search--grey_width = 30px;
$icon__search--grey_height = 30px;
$icon__search--grey_total_width = 813px;
$icon__search--grey_total_height = 782px;
$icon__search--grey_image = '../images/sprite.png';
$icon__search--grey = 426px 256px -426px -256px 30px 30px 813px 782px '../images/sprite.png';
$icon__search_x = 388px;
$icon__search_y = 256px;
$icon__search_offset_x = -388px;
$icon__search_offset_y = -256px;
$icon__search_width = 30px;
$icon__search_height = 30px;
$icon__search_total_width = 813px;
$icon__search_total_height = 782px;
$icon__search_image = '../images/sprite.png';
$icon__search = 388px 256px -388px -256px 30px 30px 813px 782px '../images/sprite.png';
$icon__titles_x = 782px;
$icon__titles_y = 368px;
$icon__titles_offset_x = -782px;
$icon__titles_offset_y = -368px;
$icon__titles_width = 16px;
$icon__titles_height = 16px;
$icon__titles_total_width = 813px;
$icon__titles_total_height = 782px;
$icon__titles_image = '../images/sprite.png';
$icon__titles = 782px 368px -782px -368px 16px 16px 813px 782px '../images/sprite.png';
$male_x = 629px;
$male_y = 276px;
$male_offset_x = -629px;
$male_offset_y = -276px;
$male_width = 78px;
$male_height = 81px;
$male_total_width = 813px;
$male_total_height = 782px;
$male_image = '../images/sprite.png';
$male = 629px 276px -629px -276px 78px 81px 813px 782px '../images/sprite.png';
$mission_x = 540px;
$mission_y = 625px;
$mission_offset_x = -540px;
$mission_offset_y = -625px;
$mission_width = 39px;
$mission_height = 61px;
$mission_total_width = 813px;
$mission_total_height = 782px;
$mission_image = '../images/sprite.png';
$mission = 540px 625px -540px -625px 39px 61px 813px 782px '../images/sprite.png';
$price_x = 629px;
$price_y = 541px;
$price_offset_x = -629px;
$price_offset_y = -541px;
$price_width = 34px;
$price_height = 69px;
$price_total_width = 813px;
$price_total_height = 782px;
$price_image = '../images/sprite.png';
$price = 629px 541px -629px -541px 34px 69px 813px 782px '../images/sprite.png';
$quote__after--greenbg_x = 645px;
$quote__after--greenbg_y = 714px;
$quote__after--greenbg_offset_x = -645px;
$quote__after--greenbg_offset_y = -714px;
$quote__after--greenbg_width = 35px;
$quote__after--greenbg_height = 34px;
$quote__after--greenbg_total_width = 813px;
$quote__after--greenbg_total_height = 782px;
$quote__after--greenbg_image = '../images/sprite.png';
$quote__after--greenbg = 645px 714px -645px -714px 35px 34px 813px 782px '../images/sprite.png';
$quote__after--left_x = 688px;
$quote__after--left_y = 714px;
$quote__after--left_offset_x = -688px;
$quote__after--left_offset_y = -714px;
$quote__after--left_width = 35px;
$quote__after--left_height = 34px;
$quote__after--left_total_width = 813px;
$quote__after--left_total_height = 782px;
$quote__after--left_image = '../images/sprite.png';
$quote__after--left = 688px 714px -688px -714px 35px 34px 813px 782px '../images/sprite.png';
$quote__after_x = 602px;
$quote__after_y = 714px;
$quote__after_offset_x = -602px;
$quote__after_offset_y = -714px;
$quote__after_width = 35px;
$quote__after_height = 34px;
$quote__after_total_width = 813px;
$quote__after_total_height = 782px;
$quote__after_image = '../images/sprite.png';
$quote__after = 602px 714px -602px -714px 35px 34px 813px 782px '../images/sprite.png';
$rate__business-1_x = 217px;
$rate__business-1_y = 424px;
$rate__business-1_offset_x = -217px;
$rate__business-1_offset_y = -424px;
$rate__business-1_width = 127px;
$rate__business-1_height = 87px;
$rate__business-1_total_width = 813px;
$rate__business-1_total_height = 782px;
$rate__business-1_image = '../images/sprite.png';
$rate__business-1 = 217px 424px -217px -424px 127px 87px 813px 782px '../images/sprite.png';
$rate__business-2_x = 352px;
$rate__business-2_y = 424px;
$rate__business-2_offset_x = -352px;
$rate__business-2_offset_y = -424px;
$rate__business-2_width = 127px;
$rate__business-2_height = 87px;
$rate__business-2_total_width = 813px;
$rate__business-2_total_height = 782px;
$rate__business-2_image = '../images/sprite.png';
$rate__business-2 = 352px 424px -352px -424px 127px 87px 813px 782px '../images/sprite.png';
$rate__business-3_x = 487px;
$rate__business-3_y = 424px;
$rate__business-3_offset_x = -487px;
$rate__business-3_offset_y = -424px;
$rate__business-3_width = 127px;
$rate__business-3_height = 87px;
$rate__business-3_total_width = 813px;
$rate__business-3_total_height = 782px;
$rate__business-3_image = '../images/sprite.png';
$rate__business-3 = 487px 424px -487px -424px 127px 87px 813px 782px '../images/sprite.png';
$rate__company-1_x = 0px;
$rate__company-1_y = 148px;
$rate__company-1_offset_x = 0px;
$rate__company-1_offset_y = -148px;
$rate__company-1_width = 186px;
$rate__company-1_height = 140px;
$rate__company-1_total_width = 813px;
$rate__company-1_total_height = 782px;
$rate__company-1_image = '../images/sprite.png';
$rate__company-1 = 0px 148px 0px -148px 186px 140px 813px 782px '../images/sprite.png';
$rate__company-2_x = 0px;
$rate__company-2_y = 0px;
$rate__company-2_offset_x = 0px;
$rate__company-2_offset_y = 0px;
$rate__company-2_width = 186px;
$rate__company-2_height = 140px;
$rate__company-2_total_width = 813px;
$rate__company-2_total_height = 782px;
$rate__company-2_image = '../images/sprite.png';
$rate__company-2 = 0px 0px 0px 0px 186px 140px 813px 782px '../images/sprite.png';
$rate__company-3_x = 194px;
$rate__company-3_y = 0px;
$rate__company-3_offset_x = -194px;
$rate__company-3_offset_y = 0px;
$rate__company-3_width = 186px;
$rate__company-3_height = 140px;
$rate__company-3_total_width = 813px;
$rate__company-3_total_height = 782px;
$rate__company-3_image = '../images/sprite.png';
$rate__company-3 = 194px 0px -194px 0px 186px 140px 813px 782px '../images/sprite.png';
$rate__startup-1_x = 0px;
$rate__startup-1_y = 625px;
$rate__startup-1_offset_x = 0px;
$rate__startup-1_offset_y = -625px;
$rate__startup-1_width = 92px;
$rate__startup-1_height = 81px;
$rate__startup-1_total_width = 813px;
$rate__startup-1_total_height = 782px;
$rate__startup-1_image = '../images/sprite.png';
$rate__startup-1 = 0px 625px 0px -625px 92px 81px 813px 782px '../images/sprite.png';
$rate__startup-2_x = 100px;
$rate__startup-2_y = 625px;
$rate__startup-2_offset_x = -100px;
$rate__startup-2_offset_y = -625px;
$rate__startup-2_width = 92px;
$rate__startup-2_height = 81px;
$rate__startup-2_total_width = 813px;
$rate__startup-2_total_height = 782px;
$rate__startup-2_image = '../images/sprite.png';
$rate__startup-2 = 100px 625px -100px -625px 92px 81px 813px 782px '../images/sprite.png';
$rate__startup-3_x = 200px;
$rate__startup-3_y = 625px;
$rate__startup-3_offset_x = -200px;
$rate__startup-3_offset_y = -625px;
$rate__startup-3_width = 92px;
$rate__startup-3_height = 81px;
$rate__startup-3_total_width = 813px;
$rate__startup-3_total_height = 782px;
$rate__startup-3_image = '../images/sprite.png';
$rate__startup-3 = 200px 625px -200px -625px 92px 81px 813px 782px '../images/sprite.png';
$social__fb_x = 43px;
$social__fb_y = 714px;
$social__fb_offset_x = -43px;
$social__fb_offset_y = -714px;
$social__fb_width = 35px;
$social__fb_height = 35px;
$social__fb_total_width = 813px;
$social__fb_total_height = 782px;
$social__fb_image = '../images/sprite.png';
$social__fb = 43px 714px -43px -714px 35px 35px 813px 782px '../images/sprite.png';
$social__fb__active_x = 0px;
$social__fb__active_y = 714px;
$social__fb__active_offset_x = 0px;
$social__fb__active_offset_y = -714px;
$social__fb__active_width = 35px;
$social__fb__active_height = 35px;
$social__fb__active_total_width = 813px;
$social__fb__active_total_height = 782px;
$social__fb__active_image = '../images/sprite.png';
$social__fb__active = 0px 714px 0px -714px 35px 35px 813px 782px '../images/sprite.png';
$social__fb__hover_x = 721px;
$social__fb__hover_y = 667px;
$social__fb__hover_offset_x = -721px;
$social__fb__hover_offset_y = -667px;
$social__fb__hover_width = 35px;
$social__fb__hover_height = 35px;
$social__fb__hover_total_width = 813px;
$social__fb__hover_total_height = 782px;
$social__fb__hover_image = '../images/sprite.png';
$social__fb__hover = 721px 667px -721px -667px 35px 35px 813px 782px '../images/sprite.png';
$social__gp_x = 473px;
$social__gp_y = 714px;
$social__gp_offset_x = -473px;
$social__gp_offset_y = -714px;
$social__gp_width = 35px;
$social__gp_height = 35px;
$social__gp_total_width = 813px;
$social__gp_total_height = 782px;
$social__gp_image = '../images/sprite.png';
$social__gp = 473px 714px -473px -714px 35px 35px 813px 782px '../images/sprite.png';
$social__gp__active_x = 721px;
$social__gp__active_y = 538px;
$social__gp__active_offset_x = -721px;
$social__gp__active_offset_y = -538px;
$social__gp__active_width = 35px;
$social__gp__active_height = 35px;
$social__gp__active_total_width = 813px;
$social__gp__active_total_height = 782px;
$social__gp__active_image = '../images/sprite.png';
$social__gp__active = 721px 538px -721px -538px 35px 35px 813px 782px '../images/sprite.png';
$social__gp__hover_x = 344px;
$social__gp__hover_y = 714px;
$social__gp__hover_offset_x = -344px;
$social__gp__hover_offset_y = -714px;
$social__gp__hover_width = 35px;
$social__gp__hover_height = 35px;
$social__gp__hover_total_width = 813px;
$social__gp__hover_total_height = 782px;
$social__gp__hover_image = '../images/sprite.png';
$social__gp__hover = 344px 714px -344px -714px 35px 35px 813px 782px '../images/sprite.png';
$social__icon-gp_x = 782px;
$social__icon-gp_y = 0px;
$social__icon-gp_offset_x = -782px;
$social__icon-gp_offset_y = 0px;
$social__icon-gp_width = 31px;
$social__icon-gp_height = 28px;
$social__icon-gp_total_width = 813px;
$social__icon-gp_total_height = 782px;
$social__icon-gp_image = '../images/sprite.png';
$social__icon-gp = 782px 0px -782px 0px 31px 28px 813px 782px '../images/sprite.png';
$social__icon-gp__hover_x = 516px;
$social__icon-gp__hover_y = 388px;
$social__icon-gp__hover_offset_x = -516px;
$social__icon-gp__hover_offset_y = -388px;
$social__icon-gp__hover_width = 31px;
$social__icon-gp__hover_height = 28px;
$social__icon-gp__hover_total_width = 813px;
$social__icon-gp__hover_total_height = 782px;
$social__icon-gp__hover_image = '../images/sprite.png';
$social__icon-gp__hover = 516px 388px -516px -388px 31px 28px 813px 782px '../images/sprite.png';
$social__icon-lj_x = 721px;
$social__icon-lj_y = 156px;
$social__icon-lj_offset_x = -721px;
$social__icon-lj_offset_y = -156px;
$social__icon-lj_width = 35px;
$social__icon-lj_height = 41px;
$social__icon-lj_total_width = 813px;
$social__icon-lj_total_height = 782px;
$social__icon-lj_image = '../images/sprite.png';
$social__icon-lj = 721px 156px -721px -156px 35px 41px 813px 782px '../images/sprite.png';
$social__icon-lj__hover_x = 721px;
$social__icon-lj__hover_y = 205px;
$social__icon-lj__hover_offset_x = -721px;
$social__icon-lj__hover_offset_y = -205px;
$social__icon-lj__hover_width = 35px;
$social__icon-lj__hover_height = 41px;
$social__icon-lj__hover_total_width = 813px;
$social__icon-lj__hover_total_height = 782px;
$social__icon-lj__hover_image = '../images/sprite.png';
$social__icon-lj__hover = 721px 205px -721px -205px 35px 41px 813px 782px '../images/sprite.png';
$social__icon-tw_x = 464px;
$social__icon-tw_y = 256px;
$social__icon-tw_offset_x = -464px;
$social__icon-tw_offset_y = -256px;
$social__icon-tw_width = 40px;
$social__icon-tw_height = 28px;
$social__icon-tw_total_width = 813px;
$social__icon-tw_total_height = 782px;
$social__icon-tw_image = '../images/sprite.png';
$social__icon-tw = 464px 256px -464px -256px 40px 28px 813px 782px '../images/sprite.png';
$social__icon-tw__hover_x = 555px;
$social__icon-tw__hover_y = 388px;
$social__icon-tw__hover_offset_x = -555px;
$social__icon-tw__hover_offset_y = -388px;
$social__icon-tw__hover_width = 40px;
$social__icon-tw__hover_height = 28px;
$social__icon-tw__hover_total_width = 813px;
$social__icon-tw__hover_total_height = 782px;
$social__icon-tw__hover_image = '../images/sprite.png';
$social__icon-tw__hover = 555px 388px -555px -388px 40px 28px 813px 782px '../images/sprite.png';
$social__icon-vk_x = 0px;
$social__icon-vk_y = 757px;
$social__icon-vk_offset_x = 0px;
$social__icon-vk_offset_y = -757px;
$social__icon-vk_width = 42px;
$social__icon-vk_height = 25px;
$social__icon-vk_total_width = 813px;
$social__icon-vk_total_height = 782px;
$social__icon-vk_image = '../images/sprite.png';
$social__icon-vk = 0px 757px 0px -757px 42px 25px 813px 782px '../images/sprite.png';
$social__icon-vk__hover_x = 50px;
$social__icon-vk__hover_y = 757px;
$social__icon-vk__hover_offset_x = -50px;
$social__icon-vk__hover_offset_y = -757px;
$social__icon-vk__hover_width = 42px;
$social__icon-vk__hover_height = 25px;
$social__icon-vk__hover_total_width = 813px;
$social__icon-vk__hover_total_height = 782px;
$social__icon-vk__hover_image = '../images/sprite.png';
$social__icon-vk__hover = 50px 757px -50px -757px 42px 25px 813px 782px '../images/sprite.png';
$social__lj_x = 215px;
$social__lj_y = 714px;
$social__lj_offset_x = -215px;
$social__lj_offset_y = -714px;
$social__lj_width = 35px;
$social__lj_height = 35px;
$social__lj_total_width = 813px;
$social__lj_total_height = 782px;
$social__lj_image = '../images/sprite.png';
$social__lj = 215px 714px -215px -714px 35px 35px 813px 782px '../images/sprite.png';
$social__lj__active_x = 86px;
$social__lj__active_y = 714px;
$social__lj__active_offset_x = -86px;
$social__lj__active_offset_y = -714px;
$social__lj__active_width = 35px;
$social__lj__active_height = 35px;
$social__lj__active_total_width = 813px;
$social__lj__active_total_height = 782px;
$social__lj__active_image = '../images/sprite.png';
$social__lj__active = 86px 714px -86px -714px 35px 35px 813px 782px '../images/sprite.png';
$social__lj__hover_x = 301px;
$social__lj__hover_y = 714px;
$social__lj__hover_offset_x = -301px;
$social__lj__hover_offset_y = -714px;
$social__lj__hover_width = 35px;
$social__lj__hover_height = 35px;
$social__lj__hover_total_width = 813px;
$social__lj__hover_total_height = 782px;
$social__lj__hover_image = '../images/sprite.png';
$social__lj__hover = 301px 714px -301px -714px 35px 35px 813px 782px '../images/sprite.png';
$social__ok_x = 258px;
$social__ok_y = 714px;
$social__ok_offset_x = -258px;
$social__ok_offset_y = -714px;
$social__ok_width = 35px;
$social__ok_height = 35px;
$social__ok_total_width = 813px;
$social__ok_total_height = 782px;
$social__ok_image = '../images/sprite.png';
$social__ok = 258px 714px -258px -714px 35px 35px 813px 782px '../images/sprite.png';
$social__ok__active_x = 172px;
$social__ok__active_y = 714px;
$social__ok__active_offset_x = -172px;
$social__ok__active_offset_y = -714px;
$social__ok__active_width = 35px;
$social__ok__active_height = 35px;
$social__ok__active_total_width = 813px;
$social__ok__active_total_height = 782px;
$social__ok__active_image = '../images/sprite.png';
$social__ok__active = 172px 714px -172px -714px 35px 35px 813px 782px '../images/sprite.png';
$social__ok__hover_x = 129px;
$social__ok__hover_y = 714px;
$social__ok__hover_offset_x = -129px;
$social__ok__hover_offset_y = -714px;
$social__ok__hover_width = 35px;
$social__ok__hover_height = 35px;
$social__ok__hover_total_width = 813px;
$social__ok__hover_total_height = 782px;
$social__ok__hover_image = '../images/sprite.png';
$social__ok__hover = 129px 714px -129px -714px 35px 35px 813px 782px '../images/sprite.png';
$social__tw_x = 721px;
$social__tw_y = 624px;
$social__tw_offset_x = -721px;
$social__tw_offset_y = -624px;
$social__tw_width = 35px;
$social__tw_height = 35px;
$social__tw_total_width = 813px;
$social__tw_total_height = 782px;
$social__tw_image = '../images/sprite.png';
$social__tw = 721px 624px -721px -624px 35px 35px 813px 782px '../images/sprite.png';
$social__tw__active_x = 721px;
$social__tw__active_y = 581px;
$social__tw__active_offset_x = -721px;
$social__tw__active_offset_y = -581px;
$social__tw__active_width = 35px;
$social__tw__active_height = 35px;
$social__tw__active_total_width = 813px;
$social__tw__active_total_height = 782px;
$social__tw__active_image = '../images/sprite.png';
$social__tw__active = 721px 581px -721px -581px 35px 35px 813px 782px '../images/sprite.png';
$social__tw__hover_x = 559px;
$social__tw__hover_y = 714px;
$social__tw__hover_offset_x = -559px;
$social__tw__hover_offset_y = -714px;
$social__tw__hover_width = 35px;
$social__tw__hover_height = 35px;
$social__tw__hover_total_width = 813px;
$social__tw__hover_total_height = 782px;
$social__tw__hover_image = '../images/sprite.png';
$social__tw__hover = 559px 714px -559px -714px 35px 35px 813px 782px '../images/sprite.png';
$social__vk_x = 516px;
$social__vk_y = 714px;
$social__vk_offset_x = -516px;
$social__vk_offset_y = -714px;
$social__vk_width = 35px;
$social__vk_height = 35px;
$social__vk_total_width = 813px;
$social__vk_total_height = 782px;
$social__vk_image = '../images/sprite.png';
$social__vk = 516px 714px -516px -714px 35px 35px 813px 782px '../images/sprite.png';
$social__vk__active_x = 430px;
$social__vk__active_y = 714px;
$social__vk__active_offset_x = -430px;
$social__vk__active_offset_y = -714px;
$social__vk__active_width = 35px;
$social__vk__active_height = 35px;
$social__vk__active_total_width = 813px;
$social__vk__active_total_height = 782px;
$social__vk__active_image = '../images/sprite.png';
$social__vk__active = 430px 714px -430px -714px 35px 35px 813px 782px '../images/sprite.png';
$social__vk__hover_x = 387px;
$social__vk__hover_y = 714px;
$social__vk__hover_offset_x = -387px;
$social__vk__hover_offset_y = -714px;
$social__vk__hover_width = 35px;
$social__vk__hover_height = 35px;
$social__vk__hover_total_width = 813px;
$social__vk__hover_total_height = 782px;
$social__vk__hover_image = '../images/sprite.png';
$social__vk__hover = 387px 714px -387px -714px 35px 35px 813px 782px '../images/sprite.png';
$start_x = 629px;
$start_y = 454px;
$start_offset_x = -629px;
$start_offset_y = -454px;
$start_width = 79px;
$start_height = 79px;
$start_total_width = 813px;
$start_total_height = 782px;
$start_image = '../images/sprite.png';
$start = 629px 454px -629px -454px 79px 79px 813px 782px '../images/sprite.png';
$step__add--white_x = 0px;
$step__add--white_y = 533px;
$step__add--white_offset_x = 0px;
$step__add--white_offset_y = -533px;
$step__add--white_width = 84px;
$step__add--white_height = 84px;
$step__add--white_total_width = 813px;
$step__add--white_total_height = 782px;
$step__add--white_image = '../images/sprite.png';
$step__add--white = 0px 533px 0px -533px 84px 84px 813px 782px '../images/sprite.png';
$step__add_x = 460px;
$step__add_y = 533px;
$step__add_offset_x = -460px;
$step__add_offset_y = -533px;
$step__add_width = 84px;
$step__add_height = 84px;
$step__add_total_width = 813px;
$step__add_total_height = 782px;
$step__add_image = '../images/sprite.png';
$step__add = 460px 533px -460px -533px 84px 84px 813px 782px '../images/sprite.png';
$step__code_x = 368px;
$step__code_y = 533px;
$step__code_offset_x = -368px;
$step__code_offset_y = -533px;
$step__code_width = 84px;
$step__code_height = 84px;
$step__code_total_width = 813px;
$step__code_total_height = 782px;
$step__code_image = '../images/sprite.png';
$step__code = 368px 533px -368px -533px 84px 84px 813px 782px '../images/sprite.png';
$step__create--white_x = 629px;
$step__create--white_y = 0px;
$step__create--white_offset_x = -629px;
$step__create--white_offset_y = 0px;
$step__create--white_width = 84px;
$step__create--white_height = 84px;
$step__create--white_total_width = 813px;
$step__create--white_total_height = 782px;
$step__create--white_image = '../images/sprite.png';
$step__create--white = 629px 0px -629px 0px 84px 84px 813px 782px '../images/sprite.png';
$step__earn--white_x = 629px;
$step__earn--white_y = 92px;
$step__earn--white_offset_x = -629px;
$step__earn--white_offset_y = -92px;
$step__earn--white_width = 84px;
$step__earn--white_height = 84px;
$step__earn--white_total_width = 813px;
$step__earn--white_total_height = 782px;
$step__earn--white_image = '../images/sprite.png';
$step__earn--white = 629px 92px -629px -92px 84px 84px 813px 782px '../images/sprite.png';
$step__earn_x = 629px;
$step__earn_y = 184px;
$step__earn_offset_x = -629px;
$step__earn_offset_y = -184px;
$step__earn_width = 84px;
$step__earn_height = 84px;
$step__earn_total_width = 813px;
$step__earn_total_height = 782px;
$step__earn_image = '../images/sprite.png';
$step__earn = 629px 184px -629px -184px 84px 84px 813px 782px '../images/sprite.png';
$step__get_x = 276px;
$step__get_y = 533px;
$step__get_offset_x = -276px;
$step__get_offset_y = -533px;
$step__get_width = 84px;
$step__get_height = 84px;
$step__get_total_width = 813px;
$step__get_total_height = 782px;
$step__get_image = '../images/sprite.png';
$step__get = 276px 533px -276px -533px 84px 84px 813px 782px '../images/sprite.png';
$step__go--white_x = 184px;
$step__go--white_y = 533px;
$step__go--white_offset_x = -184px;
$step__go--white_offset_y = -533px;
$step__go--white_width = 84px;
$step__go--white_height = 84px;
$step__go--white_total_width = 813px;
$step__go--white_total_height = 782px;
$step__go--white_image = '../images/sprite.png';
$step__go--white = 184px 533px -184px -533px 84px 84px 813px 782px '../images/sprite.png';
$step__send_x = 92px;
$step__send_y = 533px;
$step__send_offset_x = -92px;
$step__send_offset_y = -533px;
$step__send_width = 84px;
$step__send_height = 84px;
$step__send_total_width = 813px;
$step__send_total_height = 782px;
$step__send_image = '../images/sprite.png';
$step__send = 92px 533px -92px -533px 84px 84px 813px 782px '../images/sprite.png';
$step__signin_x = 516px;
$step__signin_y = 296px;
$step__signin_offset_x = -516px;
$step__signin_offset_y = -296px;
$step__signin_width = 84px;
$step__signin_height = 84px;
$step__signin_total_width = 813px;
$step__signin_total_height = 782px;
$step__signin_image = '../images/sprite.png';
$step__signin = 516px 296px -516px -296px 84px 84px 813px 782px '../images/sprite.png';
$step__signup--white_x = 516px;
$step__signup--white_y = 204px;
$step__signup--white_offset_x = -516px;
$step__signup--white_offset_y = -204px;
$step__signup--white_width = 84px;
$step__signup--white_height = 84px;
$step__signup--white_total_width = 813px;
$step__signup--white_total_height = 782px;
$step__signup--white_image = '../images/sprite.png';
$step__signup--white = 516px 204px -516px -204px 84px 84px 813px 782px '../images/sprite.png';
$step__signup_x = 516px;
$step__signup_y = 112px;
$step__signup_offset_x = -516px;
$step__signup_offset_y = -112px;
$step__signup_width = 84px;
$step__signup_height = 84px;
$step__signup_total_width = 813px;
$step__signup_total_height = 782px;
$step__signup_image = '../images/sprite.png';
$step__signup = 516px 112px -516px -112px 84px 84px 813px 782px '../images/sprite.png';
$ui-bullet_x = 782px;
$ui-bullet_y = 72px;
$ui-bullet_offset_x = -782px;
$ui-bullet_offset_y = -72px;
$ui-bullet_width = 29px;
$ui-bullet_height = 26px;
$ui-bullet_total_width = 813px;
$ui-bullet_total_height = 782px;
$ui-bullet_image = '../images/sprite.png';
$ui-bullet = 782px 72px -782px -72px 29px 26px 813px 782px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
