/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$accordeon__group_x = 773px;
$accordeon__group_y = 392px;
$accordeon__group_offset_x = -773px;
$accordeon__group_offset_y = -392px;
$accordeon__group_width = 12px;
$accordeon__group_height = 8px;
$accordeon__group_total_width = 792px;
$accordeon__group_total_height = 773px;
$accordeon__group_image = '../images/sprite.png';
$accordeon__group = 773px 392px -773px -392px 12px 8px 792px 773px '../images/sprite.png';
$arrow-next_x = 300px;
$arrow-next_y = 625px;
$arrow-next_offset_x = -300px;
$arrow-next_offset_y = -625px;
$arrow-next_width = 32px;
$arrow-next_height = 62px;
$arrow-next_total_width = 792px;
$arrow-next_total_height = 773px;
$arrow-next_image = '../images/sprite.png';
$arrow-next = 300px 625px -300px -625px 32px 62px 792px 773px '../images/sprite.png';
$arrow-next__active_x = 420px;
$arrow-next__active_y = 625px;
$arrow-next__active_offset_x = -420px;
$arrow-next__active_offset_y = -625px;
$arrow-next__active_width = 32px;
$arrow-next__active_height = 62px;
$arrow-next__active_total_width = 792px;
$arrow-next__active_total_height = 773px;
$arrow-next__active_image = '../images/sprite.png';
$arrow-next__active = 420px 625px -420px -625px 32px 62px 792px 773px '../images/sprite.png';
$arrow-next__black_x = 340px;
$arrow-next__black_y = 625px;
$arrow-next__black_offset_x = -340px;
$arrow-next__black_offset_y = -625px;
$arrow-next__black_width = 32px;
$arrow-next__black_height = 62px;
$arrow-next__black_total_width = 792px;
$arrow-next__black_total_height = 773px;
$arrow-next__black_image = '../images/sprite.png';
$arrow-next__black = 340px 625px -340px -625px 32px 62px 792px 773px '../images/sprite.png';
$arrow-next__hover_x = 322px;
$arrow-next__hover_y = 148px;
$arrow-next__hover_offset_x = -322px;
$arrow-next__hover_offset_y = -148px;
$arrow-next__hover_width = 32px;
$arrow-next__hover_height = 62px;
$arrow-next__hover_total_width = 792px;
$arrow-next__hover_total_height = 773px;
$arrow-next__hover_image = '../images/sprite.png';
$arrow-next__hover = 322px 148px -322px -148px 32px 62px 792px 773px '../images/sprite.png';
$arrow-prev_x = 671px;
$arrow-prev_y = 541px;
$arrow-prev_offset_x = -671px;
$arrow-prev_offset_y = -541px;
$arrow-prev_width = 32px;
$arrow-prev_height = 62px;
$arrow-prev_total_width = 792px;
$arrow-prev_total_height = 773px;
$arrow-prev_image = '../images/sprite.png';
$arrow-prev = 671px 541px -671px -541px 32px 62px 792px 773px '../images/sprite.png';
$arrow-prev__active_x = 500px;
$arrow-prev__active_y = 625px;
$arrow-prev__active_offset_x = -500px;
$arrow-prev__active_offset_y = -625px;
$arrow-prev__active_width = 32px;
$arrow-prev__active_height = 62px;
$arrow-prev__active_total_width = 792px;
$arrow-prev__active_total_height = 773px;
$arrow-prev__active_image = '../images/sprite.png';
$arrow-prev__active = 500px 625px -500px -625px 32px 62px 792px 773px '../images/sprite.png';
$arrow-prev__black_x = 380px;
$arrow-prev__black_y = 625px;
$arrow-prev__black_offset_x = -380px;
$arrow-prev__black_offset_y = -625px;
$arrow-prev__black_width = 32px;
$arrow-prev__black_height = 62px;
$arrow-prev__black_total_width = 792px;
$arrow-prev__black_total_height = 773px;
$arrow-prev__black_image = '../images/sprite.png';
$arrow-prev__black = 380px 625px -380px -625px 32px 62px 792px 773px '../images/sprite.png';
$arrow-prev__hover_x = 460px;
$arrow-prev__hover_y = 625px;
$arrow-prev__hover_offset_x = -460px;
$arrow-prev__hover_offset_y = -625px;
$arrow-prev__hover_width = 32px;
$arrow-prev__hover_height = 62px;
$arrow-prev__hover_total_width = 792px;
$arrow-prev__hover_total_height = 773px;
$arrow-prev__hover_image = '../images/sprite.png';
$arrow-prev__hover = 460px 625px -460px -625px 32px 62px 792px 773px '../images/sprite.png';
$benefit__complex_x = 388px;
$benefit__complex_y = 128px;
$benefit__complex_offset_x = -388px;
$benefit__complex_offset_y = -128px;
$benefit__complex_width = 120px;
$benefit__complex_height = 120px;
$benefit__complex_total_width = 792px;
$benefit__complex_total_height = 773px;
$benefit__complex_image = '../images/sprite.png';
$benefit__complex = 388px 128px -388px -128px 120px 120px 792px 773px '../images/sprite.png';
$benefit__open_x = 0px;
$benefit__open_y = 296px;
$benefit__open_offset_x = 0px;
$benefit__open_offset_y = -296px;
$benefit__open_width = 120px;
$benefit__open_height = 120px;
$benefit__open_total_width = 792px;
$benefit__open_total_height = 773px;
$benefit__open_image = '../images/sprite.png';
$benefit__open = 0px 296px 0px -296px 120px 120px 792px 773px '../images/sprite.png';
$benefit__profit_x = 128px;
$benefit__profit_y = 296px;
$benefit__profit_offset_x = -128px;
$benefit__profit_offset_y = -296px;
$benefit__profit_width = 120px;
$benefit__profit_height = 120px;
$benefit__profit_total_width = 792px;
$benefit__profit_total_height = 773px;
$benefit__profit_image = '../images/sprite.png';
$benefit__profit = 128px 296px -128px -296px 120px 120px 792px 773px '../images/sprite.png';
$benefit__simple_x = 388px;
$benefit__simple_y = 0px;
$benefit__simple_offset_x = -388px;
$benefit__simple_offset_y = 0px;
$benefit__simple_width = 120px;
$benefit__simple_height = 120px;
$benefit__simple_total_width = 792px;
$benefit__simple_total_height = 773px;
$benefit__simple_image = '../images/sprite.png';
$benefit__simple = 388px 0px -388px 0px 120px 120px 792px 773px '../images/sprite.png';
$benefit__universal_x = 194px;
$benefit__universal_y = 148px;
$benefit__universal_offset_x = -194px;
$benefit__universal_offset_y = -148px;
$benefit__universal_width = 120px;
$benefit__universal_height = 120px;
$benefit__universal_total_width = 792px;
$benefit__universal_total_height = 773px;
$benefit__universal_image = '../images/sprite.png';
$benefit__universal = 194px 148px -194px -148px 120px 120px 792px 773px '../images/sprite.png';
$btn__backarrow-hover_x = 773px;
$btn__backarrow-hover_y = 355px;
$btn__backarrow-hover_offset_x = -773px;
$btn__backarrow-hover_offset_y = -355px;
$btn__backarrow-hover_width = 14px;
$btn__backarrow-hover_height = 11px;
$btn__backarrow-hover_total_width = 792px;
$btn__backarrow-hover_total_height = 773px;
$btn__backarrow-hover_image = '../images/sprite.png';
$btn__backarrow-hover = 773px 355px -773px -355px 14px 11px 792px 773px '../images/sprite.png';
$btn__backarrow_x = 773px;
$btn__backarrow_y = 336px;
$btn__backarrow_offset_x = -773px;
$btn__backarrow_offset_y = -336px;
$btn__backarrow_width = 14px;
$btn__backarrow_height = 11px;
$btn__backarrow_total_width = 792px;
$btn__backarrow_total_height = 773px;
$btn__backarrow_image = '../images/sprite.png';
$btn__backarrow = 773px 336px -773px -336px 14px 11px 792px 773px '../images/sprite.png';
$case__goods_x = 256px;
$case__goods_y = 296px;
$case__goods_offset_x = -256px;
$case__goods_offset_y = -296px;
$case__goods_width = 104px;
$case__goods_height = 104px;
$case__goods_total_width = 792px;
$case__goods_total_height = 773px;
$case__goods_image = '../images/sprite.png';
$case__goods = 256px 296px -256px -296px 104px 104px 792px 773px '../images/sprite.png';
$case__site_x = 368px;
$case__site_y = 296px;
$case__site_offset_x = -368px;
$case__site_offset_y = -296px;
$case__site_width = 104px;
$case__site_height = 104px;
$case__site_total_width = 792px;
$case__site_total_height = 773px;
$case__site_image = '../images/sprite.png';
$case__site = 368px 296px -368px -296px 104px 104px 792px 773px '../images/sprite.png';
$community_x = 0px;
$community_y = 424px;
$community_offset_x = 0px;
$community_offset_y = -424px;
$community_width = 209px;
$community_height = 101px;
$community_total_width = 792px;
$community_total_height = 773px;
$community_image = '../images/sprite.png';
$community = 0px 424px 0px -424px 209px 101px 792px 773px '../images/sprite.png';
$dropdown__active_x = 773px;
$dropdown__active_y = 374px;
$dropdown__active_offset_x = -773px;
$dropdown__active_offset_y = -374px;
$dropdown__active_width = 11px;
$dropdown__active_height = 10px;
$dropdown__active_total_width = 792px;
$dropdown__active_total_height = 773px;
$dropdown__active_image = '../images/sprite.png';
$dropdown__active = 773px 374px -773px -374px 11px 10px 792px 773px '../images/sprite.png';
$female_x = 629px;
$female_y = 365px;
$female_offset_x = -629px;
$female_offset_y = -365px;
$female_width = 78px;
$female_height = 81px;
$female_total_width = 792px;
$female_total_height = 773px;
$female_image = '../images/sprite.png';
$female = 629px 365px -629px -365px 78px 81px 792px 773px '../images/sprite.png';
$footer__copyright_x = 773px;
$footer__copyright_y = 210px;
$footer__copyright_offset_x = -773px;
$footer__copyright_offset_y = -210px;
$footer__copyright_width = 15px;
$footer__copyright_height = 14px;
$footer__copyright_total_width = 792px;
$footer__copyright_total_height = 773px;
$footer__copyright_image = '../images/sprite.png';
$footer__copyright = 773px 210px -773px -210px 15px 14px 792px 773px '../images/sprite.png';
$footer__email_x = 773px;
$footer__email_y = 95px;
$footer__email_offset_x = -773px;
$footer__email_offset_y = -95px;
$footer__email_width = 15px;
$footer__email_height = 15px;
$footer__email_total_width = 792px;
$footer__email_total_height = 773px;
$footer__email_image = '../images/sprite.png';
$footer__email = 773px 95px -773px -95px 15px 15px 792px 773px '../images/sprite.png';
$footer__skype_x = 773px;
$footer__skype_y = 118px;
$footer__skype_offset_x = -773px;
$footer__skype_offset_y = -118px;
$footer__skype_width = 15px;
$footer__skype_height = 15px;
$footer__skype_total_width = 792px;
$footer__skype_total_height = 773px;
$footer__skype_image = '../images/sprite.png';
$footer__skype = 773px 118px -773px -118px 15px 15px 792px 773px '../images/sprite.png';
$goal_x = 552px;
$goal_y = 533px;
$goal_offset_x = -552px;
$goal_offset_y = -533px;
$goal_width = 68px;
$goal_height = 68px;
$goal_total_width = 792px;
$goal_total_height = 773px;
$goal_image = '../images/sprite.png';
$goal = 552px 533px -552px -533px 68px 68px 792px 773px '../images/sprite.png';
$howto_x = 516px;
$howto_y = 0px;
$howto_offset_x = -516px;
$howto_offset_y = 0px;
$howto_width = 105px;
$howto_height = 104px;
$howto_total_width = 792px;
$howto_total_height = 773px;
$howto_image = '../images/sprite.png';
$howto = 516px 0px -516px 0px 105px 104px 792px 773px '../images/sprite.png';
$icon-google_x = 682px;
$icon-google_y = 625px;
$icon-google_offset_x = -682px;
$icon-google_offset_y = -625px;
$icon-google_width = 31px;
$icon-google_height = 28px;
$icon-google_total_width = 792px;
$icon-google_total_height = 773px;
$icon-google_image = '../images/sprite.png';
$icon-google = 682px 625px -682px -625px 31px 28px 792px 773px '../images/sprite.png';
$icon-google__hover_x = 464px;
$icon-google__hover_y = 256px;
$icon-google__hover_offset_x = -464px;
$icon-google__hover_offset_y = -256px;
$icon-google__hover_width = 31px;
$icon-google__hover_height = 28px;
$icon-google__hover_total_width = 792px;
$icon-google__hover_total_height = 773px;
$icon-google__hover_image = '../images/sprite.png';
$icon-google__hover = 464px 256px -464px -256px 31px 28px 792px 773px '../images/sprite.png';
$icon-store__black_x = 721px;
$icon-store__black_y = 96px;
$icon-store__black_offset_x = -721px;
$icon-store__black_offset_y = -96px;
$icon-store__black_width = 44px;
$icon-store__black_height = 40px;
$icon-store__black_total_width = 792px;
$icon-store__black_total_height = 773px;
$icon-store__black_image = '../images/sprite.png';
$icon-store__black = 721px 96px -721px -96px 44px 40px 792px 773px '../images/sprite.png';
$icon-store__orange_x = 721px;
$icon-store__orange_y = 48px;
$icon-store__orange_offset_x = -721px;
$icon-store__orange_offset_y = -48px;
$icon-store__orange_width = 44px;
$icon-store__orange_height = 40px;
$icon-store__orange_total_width = 792px;
$icon-store__orange_total_height = 773px;
$icon-store__orange_image = '../images/sprite.png';
$icon-store__orange = 721px 48px -721px -48px 44px 40px 792px 773px '../images/sprite.png';
$icon-store__red_x = 630px;
$icon-store__red_y = 625px;
$icon-store__red_offset_x = -630px;
$icon-store__red_offset_y = -625px;
$icon-store__red_width = 44px;
$icon-store__red_height = 40px;
$icon-store__red_total_width = 792px;
$icon-store__red_total_height = 773px;
$icon-store__red_image = '../images/sprite.png';
$icon-store__red = 630px 625px -630px -625px 44px 40px 792px 773px '../images/sprite.png';
$icon-store__white_x = 721px;
$icon-store__white_y = 0px;
$icon-store__white_offset_x = -721px;
$icon-store__white_offset_y = 0px;
$icon-store__white_width = 44px;
$icon-store__white_height = 40px;
$icon-store__white_total_width = 792px;
$icon-store__white_total_height = 773px;
$icon-store__white_image = '../images/sprite.png';
$icon-store__white = 721px 0px -721px 0px 44px 40px 792px 773px '../images/sprite.png';
$icon-vk_x = 362px;
$icon-vk_y = 148px;
$icon-vk_offset_x = -362px;
$icon-vk_offset_y = -148px;
$icon-vk_width = 18px;
$icon-vk_height = 22px;
$icon-vk_total_width = 792px;
$icon-vk_total_height = 773px;
$icon-vk_image = '../images/sprite.png';
$icon-vk = 362px 148px -362px -148px 18px 22px 792px 773px '../images/sprite.png';
$icon-vk__hover_x = 603px;
$icon-vk__hover_y = 388px;
$icon-vk__hover_offset_x = -603px;
$icon-vk__hover_offset_y = -388px;
$icon-vk__hover_width = 18px;
$icon-vk__hover_height = 22px;
$icon-vk__hover_total_width = 792px;
$icon-vk__hover_total_height = 773px;
$icon-vk__hover_image = '../images/sprite.png';
$icon-vk__hover = 603px 388px -603px -388px 18px 22px 792px 773px '../images/sprite.png';
$icon-zpay_x = 721px;
$icon-zpay_y = 190px;
$icon-zpay_offset_x = -721px;
$icon-zpay_offset_y = -190px;
$icon-zpay_width = 37px;
$icon-zpay_height = 38px;
$icon-zpay_total_width = 792px;
$icon-zpay_total_height = 773px;
$icon-zpay_image = '../images/sprite.png';
$icon-zpay = 721px 190px -721px -190px 37px 38px 792px 773px '../images/sprite.png';
$icon-zpay__hover_x = 721px;
$icon-zpay__hover_y = 144px;
$icon-zpay__hover_offset_x = -721px;
$icon-zpay__hover_offset_y = -144px;
$icon-zpay__hover_width = 37px;
$icon-zpay__hover_height = 38px;
$icon-zpay__hover_total_width = 792px;
$icon-zpay__hover_total_height = 773px;
$icon-zpay__hover_image = '../images/sprite.png';
$icon-zpay__hover = 721px 144px -721px -144px 37px 38px 792px 773px '../images/sprite.png';
$icon__cards_x = 480px;
$icon__cards_y = 384px;
$icon__cards_offset_x = -480px;
$icon__cards_offset_y = -384px;
$icon__cards_width = 16px;
$icon__cards_height = 16px;
$icon__cards_total_width = 792px;
$icon__cards_total_height = 773px;
$icon__cards_image = '../images/sprite.png';
$icon__cards = 480px 384px -480px -384px 16px 16px 792px 773px '../images/sprite.png';
$icon__cart_x = 693px;
$icon__cart_y = 714px;
$icon__cart_offset_x = -693px;
$icon__cart_offset_y = -714px;
$icon__cart_width = 24px;
$icon__cart_height = 20px;
$icon__cart_total_width = 792px;
$icon__cart_total_height = 773px;
$icon__cart_image = '../images/sprite.png';
$icon__cart = 693px 714px -693px -714px 24px 20px 792px 773px '../images/sprite.png';
$icon__cart__hover_x = 480px;
$icon__cart__hover_y = 328px;
$icon__cart__hover_offset_x = -480px;
$icon__cart__hover_offset_y = -328px;
$icon__cart__hover_width = 24px;
$icon__cart__hover_height = 20px;
$icon__cart__hover_total_width = 792px;
$icon__cart__hover_total_height = 773px;
$icon__cart__hover_image = '../images/sprite.png';
$icon__cart__hover = 480px 328px -480px -328px 24px 20px 792px 773px '../images/sprite.png';
$icon__cart__small_x = 773px;
$icon__cart__small_y = 0px;
$icon__cart__small_offset_x = -773px;
$icon__cart__small_offset_y = 0px;
$icon__cart__small_width = 19px;
$icon__cart__small_height = 16px;
$icon__cart__small_total_width = 792px;
$icon__cart__small_total_height = 773px;
$icon__cart__small_image = '../images/sprite.png';
$icon__cart__small = 773px 0px -773px 0px 19px 16px 792px 773px '../images/sprite.png';
$icon__catalog_x = 480px;
$icon__catalog_y = 296px;
$icon__catalog_offset_x = -480px;
$icon__catalog_offset_y = -296px;
$icon__catalog_width = 19px;
$icon__catalog_height = 24px;
$icon__catalog_total_width = 792px;
$icon__catalog_total_height = 773px;
$icon__catalog_image = '../images/sprite.png';
$icon__catalog = 480px 296px -480px -296px 19px 24px 792px 773px '../images/sprite.png';
$icon__check_x = 0px;
$icon__check_y = 757px;
$icon__check_offset_x = 0px;
$icon__check_offset_y = -757px;
$icon__check_width = 23px;
$icon__check_height = 16px;
$icon__check_total_width = 792px;
$icon__check_total_height = 773px;
$icon__check_image = '../images/sprite.png';
$icon__check = 0px 757px 0px -757px 23px 16px 792px 773px '../images/sprite.png';
$icon__cross_x = 773px;
$icon__cross_y = 24px;
$icon__cross_offset_x = -773px;
$icon__cross_offset_y = -24px;
$icon__cross_width = 16px;
$icon__cross_height = 16px;
$icon__cross_total_width = 792px;
$icon__cross_total_height = 773px;
$icon__cross_image = '../images/sprite.png';
$icon__cross = 773px 24px -773px -24px 16px 16px 792px 773px '../images/sprite.png';
$icon__currency--btc_x = 608px;
$icon__currency--btc_y = 137px;
$icon__currency--btc_offset_x = -608px;
$icon__currency--btc_offset_y = -137px;
$icon__currency--btc_width = 13px;
$icon__currency--btc_height = 17px;
$icon__currency--btc_total_width = 792px;
$icon__currency--btc_total_height = 773px;
$icon__currency--btc_image = '../images/sprite.png';
$icon__currency--btc = 608px 137px -608px -137px 13px 17px 792px 773px '../images/sprite.png';
$icon__currency--dol_x = 608px;
$icon__currency--dol_y = 112px;
$icon__currency--dol_offset_x = -608px;
$icon__currency--dol_offset_y = -112px;
$icon__currency--dol_width = 10px;
$icon__currency--dol_height = 17px;
$icon__currency--dol_total_width = 792px;
$icon__currency--dol_total_height = 773px;
$icon__currency--dol_image = '../images/sprite.png';
$icon__currency--dol = 608px 112px -608px -112px 10px 17px 792px 773px '../images/sprite.png';
$icon__currency--eur_x = 773px;
$icon__currency--eur_y = 254px;
$icon__currency--eur_offset_x = -773px;
$icon__currency--eur_offset_y = -254px;
$icon__currency--eur_width = 11px;
$icon__currency--eur_height = 13px;
$icon__currency--eur_total_width = 792px;
$icon__currency--eur_total_height = 773px;
$icon__currency--eur_image = '../images/sprite.png';
$icon__currency--eur = 773px 254px -773px -254px 11px 13px 792px 773px '../images/sprite.png';
$icon__currency--lcn_x = 773px;
$icon__currency--lcn_y = 275px;
$icon__currency--lcn_offset_x = -773px;
$icon__currency--lcn_offset_y = -275px;
$icon__currency--lcn_width = 13px;
$icon__currency--lcn_height = 13px;
$icon__currency--lcn_total_width = 792px;
$icon__currency--lcn_total_height = 773px;
$icon__currency--lcn_image = '../images/sprite.png';
$icon__currency--lcn = 773px 275px -773px -275px 13px 13px 792px 773px '../images/sprite.png';
$icon__currency--rub_x = 773px;
$icon__currency--rub_y = 296px;
$icon__currency--rub_offset_x = -773px;
$icon__currency--rub_offset_y = -296px;
$icon__currency--rub_width = 12px;
$icon__currency--rub_height = 13px;
$icon__currency--rub_total_width = 792px;
$icon__currency--rub_total_height = 773px;
$icon__currency--rub_image = '../images/sprite.png';
$icon__currency--rub = 773px 296px -773px -296px 12px 13px 792px 773px '../images/sprite.png';
$icon__drop--white_x = 773px;
$icon__drop--white_y = 187px;
$icon__drop--white_offset_x = -773px;
$icon__drop--white_offset_y = -187px;
$icon__drop--white_width = 15px;
$icon__drop--white_height = 15px;
$icon__drop--white_total_width = 792px;
$icon__drop--white_total_height = 773px;
$icon__drop--white_image = '../images/sprite.png';
$icon__drop--white = 773px 187px -773px -187px 15px 15px 792px 773px '../images/sprite.png';
$icon__drop--white__active_x = 773px;
$icon__drop--white__active_y = 72px;
$icon__drop--white__active_offset_x = -773px;
$icon__drop--white__active_offset_y = -72px;
$icon__drop--white__active_width = 15px;
$icon__drop--white__active_height = 15px;
$icon__drop--white__active_total_width = 792px;
$icon__drop--white__active_total_height = 773px;
$icon__drop--white__active_image = '../images/sprite.png';
$icon__drop--white__active = 773px 72px -773px -72px 15px 15px 792px 773px '../images/sprite.png';
$icon__drop_x = 773px;
$icon__drop_y = 141px;
$icon__drop_offset_x = -773px;
$icon__drop_offset_y = -141px;
$icon__drop_width = 15px;
$icon__drop_height = 15px;
$icon__drop_total_width = 792px;
$icon__drop_total_height = 773px;
$icon__drop_image = '../images/sprite.png';
$icon__drop = 773px 141px -773px -141px 15px 15px 792px 773px '../images/sprite.png';
$icon__drop__active_x = 773px;
$icon__drop__active_y = 164px;
$icon__drop__active_offset_x = -773px;
$icon__drop__active_offset_y = -164px;
$icon__drop__active_width = 15px;
$icon__drop__active_height = 15px;
$icon__drop__active_total_width = 792px;
$icon__drop__active_total_height = 773px;
$icon__drop__active_image = '../images/sprite.png';
$icon__drop__active = 773px 164px -773px -164px 15px 15px 792px 773px '../images/sprite.png';
$icon__external_x = 554px;
$icon__external_y = 714px;
$icon__external_offset_x = -554px;
$icon__external_offset_y = -714px;
$icon__external_width = 31px;
$icon__external_height = 25px;
$icon__external_total_width = 792px;
$icon__external_total_height = 773px;
$icon__external_image = '../images/sprite.png';
$icon__external = 554px 714px -554px -714px 31px 25px 792px 773px '../images/sprite.png';
$icon__login_x = 773px;
$icon__login_y = 317px;
$icon__login_offset_x = -773px;
$icon__login_offset_y = -317px;
$icon__login_width = 8px;
$icon__login_height = 11px;
$icon__login_total_width = 792px;
$icon__login_total_height = 773px;
$icon__login_image = '../images/sprite.png';
$icon__login = 773px 317px -773px -317px 8px 11px 792px 773px '../images/sprite.png';
$icon__logout_x = 773px;
$icon__logout_y = 232px;
$icon__logout_offset_x = -773px;
$icon__logout_offset_y = -232px;
$icon__logout_width = 12px;
$icon__logout_height = 14px;
$icon__logout_total_width = 792px;
$icon__logout_total_height = 773px;
$icon__logout_image = '../images/sprite.png';
$icon__logout = 773px 232px -773px -232px 12px 14px 792px 773px '../images/sprite.png';
$icon__magazine_x = 725px;
$icon__magazine_y = 714px;
$icon__magazine_offset_x = -725px;
$icon__magazine_offset_y = -714px;
$icon__magazine_width = 16px;
$icon__magazine_height = 16px;
$icon__magazine_total_width = 792px;
$icon__magazine_total_height = 773px;
$icon__magazine_image = '../images/sprite.png';
$icon__magazine = 725px 714px -725px -714px 16px 16px 792px 773px '../images/sprite.png';
$icon__mail_x = 60px;
$icon__mail_y = 757px;
$icon__mail_offset_x = -60px;
$icon__mail_offset_y = -757px;
$icon__mail_width = 21px;
$icon__mail_height = 15px;
$icon__mail_total_width = 792px;
$icon__mail_total_height = 773px;
$icon__mail_image = '../images/sprite.png';
$icon__mail = 60px 757px -60px -757px 21px 15px 792px 773px '../images/sprite.png';
$icon__mail__hover_x = 31px;
$icon__mail__hover_y = 757px;
$icon__mail__hover_offset_x = -31px;
$icon__mail__hover_offset_y = -757px;
$icon__mail__hover_width = 21px;
$icon__mail__hover_height = 15px;
$icon__mail__hover_total_width = 792px;
$icon__mail__hover_total_height = 773px;
$icon__mail__hover_image = '../images/sprite.png';
$icon__mail__hover = 31px 757px -31px -757px 21px 15px 792px 773px '../images/sprite.png';
$icon__profile_x = 480px;
$icon__profile_y = 356px;
$icon__profile_offset_x = -480px;
$icon__profile_offset_y = -356px;
$icon__profile_width = 16px;
$icon__profile_height = 20px;
$icon__profile_total_width = 792px;
$icon__profile_total_height = 773px;
$icon__profile_image = '../images/sprite.png';
$icon__profile = 480px 356px -480px -356px 16px 20px 792px 773px '../images/sprite.png';
$icon__profile__hover_x = 362px;
$icon__profile__hover_y = 178px;
$icon__profile__hover_offset_x = -362px;
$icon__profile__hover_offset_y = -178px;
$icon__profile__hover_width = 16px;
$icon__profile__hover_height = 20px;
$icon__profile__hover_total_width = 792px;
$icon__profile__hover_total_height = 773px;
$icon__profile__hover_image = '../images/sprite.png';
$icon__profile__hover = 362px 178px -362px -178px 16px 20px 792px 773px '../images/sprite.png';
$icon__search--grey_x = 426px;
$icon__search--grey_y = 256px;
$icon__search--grey_offset_x = -426px;
$icon__search--grey_offset_y = -256px;
$icon__search--grey_width = 30px;
$icon__search--grey_height = 30px;
$icon__search--grey_total_width = 792px;
$icon__search--grey_total_height = 773px;
$icon__search--grey_image = '../images/sprite.png';
$icon__search--grey = 426px 256px -426px -256px 30px 30px 792px 773px '../images/sprite.png';
$icon__search_x = 388px;
$icon__search_y = 256px;
$icon__search_offset_x = -388px;
$icon__search_offset_y = -256px;
$icon__search_width = 30px;
$icon__search_height = 30px;
$icon__search_total_width = 792px;
$icon__search_total_height = 773px;
$icon__search_image = '../images/sprite.png';
$icon__search = 388px 256px -388px -256px 30px 30px 792px 773px '../images/sprite.png';
$icon__titles_x = 773px;
$icon__titles_y = 48px;
$icon__titles_offset_x = -773px;
$icon__titles_offset_y = -48px;
$icon__titles_width = 16px;
$icon__titles_height = 16px;
$icon__titles_total_width = 792px;
$icon__titles_total_height = 773px;
$icon__titles_image = '../images/sprite.png';
$icon__titles = 773px 48px -773px -48px 16px 16px 792px 773px '../images/sprite.png';
$male_x = 629px;
$male_y = 276px;
$male_offset_x = -629px;
$male_offset_y = -276px;
$male_width = 78px;
$male_height = 81px;
$male_total_width = 792px;
$male_total_height = 773px;
$male_image = '../images/sprite.png';
$male = 629px 276px -629px -276px 78px 81px 792px 773px '../images/sprite.png';
$mission_x = 540px;
$mission_y = 625px;
$mission_offset_x = -540px;
$mission_offset_y = -625px;
$mission_width = 39px;
$mission_height = 61px;
$mission_total_width = 792px;
$mission_total_height = 773px;
$mission_image = '../images/sprite.png';
$mission = 540px 625px -540px -625px 39px 61px 792px 773px '../images/sprite.png';
$price_x = 629px;
$price_y = 541px;
$price_offset_x = -629px;
$price_offset_y = -541px;
$price_width = 34px;
$price_height = 69px;
$price_total_width = 792px;
$price_total_height = 773px;
$price_image = '../images/sprite.png';
$price = 629px 541px -629px -541px 34px 69px 792px 773px '../images/sprite.png';
$quote__after--greenbg_x = 344px;
$quote__after--greenbg_y = 714px;
$quote__after--greenbg_offset_x = -344px;
$quote__after--greenbg_offset_y = -714px;
$quote__after--greenbg_width = 35px;
$quote__after--greenbg_height = 34px;
$quote__after--greenbg_total_width = 792px;
$quote__after--greenbg_total_height = 773px;
$quote__after--greenbg_image = '../images/sprite.png';
$quote__after--greenbg = 344px 714px -344px -714px 35px 34px 792px 773px '../images/sprite.png';
$quote__after--left_x = 387px;
$quote__after--left_y = 714px;
$quote__after--left_offset_x = -387px;
$quote__after--left_offset_y = -714px;
$quote__after--left_width = 35px;
$quote__after--left_height = 34px;
$quote__after--left_total_width = 792px;
$quote__after--left_total_height = 773px;
$quote__after--left_image = '../images/sprite.png';
$quote__after--left = 387px 714px -387px -714px 35px 34px 792px 773px '../images/sprite.png';
$quote__after_x = 301px;
$quote__after_y = 714px;
$quote__after_offset_x = -301px;
$quote__after_offset_y = -714px;
$quote__after_width = 35px;
$quote__after_height = 34px;
$quote__after_total_width = 792px;
$quote__after_total_height = 773px;
$quote__after_image = '../images/sprite.png';
$quote__after = 301px 714px -301px -714px 35px 34px 792px 773px '../images/sprite.png';
$rate__business-1_x = 487px;
$rate__business-1_y = 424px;
$rate__business-1_offset_x = -487px;
$rate__business-1_offset_y = -424px;
$rate__business-1_width = 127px;
$rate__business-1_height = 87px;
$rate__business-1_total_width = 792px;
$rate__business-1_total_height = 773px;
$rate__business-1_image = '../images/sprite.png';
$rate__business-1 = 487px 424px -487px -424px 127px 87px 792px 773px '../images/sprite.png';
$rate__business-2_x = 217px;
$rate__business-2_y = 424px;
$rate__business-2_offset_x = -217px;
$rate__business-2_offset_y = -424px;
$rate__business-2_width = 127px;
$rate__business-2_height = 87px;
$rate__business-2_total_width = 792px;
$rate__business-2_total_height = 773px;
$rate__business-2_image = '../images/sprite.png';
$rate__business-2 = 217px 424px -217px -424px 127px 87px 792px 773px '../images/sprite.png';
$rate__business-3_x = 352px;
$rate__business-3_y = 424px;
$rate__business-3_offset_x = -352px;
$rate__business-3_offset_y = -424px;
$rate__business-3_width = 127px;
$rate__business-3_height = 87px;
$rate__business-3_total_width = 792px;
$rate__business-3_total_height = 773px;
$rate__business-3_image = '../images/sprite.png';
$rate__business-3 = 352px 424px -352px -424px 127px 87px 792px 773px '../images/sprite.png';
$rate__company-1_x = 194px;
$rate__company-1_y = 0px;
$rate__company-1_offset_x = -194px;
$rate__company-1_offset_y = 0px;
$rate__company-1_width = 186px;
$rate__company-1_height = 140px;
$rate__company-1_total_width = 792px;
$rate__company-1_total_height = 773px;
$rate__company-1_image = '../images/sprite.png';
$rate__company-1 = 194px 0px -194px 0px 186px 140px 792px 773px '../images/sprite.png';
$rate__company-2_x = 0px;
$rate__company-2_y = 148px;
$rate__company-2_offset_x = 0px;
$rate__company-2_offset_y = -148px;
$rate__company-2_width = 186px;
$rate__company-2_height = 140px;
$rate__company-2_total_width = 792px;
$rate__company-2_total_height = 773px;
$rate__company-2_image = '../images/sprite.png';
$rate__company-2 = 0px 148px 0px -148px 186px 140px 792px 773px '../images/sprite.png';
$rate__company-3_x = 0px;
$rate__company-3_y = 0px;
$rate__company-3_offset_x = 0px;
$rate__company-3_offset_y = 0px;
$rate__company-3_width = 186px;
$rate__company-3_height = 140px;
$rate__company-3_total_width = 792px;
$rate__company-3_total_height = 773px;
$rate__company-3_image = '../images/sprite.png';
$rate__company-3 = 0px 0px 0px 0px 186px 140px 792px 773px '../images/sprite.png';
$rate__startup-1_x = 200px;
$rate__startup-1_y = 625px;
$rate__startup-1_offset_x = -200px;
$rate__startup-1_offset_y = -625px;
$rate__startup-1_width = 92px;
$rate__startup-1_height = 81px;
$rate__startup-1_total_width = 792px;
$rate__startup-1_total_height = 773px;
$rate__startup-1_image = '../images/sprite.png';
$rate__startup-1 = 200px 625px -200px -625px 92px 81px 792px 773px '../images/sprite.png';
$rate__startup-2_x = 100px;
$rate__startup-2_y = 625px;
$rate__startup-2_offset_x = -100px;
$rate__startup-2_offset_y = -625px;
$rate__startup-2_width = 92px;
$rate__startup-2_height = 81px;
$rate__startup-2_total_width = 792px;
$rate__startup-2_total_height = 773px;
$rate__startup-2_image = '../images/sprite.png';
$rate__startup-2 = 100px 625px -100px -625px 92px 81px 792px 773px '../images/sprite.png';
$rate__startup-3_x = 0px;
$rate__startup-3_y = 625px;
$rate__startup-3_offset_x = 0px;
$rate__startup-3_offset_y = -625px;
$rate__startup-3_width = 92px;
$rate__startup-3_height = 81px;
$rate__startup-3_total_width = 792px;
$rate__startup-3_total_height = 773px;
$rate__startup-3_image = '../images/sprite.png';
$rate__startup-3 = 0px 625px 0px -625px 92px 81px 792px 773px '../images/sprite.png';
$social__fb_x = 721px;
$social__fb_y = 408px;
$social__fb_offset_x = -721px;
$social__fb_offset_y = -408px;
$social__fb_width = 35px;
$social__fb_height = 35px;
$social__fb_total_width = 792px;
$social__fb_total_height = 773px;
$social__fb_image = '../images/sprite.png';
$social__fb = 721px 408px -721px -408px 35px 35px 792px 773px '../images/sprite.png';
$social__fb__active_x = 721px;
$social__fb__active_y = 365px;
$social__fb__active_offset_x = -721px;
$social__fb__active_offset_y = -365px;
$social__fb__active_width = 35px;
$social__fb__active_height = 35px;
$social__fb__active_total_width = 792px;
$social__fb__active_total_height = 773px;
$social__fb__active_image = '../images/sprite.png';
$social__fb__active = 721px 365px -721px -365px 35px 35px 792px 773px '../images/sprite.png';
$social__fb__hover_x = 721px;
$social__fb__hover_y = 537px;
$social__fb__hover_offset_x = -721px;
$social__fb__hover_offset_y = -537px;
$social__fb__hover_width = 35px;
$social__fb__hover_height = 35px;
$social__fb__hover_total_width = 792px;
$social__fb__hover_total_height = 773px;
$social__fb__hover_image = '../images/sprite.png';
$social__fb__hover = 721px 537px -721px -537px 35px 35px 792px 773px '../images/sprite.png';
$social__gp_x = 721px;
$social__gp_y = 494px;
$social__gp_offset_x = -721px;
$social__gp_offset_y = -494px;
$social__gp_width = 35px;
$social__gp_height = 35px;
$social__gp_total_width = 792px;
$social__gp_total_height = 773px;
$social__gp_image = '../images/sprite.png';
$social__gp = 721px 494px -721px -494px 35px 35px 792px 773px '../images/sprite.png';
$social__gp__active_x = 129px;
$social__gp__active_y = 714px;
$social__gp__active_offset_x = -129px;
$social__gp__active_offset_y = -714px;
$social__gp__active_width = 35px;
$social__gp__active_height = 35px;
$social__gp__active_total_width = 792px;
$social__gp__active_total_height = 773px;
$social__gp__active_image = '../images/sprite.png';
$social__gp__active = 129px 714px -129px -714px 35px 35px 792px 773px '../images/sprite.png';
$social__gp__hover_x = 721px;
$social__gp__hover_y = 623px;
$social__gp__hover_offset_x = -721px;
$social__gp__hover_offset_y = -623px;
$social__gp__hover_width = 35px;
$social__gp__hover_height = 35px;
$social__gp__hover_total_width = 792px;
$social__gp__hover_total_height = 773px;
$social__gp__hover_image = '../images/sprite.png';
$social__gp__hover = 721px 623px -721px -623px 35px 35px 792px 773px '../images/sprite.png';
$social__icon-gp_x = 430px;
$social__icon-gp_y = 714px;
$social__icon-gp_offset_x = -430px;
$social__icon-gp_offset_y = -714px;
$social__icon-gp_width = 31px;
$social__icon-gp_height = 28px;
$social__icon-gp_total_width = 792px;
$social__icon-gp_total_height = 773px;
$social__icon-gp_image = '../images/sprite.png';
$social__icon-gp = 430px 714px -430px -714px 31px 28px 792px 773px '../images/sprite.png';
$social__icon-gp__hover_x = 516px;
$social__icon-gp__hover_y = 388px;
$social__icon-gp__hover_offset_x = -516px;
$social__icon-gp__hover_offset_y = -388px;
$social__icon-gp__hover_width = 31px;
$social__icon-gp__hover_height = 28px;
$social__icon-gp__hover_total_width = 792px;
$social__icon-gp__hover_total_height = 773px;
$social__icon-gp__hover_image = '../images/sprite.png';
$social__icon-gp__hover = 516px 388px -516px -388px 31px 28px 792px 773px '../images/sprite.png';
$social__icon-lj_x = 322px;
$social__icon-lj_y = 218px;
$social__icon-lj_offset_x = -322px;
$social__icon-lj_offset_y = -218px;
$social__icon-lj_width = 35px;
$social__icon-lj_height = 41px;
$social__icon-lj_total_width = 792px;
$social__icon-lj_total_height = 773px;
$social__icon-lj_image = '../images/sprite.png';
$social__icon-lj = 322px 218px -322px -218px 35px 41px 792px 773px '../images/sprite.png';
$social__icon-lj__hover_x = 587px;
$social__icon-lj__hover_y = 625px;
$social__icon-lj__hover_offset_x = -587px;
$social__icon-lj__hover_offset_y = -625px;
$social__icon-lj__hover_width = 35px;
$social__icon-lj__hover_height = 41px;
$social__icon-lj__hover_total_width = 792px;
$social__icon-lj__hover_total_height = 773px;
$social__icon-lj__hover_image = '../images/sprite.png';
$social__icon-lj__hover = 587px 625px -587px -625px 35px 41px 792px 773px '../images/sprite.png';
$social__icon-tw_x = 469px;
$social__icon-tw_y = 714px;
$social__icon-tw_offset_x = -469px;
$social__icon-tw_offset_y = -714px;
$social__icon-tw_width = 40px;
$social__icon-tw_height = 28px;
$social__icon-tw_total_width = 792px;
$social__icon-tw_total_height = 773px;
$social__icon-tw_image = '../images/sprite.png';
$social__icon-tw = 469px 714px -469px -714px 40px 28px 792px 773px '../images/sprite.png';
$social__icon-tw__hover_x = 555px;
$social__icon-tw__hover_y = 388px;
$social__icon-tw__hover_offset_x = -555px;
$social__icon-tw__hover_offset_y = -388px;
$social__icon-tw__hover_width = 40px;
$social__icon-tw__hover_height = 28px;
$social__icon-tw__hover_total_width = 792px;
$social__icon-tw__hover_total_height = 773px;
$social__icon-tw__hover_image = '../images/sprite.png';
$social__icon-tw__hover = 555px 388px -555px -388px 40px 28px 792px 773px '../images/sprite.png';
$social__icon-vk_x = 593px;
$social__icon-vk_y = 714px;
$social__icon-vk_offset_x = -593px;
$social__icon-vk_offset_y = -714px;
$social__icon-vk_width = 42px;
$social__icon-vk_height = 25px;
$social__icon-vk_total_width = 792px;
$social__icon-vk_total_height = 773px;
$social__icon-vk_image = '../images/sprite.png';
$social__icon-vk = 593px 714px -593px -714px 42px 25px 792px 773px '../images/sprite.png';
$social__icon-vk__hover_x = 643px;
$social__icon-vk__hover_y = 714px;
$social__icon-vk__hover_offset_x = -643px;
$social__icon-vk__hover_offset_y = -714px;
$social__icon-vk__hover_width = 42px;
$social__icon-vk__hover_height = 25px;
$social__icon-vk__hover_total_width = 792px;
$social__icon-vk__hover_total_height = 773px;
$social__icon-vk__hover_image = '../images/sprite.png';
$social__icon-vk__hover = 643px 714px -643px -714px 42px 25px 792px 773px '../images/sprite.png';
$social__lj_x = 721px;
$social__lj_y = 451px;
$social__lj_offset_x = -721px;
$social__lj_offset_y = -451px;
$social__lj_width = 35px;
$social__lj_height = 35px;
$social__lj_total_width = 792px;
$social__lj_total_height = 773px;
$social__lj_image = '../images/sprite.png';
$social__lj = 721px 451px -721px -451px 35px 35px 792px 773px '../images/sprite.png';
$social__lj__active_x = 721px;
$social__lj__active_y = 279px;
$social__lj__active_offset_x = -721px;
$social__lj__active_offset_y = -279px;
$social__lj__active_width = 35px;
$social__lj__active_height = 35px;
$social__lj__active_total_width = 792px;
$social__lj__active_total_height = 773px;
$social__lj__active_image = '../images/sprite.png';
$social__lj__active = 721px 279px -721px -279px 35px 35px 792px 773px '../images/sprite.png';
$social__lj__hover_x = 721px;
$social__lj__hover_y = 236px;
$social__lj__hover_offset_x = -721px;
$social__lj__hover_offset_y = -236px;
$social__lj__hover_width = 35px;
$social__lj__hover_height = 35px;
$social__lj__hover_total_width = 792px;
$social__lj__hover_total_height = 773px;
$social__lj__hover_image = '../images/sprite.png';
$social__lj__hover = 721px 236px -721px -236px 35px 35px 792px 773px '../images/sprite.png';
$social__ok_x = 258px;
$social__ok_y = 714px;
$social__ok_offset_x = -258px;
$social__ok_offset_y = -714px;
$social__ok_width = 35px;
$social__ok_height = 35px;
$social__ok_total_width = 792px;
$social__ok_total_height = 773px;
$social__ok_image = '../images/sprite.png';
$social__ok = 258px 714px -258px -714px 35px 35px 792px 773px '../images/sprite.png';
$social__ok__active_x = 215px;
$social__ok__active_y = 714px;
$social__ok__active_offset_x = -215px;
$social__ok__active_offset_y = -714px;
$social__ok__active_width = 35px;
$social__ok__active_height = 35px;
$social__ok__active_total_width = 792px;
$social__ok__active_total_height = 773px;
$social__ok__active_image = '../images/sprite.png';
$social__ok__active = 215px 714px -215px -714px 35px 35px 792px 773px '../images/sprite.png';
$social__ok__hover_x = 172px;
$social__ok__hover_y = 714px;
$social__ok__hover_offset_x = -172px;
$social__ok__hover_offset_y = -714px;
$social__ok__hover_width = 35px;
$social__ok__hover_height = 35px;
$social__ok__hover_total_width = 792px;
$social__ok__hover_total_height = 773px;
$social__ok__hover_image = '../images/sprite.png';
$social__ok__hover = 172px 714px -172px -714px 35px 35px 792px 773px '../images/sprite.png';
$social__tw_x = 86px;
$social__tw_y = 714px;
$social__tw_offset_x = -86px;
$social__tw_offset_y = -714px;
$social__tw_width = 35px;
$social__tw_height = 35px;
$social__tw_total_width = 792px;
$social__tw_total_height = 773px;
$social__tw_image = '../images/sprite.png';
$social__tw = 86px 714px -86px -714px 35px 35px 792px 773px '../images/sprite.png';
$social__tw__active_x = 43px;
$social__tw__active_y = 714px;
$social__tw__active_offset_x = -43px;
$social__tw__active_offset_y = -714px;
$social__tw__active_width = 35px;
$social__tw__active_height = 35px;
$social__tw__active_total_width = 792px;
$social__tw__active_total_height = 773px;
$social__tw__active_image = '../images/sprite.png';
$social__tw__active = 43px 714px -43px -714px 35px 35px 792px 773px '../images/sprite.png';
$social__tw__hover_x = 0px;
$social__tw__hover_y = 714px;
$social__tw__hover_offset_x = 0px;
$social__tw__hover_offset_y = -714px;
$social__tw__hover_width = 35px;
$social__tw__hover_height = 35px;
$social__tw__hover_total_width = 792px;
$social__tw__hover_total_height = 773px;
$social__tw__hover_image = '../images/sprite.png';
$social__tw__hover = 0px 714px 0px -714px 35px 35px 792px 773px '../images/sprite.png';
$social__vk_x = 721px;
$social__vk_y = 666px;
$social__vk_offset_x = -721px;
$social__vk_offset_y = -666px;
$social__vk_width = 35px;
$social__vk_height = 35px;
$social__vk_total_width = 792px;
$social__vk_total_height = 773px;
$social__vk_image = '../images/sprite.png';
$social__vk = 721px 666px -721px -666px 35px 35px 792px 773px '../images/sprite.png';
$social__vk__active_x = 721px;
$social__vk__active_y = 322px;
$social__vk__active_offset_x = -721px;
$social__vk__active_offset_y = -322px;
$social__vk__active_width = 35px;
$social__vk__active_height = 35px;
$social__vk__active_total_width = 792px;
$social__vk__active_total_height = 773px;
$social__vk__active_image = '../images/sprite.png';
$social__vk__active = 721px 322px -721px -322px 35px 35px 792px 773px '../images/sprite.png';
$social__vk__hover_x = 721px;
$social__vk__hover_y = 580px;
$social__vk__hover_offset_x = -721px;
$social__vk__hover_offset_y = -580px;
$social__vk__hover_width = 35px;
$social__vk__hover_height = 35px;
$social__vk__hover_total_width = 792px;
$social__vk__hover_total_height = 773px;
$social__vk__hover_image = '../images/sprite.png';
$social__vk__hover = 721px 580px -721px -580px 35px 35px 792px 773px '../images/sprite.png';
$start_x = 629px;
$start_y = 454px;
$start_offset_x = -629px;
$start_offset_y = -454px;
$start_width = 79px;
$start_height = 79px;
$start_total_width = 792px;
$start_total_height = 773px;
$start_image = '../images/sprite.png';
$start = 629px 454px -629px -454px 79px 79px 792px 773px '../images/sprite.png';
$step__add--white_x = 516px;
$step__add--white_y = 296px;
$step__add--white_offset_x = -516px;
$step__add--white_offset_y = -296px;
$step__add--white_width = 84px;
$step__add--white_height = 84px;
$step__add--white_total_width = 792px;
$step__add--white_total_height = 773px;
$step__add--white_image = '../images/sprite.png';
$step__add--white = 516px 296px -516px -296px 84px 84px 792px 773px '../images/sprite.png';
$step__add_x = 276px;
$step__add_y = 533px;
$step__add_offset_x = -276px;
$step__add_offset_y = -533px;
$step__add_width = 84px;
$step__add_height = 84px;
$step__add_total_width = 792px;
$step__add_total_height = 773px;
$step__add_image = '../images/sprite.png';
$step__add = 276px 533px -276px -533px 84px 84px 792px 773px '../images/sprite.png';
$step__code_x = 460px;
$step__code_y = 533px;
$step__code_offset_x = -460px;
$step__code_offset_y = -533px;
$step__code_width = 84px;
$step__code_height = 84px;
$step__code_total_width = 792px;
$step__code_total_height = 773px;
$step__code_image = '../images/sprite.png';
$step__code = 460px 533px -460px -533px 84px 84px 792px 773px '../images/sprite.png';
$step__create--white_x = 629px;
$step__create--white_y = 0px;
$step__create--white_offset_x = -629px;
$step__create--white_offset_y = 0px;
$step__create--white_width = 84px;
$step__create--white_height = 84px;
$step__create--white_total_width = 792px;
$step__create--white_total_height = 773px;
$step__create--white_image = '../images/sprite.png';
$step__create--white = 629px 0px -629px 0px 84px 84px 792px 773px '../images/sprite.png';
$step__earn--white_x = 629px;
$step__earn--white_y = 92px;
$step__earn--white_offset_x = -629px;
$step__earn--white_offset_y = -92px;
$step__earn--white_width = 84px;
$step__earn--white_height = 84px;
$step__earn--white_total_width = 792px;
$step__earn--white_total_height = 773px;
$step__earn--white_image = '../images/sprite.png';
$step__earn--white = 629px 92px -629px -92px 84px 84px 792px 773px '../images/sprite.png';
$step__earn_x = 629px;
$step__earn_y = 184px;
$step__earn_offset_x = -629px;
$step__earn_offset_y = -184px;
$step__earn_width = 84px;
$step__earn_height = 84px;
$step__earn_total_width = 792px;
$step__earn_total_height = 773px;
$step__earn_image = '../images/sprite.png';
$step__earn = 629px 184px -629px -184px 84px 84px 792px 773px '../images/sprite.png';
$step__get_x = 184px;
$step__get_y = 533px;
$step__get_offset_x = -184px;
$step__get_offset_y = -533px;
$step__get_width = 84px;
$step__get_height = 84px;
$step__get_total_width = 792px;
$step__get_total_height = 773px;
$step__get_image = '../images/sprite.png';
$step__get = 184px 533px -184px -533px 84px 84px 792px 773px '../images/sprite.png';
$step__go--white_x = 92px;
$step__go--white_y = 533px;
$step__go--white_offset_x = -92px;
$step__go--white_offset_y = -533px;
$step__go--white_width = 84px;
$step__go--white_height = 84px;
$step__go--white_total_width = 792px;
$step__go--white_total_height = 773px;
$step__go--white_image = '../images/sprite.png';
$step__go--white = 92px 533px -92px -533px 84px 84px 792px 773px '../images/sprite.png';
$step__send_x = 0px;
$step__send_y = 533px;
$step__send_offset_x = 0px;
$step__send_offset_y = -533px;
$step__send_width = 84px;
$step__send_height = 84px;
$step__send_total_width = 792px;
$step__send_total_height = 773px;
$step__send_image = '../images/sprite.png';
$step__send = 0px 533px 0px -533px 84px 84px 792px 773px '../images/sprite.png';
$step__signin_x = 516px;
$step__signin_y = 204px;
$step__signin_offset_x = -516px;
$step__signin_offset_y = -204px;
$step__signin_width = 84px;
$step__signin_height = 84px;
$step__signin_total_width = 792px;
$step__signin_total_height = 773px;
$step__signin_image = '../images/sprite.png';
$step__signin = 516px 204px -516px -204px 84px 84px 792px 773px '../images/sprite.png';
$step__signup--white_x = 516px;
$step__signup--white_y = 112px;
$step__signup--white_offset_x = -516px;
$step__signup--white_offset_y = -112px;
$step__signup--white_width = 84px;
$step__signup--white_height = 84px;
$step__signup--white_total_width = 792px;
$step__signup--white_total_height = 773px;
$step__signup--white_image = '../images/sprite.png';
$step__signup--white = 516px 112px -516px -112px 84px 84px 792px 773px '../images/sprite.png';
$step__signup_x = 368px;
$step__signup_y = 533px;
$step__signup_offset_x = -368px;
$step__signup_offset_y = -533px;
$step__signup_width = 84px;
$step__signup_height = 84px;
$step__signup_total_width = 792px;
$step__signup_total_height = 773px;
$step__signup_image = '../images/sprite.png';
$step__signup = 368px 533px -368px -533px 84px 84px 792px 773px '../images/sprite.png';
$ui-bullet_x = 517px;
$ui-bullet_y = 714px;
$ui-bullet_offset_x = -517px;
$ui-bullet_offset_y = -714px;
$ui-bullet_width = 29px;
$ui-bullet_height = 26px;
$ui-bullet_total_width = 792px;
$ui-bullet_total_height = 773px;
$ui-bullet_image = '../images/sprite.png';
$ui-bullet = 517px 714px -517px -714px 29px 26px 792px 773px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
