/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$accordeon__group_x = 741px;
$accordeon__group_y = 371px;
$accordeon__group_offset_x = -741px;
$accordeon__group_offset_y = -371px;
$accordeon__group_width = 12px;
$accordeon__group_height = 8px;
$accordeon__group_total_width = 843px;
$accordeon__group_total_height = 799px;
$accordeon__group_image = '../images/sprite.png';
$accordeon__group = 741px 371px -741px -371px 12px 8px 843px 799px '../images/sprite.png';
$arrow-next_x = 571px;
$arrow-next_y = 625px;
$arrow-next_offset_x = -571px;
$arrow-next_offset_y = -625px;
$arrow-next_width = 32px;
$arrow-next_height = 62px;
$arrow-next_total_width = 843px;
$arrow-next_total_height = 799px;
$arrow-next_image = '../images/sprite.png';
$arrow-next = 571px 625px -571px -625px 32px 62px 843px 799px '../images/sprite.png';
$arrow-next__active_x = 491px;
$arrow-next__active_y = 625px;
$arrow-next__active_offset_x = -491px;
$arrow-next__active_offset_y = -625px;
$arrow-next__active_width = 32px;
$arrow-next__active_height = 62px;
$arrow-next__active_total_width = 843px;
$arrow-next__active_total_height = 799px;
$arrow-next__active_image = '../images/sprite.png';
$arrow-next__active = 491px 625px -491px -625px 32px 62px 843px 799px '../images/sprite.png';
$arrow-next__black_x = 531px;
$arrow-next__black_y = 625px;
$arrow-next__black_offset_x = -531px;
$arrow-next__black_offset_y = -625px;
$arrow-next__black_width = 32px;
$arrow-next__black_height = 62px;
$arrow-next__black_total_width = 843px;
$arrow-next__black_total_height = 799px;
$arrow-next__black_image = '../images/sprite.png';
$arrow-next__black = 531px 625px -531px -625px 32px 62px 843px 799px '../images/sprite.png';
$arrow-next__hover_x = 721px;
$arrow-next__hover_y = 0px;
$arrow-next__hover_offset_x = -721px;
$arrow-next__hover_offset_y = 0px;
$arrow-next__hover_width = 32px;
$arrow-next__hover_height = 62px;
$arrow-next__hover_total_width = 843px;
$arrow-next__hover_total_height = 799px;
$arrow-next__hover_image = '../images/sprite.png';
$arrow-next__hover = 721px 0px -721px 0px 32px 62px 843px 799px '../images/sprite.png';
$arrow-prev_x = 651px;
$arrow-prev_y = 625px;
$arrow-prev_offset_x = -651px;
$arrow-prev_offset_y = -625px;
$arrow-prev_width = 32px;
$arrow-prev_height = 62px;
$arrow-prev_total_width = 843px;
$arrow-prev_total_height = 799px;
$arrow-prev_image = '../images/sprite.png';
$arrow-prev = 651px 625px -651px -625px 32px 62px 843px 799px '../images/sprite.png';
$arrow-prev__active_x = 611px;
$arrow-prev__active_y = 625px;
$arrow-prev__active_offset_x = -611px;
$arrow-prev__active_offset_y = -625px;
$arrow-prev__active_width = 32px;
$arrow-prev__active_height = 62px;
$arrow-prev__active_total_width = 843px;
$arrow-prev__active_total_height = 799px;
$arrow-prev__active_image = '../images/sprite.png';
$arrow-prev__active = 611px 625px -611px -625px 32px 62px 843px 799px '../images/sprite.png';
$arrow-prev__black_x = 671px;
$arrow-prev__black_y = 546px;
$arrow-prev__black_offset_x = -671px;
$arrow-prev__black_offset_y = -546px;
$arrow-prev__black_width = 32px;
$arrow-prev__black_height = 62px;
$arrow-prev__black_total_width = 843px;
$arrow-prev__black_total_height = 799px;
$arrow-prev__black_image = '../images/sprite.png';
$arrow-prev__black = 671px 546px -671px -546px 32px 62px 843px 799px '../images/sprite.png';
$arrow-prev__hover_x = 322px;
$arrow-prev__hover_y = 148px;
$arrow-prev__hover_offset_x = -322px;
$arrow-prev__hover_offset_y = -148px;
$arrow-prev__hover_width = 32px;
$arrow-prev__hover_height = 62px;
$arrow-prev__hover_total_width = 843px;
$arrow-prev__hover_total_height = 799px;
$arrow-prev__hover_image = '../images/sprite.png';
$arrow-prev__hover = 322px 148px -322px -148px 32px 62px 843px 799px '../images/sprite.png';
$benefit__complex_x = 0px;
$benefit__complex_y = 296px;
$benefit__complex_offset_x = 0px;
$benefit__complex_offset_y = -296px;
$benefit__complex_width = 120px;
$benefit__complex_height = 120px;
$benefit__complex_total_width = 843px;
$benefit__complex_total_height = 799px;
$benefit__complex_image = '../images/sprite.png';
$benefit__complex = 0px 296px 0px -296px 120px 120px 843px 799px '../images/sprite.png';
$benefit__open_x = 128px;
$benefit__open_y = 296px;
$benefit__open_offset_x = -128px;
$benefit__open_offset_y = -296px;
$benefit__open_width = 120px;
$benefit__open_height = 120px;
$benefit__open_total_width = 843px;
$benefit__open_total_height = 799px;
$benefit__open_image = '../images/sprite.png';
$benefit__open = 128px 296px -128px -296px 120px 120px 843px 799px '../images/sprite.png';
$benefit__profit_x = 388px;
$benefit__profit_y = 0px;
$benefit__profit_offset_x = -388px;
$benefit__profit_offset_y = 0px;
$benefit__profit_width = 120px;
$benefit__profit_height = 120px;
$benefit__profit_total_width = 843px;
$benefit__profit_total_height = 799px;
$benefit__profit_image = '../images/sprite.png';
$benefit__profit = 388px 0px -388px 0px 120px 120px 843px 799px '../images/sprite.png';
$benefit__simple_x = 194px;
$benefit__simple_y = 148px;
$benefit__simple_offset_x = -194px;
$benefit__simple_offset_y = -148px;
$benefit__simple_width = 120px;
$benefit__simple_height = 120px;
$benefit__simple_total_width = 843px;
$benefit__simple_total_height = 799px;
$benefit__simple_image = '../images/sprite.png';
$benefit__simple = 194px 148px -194px -148px 120px 120px 843px 799px '../images/sprite.png';
$benefit__universal_x = 388px;
$benefit__universal_y = 128px;
$benefit__universal_offset_x = -388px;
$benefit__universal_offset_y = -128px;
$benefit__universal_width = 120px;
$benefit__universal_height = 120px;
$benefit__universal_total_width = 843px;
$benefit__universal_total_height = 799px;
$benefit__universal_image = '../images/sprite.png';
$benefit__universal = 388px 128px -388px -128px 120px 120px 843px 799px '../images/sprite.png';
$btn__backarrow-hover_x = 721px;
$btn__backarrow-hover_y = 432px;
$btn__backarrow-hover_offset_x = -721px;
$btn__backarrow-hover_offset_y = -432px;
$btn__backarrow-hover_width = 14px;
$btn__backarrow-hover_height = 11px;
$btn__backarrow-hover_total_width = 843px;
$btn__backarrow-hover_total_height = 799px;
$btn__backarrow-hover_image = '../images/sprite.png';
$btn__backarrow-hover = 721px 432px -721px -432px 14px 11px 843px 799px '../images/sprite.png';
$btn__backarrow_x = 721px;
$btn__backarrow_y = 413px;
$btn__backarrow_offset_x = -721px;
$btn__backarrow_offset_y = -413px;
$btn__backarrow_width = 14px;
$btn__backarrow_height = 11px;
$btn__backarrow_total_width = 843px;
$btn__backarrow_total_height = 799px;
$btn__backarrow_image = '../images/sprite.png';
$btn__backarrow = 721px 413px -721px -413px 14px 11px 843px 799px '../images/sprite.png';
$case__goods_x = 256px;
$case__goods_y = 296px;
$case__goods_offset_x = -256px;
$case__goods_offset_y = -296px;
$case__goods_width = 104px;
$case__goods_height = 104px;
$case__goods_total_width = 843px;
$case__goods_total_height = 799px;
$case__goods_image = '../images/sprite.png';
$case__goods = 256px 296px -256px -296px 104px 104px 843px 799px '../images/sprite.png';
$case__site_x = 368px;
$case__site_y = 296px;
$case__site_offset_x = -368px;
$case__site_offset_y = -296px;
$case__site_width = 104px;
$case__site_height = 104px;
$case__site_total_width = 843px;
$case__site_total_height = 799px;
$case__site_image = '../images/sprite.png';
$case__site = 368px 296px -368px -296px 104px 104px 843px 799px '../images/sprite.png';
$chair_x = 516px;
$chair_y = 112px;
$chair_offset_x = -516px;
$chair_offset_y = -112px;
$chair_width = 68px;
$chair_height = 88px;
$chair_total_width = 843px;
$chair_total_height = 799px;
$chair_image = '../images/sprite.png';
$chair = 516px 112px -516px -112px 68px 88px 843px 799px '../images/sprite.png';
$community_x = 0px;
$community_y = 424px;
$community_offset_x = 0px;
$community_offset_y = -424px;
$community_width = 209px;
$community_height = 101px;
$community_total_width = 843px;
$community_total_height = 799px;
$community_image = '../images/sprite.png';
$community = 0px 424px 0px -424px 209px 101px 843px 799px '../images/sprite.png';
$dropdown__active_x = 832px;
$dropdown__active_y = 723px;
$dropdown__active_offset_x = -832px;
$dropdown__active_offset_y = -723px;
$dropdown__active_width = 11px;
$dropdown__active_height = 10px;
$dropdown__active_total_width = 843px;
$dropdown__active_total_height = 799px;
$dropdown__active_image = '../images/sprite.png';
$dropdown__active = 832px 723px -832px -723px 11px 10px 843px 799px '../images/sprite.png';
$female_x = 629px;
$female_y = 368px;
$female_offset_x = -629px;
$female_offset_y = -368px;
$female_width = 78px;
$female_height = 81px;
$female_total_width = 843px;
$female_total_height = 799px;
$female_image = '../images/sprite.png';
$female = 629px 368px -629px -368px 78px 81px 843px 799px '../images/sprite.png';
$footer__copyright_x = 721px;
$footer__copyright_y = 349px;
$footer__copyright_offset_x = -721px;
$footer__copyright_offset_y = -349px;
$footer__copyright_width = 15px;
$footer__copyright_height = 14px;
$footer__copyright_total_width = 843px;
$footer__copyright_total_height = 799px;
$footer__copyright_image = '../images/sprite.png';
$footer__copyright = 721px 349px -721px -349px 15px 14px 843px 799px '../images/sprite.png';
$footer__email_x = 721px;
$footer__email_y = 326px;
$footer__email_offset_x = -721px;
$footer__email_offset_y = -326px;
$footer__email_width = 15px;
$footer__email_height = 15px;
$footer__email_total_width = 843px;
$footer__email_total_height = 799px;
$footer__email_image = '../images/sprite.png';
$footer__email = 721px 326px -721px -326px 15px 15px 843px 799px '../images/sprite.png';
$footer__skype_x = 721px;
$footer__skype_y = 165px;
$footer__skype_offset_x = -721px;
$footer__skype_offset_y = -165px;
$footer__skype_width = 15px;
$footer__skype_height = 15px;
$footer__skype_total_width = 843px;
$footer__skype_total_height = 799px;
$footer__skype_image = '../images/sprite.png';
$footer__skype = 721px 165px -721px -165px 15px 15px 843px 799px '../images/sprite.png';
$goal_x = 552px;
$goal_y = 533px;
$goal_offset_x = -552px;
$goal_offset_y = -533px;
$goal_width = 68px;
$goal_height = 68px;
$goal_total_width = 843px;
$goal_total_height = 799px;
$goal_image = '../images/sprite.png';
$goal = 552px 533px -552px -533px 68px 68px 843px 799px '../images/sprite.png';
$howto_x = 516px;
$howto_y = 0px;
$howto_offset_x = -516px;
$howto_offset_y = 0px;
$howto_width = 105px;
$howto_height = 104px;
$howto_total_width = 843px;
$howto_total_height = 799px;
$howto_image = '../images/sprite.png';
$howto = 516px 0px -516px 0px 105px 104px 843px 799px '../images/sprite.png';
$icon-bag_x = 53px;
$icon-bag_y = 714px;
$icon-bag_offset_x = -53px;
$icon-bag_offset_y = -714px;
$icon-bag_width = 41px;
$icon-bag_height = 52px;
$icon-bag_total_width = 843px;
$icon-bag_total_height = 799px;
$icon-bag_image = '../images/sprite.png';
$icon-bag = 53px 714px -53px -714px 41px 52px 843px 799px '../images/sprite.png';
$icon-basket_x = 218px;
$icon-basket_y = 714px;
$icon-basket_offset_x = -218px;
$icon-basket_offset_y = -714px;
$icon-basket_width = 53px;
$icon-basket_height = 44px;
$icon-basket_total_width = 843px;
$icon-basket_total_height = 799px;
$icon-basket_image = '../images/sprite.png';
$icon-basket = 218px 714px -218px -714px 53px 44px 843px 799px '../images/sprite.png';
$icon-cart_x = 322px;
$icon-cart_y = 218px;
$icon-cart_offset_x = -322px;
$icon-cart_offset_y = -218px;
$icon-cart_width = 44px;
$icon-cart_height = 47px;
$icon-cart_total_width = 843px;
$icon-cart_total_height = 799px;
$icon-cart_image = '../images/sprite.png';
$icon-cart = 322px 218px -322px -218px 44px 47px 843px 799px '../images/sprite.png';
$icon-coins_x = 102px;
$icon-coins_y = 714px;
$icon-coins_offset_x = -102px;
$icon-coins_offset_y = -714px;
$icon-coins_width = 50px;
$icon-coins_height = 44px;
$icon-coins_total_width = 843px;
$icon-coins_total_height = 799px;
$icon-coins_image = '../images/sprite.png';
$icon-coins = 102px 714px -102px -714px 50px 44px 843px 799px '../images/sprite.png';
$icon-google_x = 808px;
$icon-google_y = 283px;
$icon-google_offset_x = -808px;
$icon-google_offset_y = -283px;
$icon-google_width = 31px;
$icon-google_height = 28px;
$icon-google_total_width = 843px;
$icon-google_total_height = 799px;
$icon-google_image = '../images/sprite.png';
$icon-google = 808px 283px -808px -283px 31px 28px 843px 799px '../images/sprite.png';
$icon-google__hover_x = 808px;
$icon-google__hover_y = 319px;
$icon-google__hover_offset_x = -808px;
$icon-google__hover_offset_y = -319px;
$icon-google__hover_width = 31px;
$icon-google__hover_height = 28px;
$icon-google__hover_total_width = 843px;
$icon-google__hover_total_height = 799px;
$icon-google__hover_image = '../images/sprite.png';
$icon-google__hover = 808px 319px -808px -319px 31px 28px 843px 799px '../images/sprite.png';
$icon-store_x = 160px;
$icon-store_y = 714px;
$icon-store_offset_x = -160px;
$icon-store_offset_y = -714px;
$icon-store_width = 50px;
$icon-store_height = 44px;
$icon-store_total_width = 843px;
$icon-store_total_height = 799px;
$icon-store_image = '../images/sprite.png';
$icon-store = 160px 714px -160px -714px 50px 44px 843px 799px '../images/sprite.png';
$icon-store__black_x = 435px;
$icon-store__black_y = 714px;
$icon-store__black_offset_x = -435px;
$icon-store__black_offset_y = -714px;
$icon-store__black_width = 44px;
$icon-store__black_height = 40px;
$icon-store__black_total_width = 843px;
$icon-store__black_total_height = 799px;
$icon-store__black_image = '../images/sprite.png';
$icon-store__black = 435px 714px -435px -714px 44px 40px 843px 799px '../images/sprite.png';
$icon-store__orange_x = 383px;
$icon-store__orange_y = 714px;
$icon-store__orange_offset_x = -383px;
$icon-store__orange_offset_y = -714px;
$icon-store__orange_width = 44px;
$icon-store__orange_height = 40px;
$icon-store__orange_total_width = 843px;
$icon-store__orange_total_height = 799px;
$icon-store__orange_image = '../images/sprite.png';
$icon-store__orange = 383px 714px -383px -714px 44px 40px 843px 799px '../images/sprite.png';
$icon-store__red_x = 331px;
$icon-store__red_y = 714px;
$icon-store__red_offset_x = -331px;
$icon-store__red_offset_y = -714px;
$icon-store__red_width = 44px;
$icon-store__red_height = 40px;
$icon-store__red_total_width = 843px;
$icon-store__red_total_height = 799px;
$icon-store__red_image = '../images/sprite.png';
$icon-store__red = 331px 714px -331px -714px 44px 40px 843px 799px '../images/sprite.png';
$icon-store__white_x = 279px;
$icon-store__white_y = 714px;
$icon-store__white_offset_x = -279px;
$icon-store__white_offset_y = -714px;
$icon-store__white_width = 44px;
$icon-store__white_height = 40px;
$icon-store__white_total_width = 843px;
$icon-store__white_total_height = 799px;
$icon-store__white_image = '../images/sprite.png';
$icon-store__white = 279px 714px -279px -714px 44px 40px 843px 799px '../images/sprite.png';
$icon-tag_x = 0px;
$icon-tag_y = 714px;
$icon-tag_offset_x = 0px;
$icon-tag_offset_y = -714px;
$icon-tag_width = 45px;
$icon-tag_height = 52px;
$icon-tag_total_width = 843px;
$icon-tag_total_height = 799px;
$icon-tag_image = '../images/sprite.png';
$icon-tag = 0px 714px 0px -714px 45px 52px 843px 799px '../images/sprite.png';
$icon-vk_x = 808px;
$icon-vk_y = 556px;
$icon-vk_offset_x = -808px;
$icon-vk_offset_y = -556px;
$icon-vk_width = 18px;
$icon-vk_height = 22px;
$icon-vk_total_width = 843px;
$icon-vk_total_height = 799px;
$icon-vk_image = '../images/sprite.png';
$icon-vk = 808px 556px -808px -556px 18px 22px 843px 799px '../images/sprite.png';
$icon-vk__hover_x = 808px;
$icon-vk__hover_y = 526px;
$icon-vk__hover_offset_x = -808px;
$icon-vk__hover_offset_y = -526px;
$icon-vk__hover_width = 18px;
$icon-vk__hover_height = 22px;
$icon-vk__hover_total_width = 843px;
$icon-vk__hover_total_height = 799px;
$icon-vk__hover_image = '../images/sprite.png';
$icon-vk__hover = 808px 526px -808px -526px 18px 22px 843px 799px '../images/sprite.png';
$icon-zpay_x = 761px;
$icon-zpay_y = 213px;
$icon-zpay_offset_x = -761px;
$icon-zpay_offset_y = -213px;
$icon-zpay_width = 37px;
$icon-zpay_height = 38px;
$icon-zpay_total_width = 843px;
$icon-zpay_total_height = 799px;
$icon-zpay_image = '../images/sprite.png';
$icon-zpay = 761px 213px -761px -213px 37px 38px 843px 799px '../images/sprite.png';
$icon-zpay__hover_x = 761px;
$icon-zpay__hover_y = 167px;
$icon-zpay__hover_offset_x = -761px;
$icon-zpay__hover_offset_y = -167px;
$icon-zpay__hover_width = 37px;
$icon-zpay__hover_height = 38px;
$icon-zpay__hover_total_width = 843px;
$icon-zpay__hover_total_height = 799px;
$icon-zpay__hover_image = '../images/sprite.png';
$icon-zpay__hover = 761px 167px -761px -167px 37px 38px 843px 799px '../images/sprite.png';
$icon__cards_x = 721px;
$icon__cards_y = 70px;
$icon__cards_offset_x = -721px;
$icon__cards_offset_y = -70px;
$icon__cards_width = 16px;
$icon__cards_height = 16px;
$icon__cards_total_width = 843px;
$icon__cards_total_height = 799px;
$icon__cards_image = '../images/sprite.png';
$icon__cards = 721px 70px -721px -70px 16px 16px 843px 799px '../images/sprite.png';
$icon__cart_x = 808px;
$icon__cart_y = 614px;
$icon__cart_offset_x = -808px;
$icon__cart_offset_y = -614px;
$icon__cart_width = 24px;
$icon__cart_height = 20px;
$icon__cart_total_width = 843px;
$icon__cart_total_height = 799px;
$icon__cart_image = '../images/sprite.png';
$icon__cart = 808px 614px -808px -614px 24px 20px 843px 799px '../images/sprite.png';
$icon__cart__hover_x = 808px;
$icon__cart__hover_y = 586px;
$icon__cart__hover_offset_x = -808px;
$icon__cart__hover_offset_y = -586px;
$icon__cart__hover_width = 24px;
$icon__cart__hover_height = 20px;
$icon__cart__hover_total_width = 843px;
$icon__cart__hover_total_height = 799px;
$icon__cart__hover_image = '../images/sprite.png';
$icon__cart__hover = 808px 586px -808px -586px 24px 20px 843px 799px '../images/sprite.png';
$icon__cart__small_x = 721px;
$icon__cart__small_y = 94px;
$icon__cart__small_offset_x = -721px;
$icon__cart__small_offset_y = -94px;
$icon__cart__small_width = 19px;
$icon__cart__small_height = 16px;
$icon__cart__small_total_width = 843px;
$icon__cart__small_total_height = 799px;
$icon__cart__small_image = '../images/sprite.png';
$icon__cart__small = 721px 94px -721px -94px 19px 16px 843px 799px '../images/sprite.png';
$icon__catalog_x = 808px;
$icon__catalog_y = 494px;
$icon__catalog_offset_x = -808px;
$icon__catalog_offset_y = -494px;
$icon__catalog_width = 19px;
$icon__catalog_height = 24px;
$icon__catalog_total_width = 843px;
$icon__catalog_total_height = 799px;
$icon__catalog_image = '../images/sprite.png';
$icon__catalog = 808px 494px -808px -494px 19px 24px 843px 799px '../images/sprite.png';
$icon__check_x = 808px;
$icon__check_y = 747px;
$icon__check_offset_x = -808px;
$icon__check_offset_y = -747px;
$icon__check_width = 23px;
$icon__check_height = 16px;
$icon__check_total_width = 843px;
$icon__check_total_height = 799px;
$icon__check_image = '../images/sprite.png';
$icon__check = 808px 747px -808px -747px 23px 16px 843px 799px '../images/sprite.png';
$icon__cross_x = 761px;
$icon__cross_y = 689px;
$icon__cross_offset_x = -761px;
$icon__cross_offset_y = -689px;
$icon__cross_width = 16px;
$icon__cross_height = 16px;
$icon__cross_total_width = 843px;
$icon__cross_total_height = 799px;
$icon__cross_image = '../images/sprite.png';
$icon__cross = 761px 689px -761px -689px 16px 16px 843px 799px '../images/sprite.png';
$icon__currency--btc_x = 808px;
$icon__currency--btc_y = 698px;
$icon__currency--btc_offset_x = -808px;
$icon__currency--btc_offset_y = -698px;
$icon__currency--btc_width = 13px;
$icon__currency--btc_height = 17px;
$icon__currency--btc_total_width = 843px;
$icon__currency--btc_total_height = 799px;
$icon__currency--btc_image = '../images/sprite.png';
$icon__currency--btc = 808px 698px -808px -698px 13px 17px 843px 799px '../images/sprite.png';
$icon__currency--dol_x = 832px;
$icon__currency--dol_y = 642px;
$icon__currency--dol_offset_x = -832px;
$icon__currency--dol_offset_y = -642px;
$icon__currency--dol_width = 10px;
$icon__currency--dol_height = 17px;
$icon__currency--dol_total_width = 843px;
$icon__currency--dol_total_height = 799px;
$icon__currency--dol_image = '../images/sprite.png';
$icon__currency--dol = 832px 642px -832px -642px 10px 17px 843px 799px '../images/sprite.png';
$icon__currency--eur_x = 832px;
$icon__currency--eur_y = 670px;
$icon__currency--eur_offset_x = -832px;
$icon__currency--eur_offset_y = -670px;
$icon__currency--eur_width = 11px;
$icon__currency--eur_height = 13px;
$icon__currency--eur_total_width = 843px;
$icon__currency--eur_total_height = 799px;
$icon__currency--eur_image = '../images/sprite.png';
$icon__currency--eur = 832px 670px -832px -670px 11px 13px 843px 799px '../images/sprite.png';
$icon__currency--lcn_x = 721px;
$icon__currency--lcn_y = 392px;
$icon__currency--lcn_offset_x = -721px;
$icon__currency--lcn_offset_y = -392px;
$icon__currency--lcn_width = 13px;
$icon__currency--lcn_height = 13px;
$icon__currency--lcn_total_width = 843px;
$icon__currency--lcn_total_height = 799px;
$icon__currency--lcn_image = '../images/sprite.png';
$icon__currency--lcn = 721px 392px -721px -392px 13px 13px 843px 799px '../images/sprite.png';
$icon__currency--rub_x = 721px;
$icon__currency--rub_y = 371px;
$icon__currency--rub_offset_x = -721px;
$icon__currency--rub_offset_y = -371px;
$icon__currency--rub_width = 12px;
$icon__currency--rub_height = 13px;
$icon__currency--rub_total_width = 843px;
$icon__currency--rub_total_height = 799px;
$icon__currency--rub_image = '../images/sprite.png';
$icon__currency--rub = 721px 371px -721px -371px 12px 13px 843px 799px '../images/sprite.png';
$icon__drop--black_x = 721px;
$icon__drop--black_y = 303px;
$icon__drop--black_offset_x = -721px;
$icon__drop--black_offset_y = -303px;
$icon__drop--black_width = 15px;
$icon__drop--black_height = 15px;
$icon__drop--black_total_width = 843px;
$icon__drop--black_total_height = 799px;
$icon__drop--black_image = '../images/sprite.png';
$icon__drop--black = 721px 303px -721px -303px 15px 15px 843px 799px '../images/sprite.png';
$icon__drop--orange_x = 721px;
$icon__drop--orange_y = 280px;
$icon__drop--orange_offset_x = -721px;
$icon__drop--orange_offset_y = -280px;
$icon__drop--orange_width = 15px;
$icon__drop--orange_height = 15px;
$icon__drop--orange_total_width = 843px;
$icon__drop--orange_total_height = 799px;
$icon__drop--orange_image = '../images/sprite.png';
$icon__drop--orange = 721px 280px -721px -280px 15px 15px 843px 799px '../images/sprite.png';
$icon__drop--white_x = 785px;
$icon__drop--white_y = 689px;
$icon__drop--white_offset_x = -785px;
$icon__drop--white_offset_y = -689px;
$icon__drop--white_width = 15px;
$icon__drop--white_height = 15px;
$icon__drop--white_total_width = 843px;
$icon__drop--white_total_height = 799px;
$icon__drop--white_image = '../images/sprite.png';
$icon__drop--white = 785px 689px -785px -689px 15px 15px 843px 799px '../images/sprite.png';
$icon__drop--white__active_x = 721px;
$icon__drop--white__active_y = 234px;
$icon__drop--white__active_offset_x = -721px;
$icon__drop--white__active_offset_y = -234px;
$icon__drop--white__active_width = 15px;
$icon__drop--white__active_height = 15px;
$icon__drop--white__active_total_width = 843px;
$icon__drop--white__active_total_height = 799px;
$icon__drop--white__active_image = '../images/sprite.png';
$icon__drop--white__active = 721px 234px -721px -234px 15px 15px 843px 799px '../images/sprite.png';
$icon__drop_x = 721px;
$icon__drop_y = 211px;
$icon__drop_offset_x = -721px;
$icon__drop_offset_y = -211px;
$icon__drop_width = 15px;
$icon__drop_height = 15px;
$icon__drop_total_width = 843px;
$icon__drop_total_height = 799px;
$icon__drop_image = '../images/sprite.png';
$icon__drop = 721px 211px -721px -211px 15px 15px 843px 799px '../images/sprite.png';
$icon__drop__active_x = 721px;
$icon__drop__active_y = 188px;
$icon__drop__active_offset_x = -721px;
$icon__drop__active_offset_y = -188px;
$icon__drop__active_width = 15px;
$icon__drop__active_height = 15px;
$icon__drop__active_total_width = 843px;
$icon__drop__active_total_height = 799px;
$icon__drop__active_image = '../images/sprite.png';
$icon__drop__active = 721px 188px -721px -188px 15px 15px 843px 799px '../images/sprite.png';
$icon__external_x = 808px;
$icon__external_y = 461px;
$icon__external_offset_x = -808px;
$icon__external_offset_y = -461px;
$icon__external_width = 31px;
$icon__external_height = 25px;
$icon__external_total_width = 843px;
$icon__external_total_height = 799px;
$icon__external_image = '../images/sprite.png';
$icon__external = 808px 461px -808px -461px 31px 25px 843px 799px '../images/sprite.png';
$icon__login_x = 835px;
$icon__login_y = 494px;
$icon__login_offset_x = -835px;
$icon__login_offset_y = -494px;
$icon__login_width = 8px;
$icon__login_height = 11px;
$icon__login_total_width = 843px;
$icon__login_total_height = 799px;
$icon__login_image = '../images/sprite.png';
$icon__login = 835px 494px -835px -494px 8px 11px 843px 799px '../images/sprite.png';
$icon__logout_x = 829px;
$icon__logout_y = 698px;
$icon__logout_offset_x = -829px;
$icon__logout_offset_y = -698px;
$icon__logout_width = 12px;
$icon__logout_height = 14px;
$icon__logout_total_width = 843px;
$icon__logout_total_height = 799px;
$icon__logout_image = '../images/sprite.png';
$icon__logout = 829px 698px -829px -698px 12px 14px 843px 799px '../images/sprite.png';
$icon__magazine_x = 808px;
$icon__magazine_y = 723px;
$icon__magazine_offset_x = -808px;
$icon__magazine_offset_y = -723px;
$icon__magazine_width = 16px;
$icon__magazine_height = 16px;
$icon__magazine_total_width = 843px;
$icon__magazine_total_height = 799px;
$icon__magazine_image = '../images/sprite.png';
$icon__magazine = 808px 723px -808px -723px 16px 16px 843px 799px '../images/sprite.png';
$icon__mail_x = 721px;
$icon__mail_y = 257px;
$icon__mail_offset_x = -721px;
$icon__mail_offset_y = -257px;
$icon__mail_width = 21px;
$icon__mail_height = 15px;
$icon__mail_total_width = 843px;
$icon__mail_total_height = 799px;
$icon__mail_image = '../images/sprite.png';
$icon__mail = 721px 257px -721px -257px 21px 15px 843px 799px '../images/sprite.png';
$icon__mail__hover_x = 721px;
$icon__mail__hover_y = 142px;
$icon__mail__hover_offset_x = -721px;
$icon__mail__hover_offset_y = -142px;
$icon__mail__hover_width = 21px;
$icon__mail__hover_height = 15px;
$icon__mail__hover_total_width = 843px;
$icon__mail__hover_total_height = 799px;
$icon__mail__hover_image = '../images/sprite.png';
$icon__mail__hover = 721px 142px -721px -142px 21px 15px 843px 799px '../images/sprite.png';
$icon__profile_x = 808px;
$icon__profile_y = 642px;
$icon__profile_offset_x = -808px;
$icon__profile_offset_y = -642px;
$icon__profile_width = 16px;
$icon__profile_height = 20px;
$icon__profile_total_width = 843px;
$icon__profile_total_height = 799px;
$icon__profile_image = '../images/sprite.png';
$icon__profile = 808px 642px -808px -642px 16px 20px 843px 799px '../images/sprite.png';
$icon__profile__hover_x = 808px;
$icon__profile__hover_y = 670px;
$icon__profile__hover_offset_x = -808px;
$icon__profile__hover_offset_y = -670px;
$icon__profile__hover_width = 16px;
$icon__profile__hover_height = 20px;
$icon__profile__hover_total_width = 843px;
$icon__profile__hover_total_height = 799px;
$icon__profile__hover_image = '../images/sprite.png';
$icon__profile__hover = 808px 670px -808px -670px 16px 20px 843px 799px '../images/sprite.png';
$icon__search--black_x = 808px;
$icon__search--black_y = 245px;
$icon__search--black_offset_x = -808px;
$icon__search--black_offset_y = -245px;
$icon__search--black_width = 30px;
$icon__search--black_height = 30px;
$icon__search--black_total_width = 843px;
$icon__search--black_total_height = 799px;
$icon__search--black_image = '../images/sprite.png';
$icon__search--black = 808px 245px -808px -245px 30px 30px 843px 799px '../images/sprite.png';
$icon__search--grey_x = 808px;
$icon__search--grey_y = 207px;
$icon__search--grey_offset_x = -808px;
$icon__search--grey_offset_y = -207px;
$icon__search--grey_width = 30px;
$icon__search--grey_height = 30px;
$icon__search--grey_total_width = 843px;
$icon__search--grey_total_height = 799px;
$icon__search--grey_image = '../images/sprite.png';
$icon__search--grey = 808px 207px -808px -207px 30px 30px 843px 799px '../images/sprite.png';
$icon__search_x = 808px;
$icon__search_y = 169px;
$icon__search_offset_x = -808px;
$icon__search_offset_y = -169px;
$icon__search_width = 30px;
$icon__search_height = 30px;
$icon__search_total_width = 843px;
$icon__search_total_height = 799px;
$icon__search_image = '../images/sprite.png';
$icon__search = 808px 169px -808px -169px 30px 30px 843px 799px '../images/sprite.png';
$icon__titles_x = 721px;
$icon__titles_y = 118px;
$icon__titles_offset_x = -721px;
$icon__titles_offset_y = -118px;
$icon__titles_width = 16px;
$icon__titles_height = 16px;
$icon__titles_total_width = 843px;
$icon__titles_total_height = 799px;
$icon__titles_image = '../images/sprite.png';
$icon__titles = 721px 118px -721px -118px 16px 16px 843px 799px '../images/sprite.png';
$male_x = 629px;
$male_y = 457px;
$male_offset_x = -629px;
$male_offset_y = -457px;
$male_width = 78px;
$male_height = 81px;
$male_total_width = 843px;
$male_total_height = 799px;
$male_image = '../images/sprite.png';
$male = 629px 457px -629px -457px 78px 81px 843px 799px '../images/sprite.png';
$mission_x = 761px;
$mission_y = 0px;
$mission_offset_x = -761px;
$mission_offset_y = 0px;
$mission_width = 39px;
$mission_height = 61px;
$mission_total_width = 843px;
$mission_total_height = 799px;
$mission_image = '../images/sprite.png';
$mission = 761px 0px -761px 0px 39px 61px 843px 799px '../images/sprite.png';
$note_x = 387px;
$note_y = 625px;
$note_offset_x = -387px;
$note_offset_y = -625px;
$note_width = 96px;
$note_height = 76px;
$note_total_width = 843px;
$note_total_height = 799px;
$note_image = '../images/sprite.png';
$note = 387px 625px -387px -625px 96px 76px 843px 799px '../images/sprite.png';
$price_x = 629px;
$price_y = 546px;
$price_offset_x = -629px;
$price_offset_y = -546px;
$price_width = 34px;
$price_height = 69px;
$price_total_width = 843px;
$price_total_height = 799px;
$price_image = '../images/sprite.png';
$price = 629px 546px -629px -546px 34px 69px 843px 799px '../images/sprite.png';
$quote__after--greenbg_x = 808px;
$quote__after--greenbg_y = 85px;
$quote__after--greenbg_offset_x = -808px;
$quote__after--greenbg_offset_y = -85px;
$quote__after--greenbg_width = 35px;
$quote__after--greenbg_height = 34px;
$quote__after--greenbg_total_width = 843px;
$quote__after--greenbg_total_height = 799px;
$quote__after--greenbg_image = '../images/sprite.png';
$quote__after--greenbg = 808px 85px -808px -85px 35px 34px 843px 799px '../images/sprite.png';
$quote__after--left_x = 808px;
$quote__after--left_y = 127px;
$quote__after--left_offset_x = -808px;
$quote__after--left_offset_y = -127px;
$quote__after--left_width = 35px;
$quote__after--left_height = 34px;
$quote__after--left_total_width = 843px;
$quote__after--left_total_height = 799px;
$quote__after--left_image = '../images/sprite.png';
$quote__after--left = 808px 127px -808px -127px 35px 34px 843px 799px '../images/sprite.png';
$quote__after_x = 808px;
$quote__after_y = 43px;
$quote__after_offset_x = -808px;
$quote__after_offset_y = -43px;
$quote__after_width = 35px;
$quote__after_height = 34px;
$quote__after_total_width = 843px;
$quote__after_total_height = 799px;
$quote__after_image = '../images/sprite.png';
$quote__after = 808px 43px -808px -43px 35px 34px 843px 799px '../images/sprite.png';
$rate__business-1_x = 352px;
$rate__business-1_y = 424px;
$rate__business-1_offset_x = -352px;
$rate__business-1_offset_y = -424px;
$rate__business-1_width = 127px;
$rate__business-1_height = 87px;
$rate__business-1_total_width = 843px;
$rate__business-1_total_height = 799px;
$rate__business-1_image = '../images/sprite.png';
$rate__business-1 = 352px 424px -352px -424px 127px 87px 843px 799px '../images/sprite.png';
$rate__business-2_x = 487px;
$rate__business-2_y = 424px;
$rate__business-2_offset_x = -487px;
$rate__business-2_offset_y = -424px;
$rate__business-2_width = 127px;
$rate__business-2_height = 87px;
$rate__business-2_total_width = 843px;
$rate__business-2_total_height = 799px;
$rate__business-2_image = '../images/sprite.png';
$rate__business-2 = 487px 424px -487px -424px 127px 87px 843px 799px '../images/sprite.png';
$rate__business-3_x = 217px;
$rate__business-3_y = 424px;
$rate__business-3_offset_x = -217px;
$rate__business-3_offset_y = -424px;
$rate__business-3_width = 127px;
$rate__business-3_height = 87px;
$rate__business-3_total_width = 843px;
$rate__business-3_total_height = 799px;
$rate__business-3_image = '../images/sprite.png';
$rate__business-3 = 217px 424px -217px -424px 127px 87px 843px 799px '../images/sprite.png';
$rate__company-1_x = 0px;
$rate__company-1_y = 0px;
$rate__company-1_offset_x = 0px;
$rate__company-1_offset_y = 0px;
$rate__company-1_width = 186px;
$rate__company-1_height = 140px;
$rate__company-1_total_width = 843px;
$rate__company-1_total_height = 799px;
$rate__company-1_image = '../images/sprite.png';
$rate__company-1 = 0px 0px 0px 0px 186px 140px 843px 799px '../images/sprite.png';
$rate__company-2_x = 194px;
$rate__company-2_y = 0px;
$rate__company-2_offset_x = -194px;
$rate__company-2_offset_y = 0px;
$rate__company-2_width = 186px;
$rate__company-2_height = 140px;
$rate__company-2_total_width = 843px;
$rate__company-2_total_height = 799px;
$rate__company-2_image = '../images/sprite.png';
$rate__company-2 = 194px 0px -194px 0px 186px 140px 843px 799px '../images/sprite.png';
$rate__company-3_x = 0px;
$rate__company-3_y = 148px;
$rate__company-3_offset_x = 0px;
$rate__company-3_offset_y = -148px;
$rate__company-3_width = 186px;
$rate__company-3_height = 140px;
$rate__company-3_total_width = 843px;
$rate__company-3_total_height = 799px;
$rate__company-3_image = '../images/sprite.png';
$rate__company-3 = 0px 148px 0px -148px 186px 140px 843px 799px '../images/sprite.png';
$rate__startup-1_x = 200px;
$rate__startup-1_y = 625px;
$rate__startup-1_offset_x = -200px;
$rate__startup-1_offset_y = -625px;
$rate__startup-1_width = 92px;
$rate__startup-1_height = 81px;
$rate__startup-1_total_width = 843px;
$rate__startup-1_total_height = 799px;
$rate__startup-1_image = '../images/sprite.png';
$rate__startup-1 = 200px 625px -200px -625px 92px 81px 843px 799px '../images/sprite.png';
$rate__startup-2_x = 0px;
$rate__startup-2_y = 625px;
$rate__startup-2_offset_x = 0px;
$rate__startup-2_offset_y = -625px;
$rate__startup-2_width = 92px;
$rate__startup-2_height = 81px;
$rate__startup-2_total_width = 843px;
$rate__startup-2_total_height = 799px;
$rate__startup-2_image = '../images/sprite.png';
$rate__startup-2 = 0px 625px 0px -625px 92px 81px 843px 799px '../images/sprite.png';
$rate__startup-3_x = 100px;
$rate__startup-3_y = 625px;
$rate__startup-3_offset_x = -100px;
$rate__startup-3_offset_y = -625px;
$rate__startup-3_width = 92px;
$rate__startup-3_height = 81px;
$rate__startup-3_total_width = 843px;
$rate__startup-3_total_height = 799px;
$rate__startup-3_image = '../images/sprite.png';
$rate__startup-3 = 100px 625px -100px -625px 92px 81px 843px 799px '../images/sprite.png';
$social__fb_x = 761px;
$social__fb_y = 431px;
$social__fb_offset_x = -761px;
$social__fb_offset_y = -431px;
$social__fb_width = 35px;
$social__fb_height = 35px;
$social__fb_total_width = 843px;
$social__fb_total_height = 799px;
$social__fb_image = '../images/sprite.png';
$social__fb = 761px 431px -761px -431px 35px 35px 843px 799px '../images/sprite.png';
$social__fb__active_x = 761px;
$social__fb__active_y = 388px;
$social__fb__active_offset_x = -761px;
$social__fb__active_offset_y = -388px;
$social__fb__active_width = 35px;
$social__fb__active_height = 35px;
$social__fb__active_total_width = 843px;
$social__fb__active_total_height = 799px;
$social__fb__active_image = '../images/sprite.png';
$social__fb__active = 761px 388px -761px -388px 35px 35px 843px 799px '../images/sprite.png';
$social__fb__hover_x = 761px;
$social__fb__hover_y = 345px;
$social__fb__hover_offset_x = -761px;
$social__fb__hover_offset_y = -345px;
$social__fb__hover_width = 35px;
$social__fb__hover_height = 35px;
$social__fb__hover_total_width = 843px;
$social__fb__hover_total_height = 799px;
$social__fb__hover_image = '../images/sprite.png';
$social__fb__hover = 761px 345px -761px -345px 35px 35px 843px 799px '../images/sprite.png';
$social__gp_x = 659px;
$social__gp_y = 714px;
$social__gp_offset_x = -659px;
$social__gp_offset_y = -714px;
$social__gp_width = 35px;
$social__gp_height = 35px;
$social__gp_total_width = 843px;
$social__gp_total_height = 799px;
$social__gp_image = '../images/sprite.png';
$social__gp = 659px 714px -659px -714px 35px 35px 843px 799px '../images/sprite.png';
$social__gp__active_x = 808px;
$social__gp__active_y = 0px;
$social__gp__active_offset_x = -808px;
$social__gp__active_offset_y = 0px;
$social__gp__active_width = 35px;
$social__gp__active_height = 35px;
$social__gp__active_total_width = 843px;
$social__gp__active_total_height = 799px;
$social__gp__active_image = '../images/sprite.png';
$social__gp__active = 808px 0px -808px 0px 35px 35px 843px 799px '../images/sprite.png';
$social__gp__hover_x = 530px;
$social__gp__hover_y = 714px;
$social__gp__hover_offset_x = -530px;
$social__gp__hover_offset_y = -714px;
$social__gp__hover_width = 35px;
$social__gp__hover_height = 35px;
$social__gp__hover_total_width = 843px;
$social__gp__hover_total_height = 799px;
$social__gp__hover_image = '../images/sprite.png';
$social__gp__hover = 530px 714px -530px -714px 35px 35px 843px 799px '../images/sprite.png';
$social__icon-gp_x = 808px;
$social__icon-gp_y = 391px;
$social__icon-gp_offset_x = -808px;
$social__icon-gp_offset_y = -391px;
$social__icon-gp_width = 31px;
$social__icon-gp_height = 28px;
$social__icon-gp_total_width = 843px;
$social__icon-gp_total_height = 799px;
$social__icon-gp_image = '../images/sprite.png';
$social__icon-gp = 808px 391px -808px -391px 31px 28px 843px 799px '../images/sprite.png';
$social__icon-gp__hover_x = 808px;
$social__icon-gp__hover_y = 355px;
$social__icon-gp__hover_offset_x = -808px;
$social__icon-gp__hover_offset_y = -355px;
$social__icon-gp__hover_width = 31px;
$social__icon-gp__hover_height = 28px;
$social__icon-gp__hover_total_width = 843px;
$social__icon-gp__hover_total_height = 799px;
$social__icon-gp__hover_image = '../images/sprite.png';
$social__icon-gp__hover = 808px 355px -808px -355px 31px 28px 843px 799px '../images/sprite.png';
$social__icon-lj_x = 761px;
$social__icon-lj_y = 69px;
$social__icon-lj_offset_x = -761px;
$social__icon-lj_offset_y = -69px;
$social__icon-lj_width = 35px;
$social__icon-lj_height = 41px;
$social__icon-lj_total_width = 843px;
$social__icon-lj_total_height = 799px;
$social__icon-lj_image = '../images/sprite.png';
$social__icon-lj = 761px 69px -761px -69px 35px 41px 843px 799px '../images/sprite.png';
$social__icon-lj__hover_x = 761px;
$social__icon-lj__hover_y = 118px;
$social__icon-lj__hover_offset_x = -761px;
$social__icon-lj__hover_offset_y = -118px;
$social__icon-lj__hover_width = 35px;
$social__icon-lj__hover_height = 41px;
$social__icon-lj__hover_total_width = 843px;
$social__icon-lj__hover_total_height = 799px;
$social__icon-lj__hover_image = '../images/sprite.png';
$social__icon-lj__hover = 761px 118px -761px -118px 35px 41px 843px 799px '../images/sprite.png';
$social__icon-tw_x = 436px;
$social__icon-tw_y = 256px;
$social__icon-tw_offset_x = -436px;
$social__icon-tw_offset_y = -256px;
$social__icon-tw_width = 40px;
$social__icon-tw_height = 28px;
$social__icon-tw_total_width = 843px;
$social__icon-tw_total_height = 799px;
$social__icon-tw_image = '../images/sprite.png';
$social__icon-tw = 436px 256px -436px -256px 40px 28px 843px 799px '../images/sprite.png';
$social__icon-tw__hover_x = 388px;
$social__icon-tw__hover_y = 256px;
$social__icon-tw__hover_offset_x = -388px;
$social__icon-tw__hover_offset_y = -256px;
$social__icon-tw__hover_width = 40px;
$social__icon-tw__hover_height = 28px;
$social__icon-tw__hover_total_width = 843px;
$social__icon-tw__hover_total_height = 799px;
$social__icon-tw__hover_image = '../images/sprite.png';
$social__icon-tw__hover = 388px 256px -388px -256px 40px 28px 843px 799px '../images/sprite.png';
$social__icon-vk_x = 50px;
$social__icon-vk_y = 774px;
$social__icon-vk_offset_x = -50px;
$social__icon-vk_offset_y = -774px;
$social__icon-vk_width = 42px;
$social__icon-vk_height = 25px;
$social__icon-vk_total_width = 843px;
$social__icon-vk_total_height = 799px;
$social__icon-vk_image = '../images/sprite.png';
$social__icon-vk = 50px 774px -50px -774px 42px 25px 843px 799px '../images/sprite.png';
$social__icon-vk__hover_x = 0px;
$social__icon-vk__hover_y = 774px;
$social__icon-vk__hover_offset_x = 0px;
$social__icon-vk__hover_offset_y = -774px;
$social__icon-vk__hover_width = 42px;
$social__icon-vk__hover_height = 25px;
$social__icon-vk__hover_total_width = 843px;
$social__icon-vk__hover_total_height = 799px;
$social__icon-vk__hover_image = '../images/sprite.png';
$social__icon-vk__hover = 0px 774px 0px -774px 42px 25px 843px 799px '../images/sprite.png';
$social__lj_x = 761px;
$social__lj_y = 603px;
$social__lj_offset_x = -761px;
$social__lj_offset_y = -603px;
$social__lj_width = 35px;
$social__lj_height = 35px;
$social__lj_total_width = 843px;
$social__lj_total_height = 799px;
$social__lj_image = '../images/sprite.png';
$social__lj = 761px 603px -761px -603px 35px 35px 843px 799px '../images/sprite.png';
$social__lj__active_x = 761px;
$social__lj__active_y = 474px;
$social__lj__active_offset_x = -761px;
$social__lj__active_offset_y = -474px;
$social__lj__active_width = 35px;
$social__lj__active_height = 35px;
$social__lj__active_total_width = 843px;
$social__lj__active_total_height = 799px;
$social__lj__active_image = '../images/sprite.png';
$social__lj__active = 761px 474px -761px -474px 35px 35px 843px 799px '../images/sprite.png';
$social__lj__hover_x = 487px;
$social__lj__hover_y = 714px;
$social__lj__hover_offset_x = -487px;
$social__lj__hover_offset_y = -714px;
$social__lj__hover_width = 35px;
$social__lj__hover_height = 35px;
$social__lj__hover_total_width = 843px;
$social__lj__hover_total_height = 799px;
$social__lj__hover_image = '../images/sprite.png';
$social__lj__hover = 487px 714px -487px -714px 35px 35px 843px 799px '../images/sprite.png';
$social__ok_x = 761px;
$social__ok_y = 646px;
$social__ok_offset_x = -761px;
$social__ok_offset_y = -646px;
$social__ok_width = 35px;
$social__ok_height = 35px;
$social__ok_total_width = 843px;
$social__ok_total_height = 799px;
$social__ok_image = '../images/sprite.png';
$social__ok = 761px 646px -761px -646px 35px 35px 843px 799px '../images/sprite.png';
$social__ok__active_x = 761px;
$social__ok__active_y = 560px;
$social__ok__active_offset_x = -761px;
$social__ok__active_offset_y = -560px;
$social__ok__active_width = 35px;
$social__ok__active_height = 35px;
$social__ok__active_total_width = 843px;
$social__ok__active_total_height = 799px;
$social__ok__active_image = '../images/sprite.png';
$social__ok__active = 761px 560px -761px -560px 35px 35px 843px 799px '../images/sprite.png';
$social__ok__hover_x = 761px;
$social__ok__hover_y = 517px;
$social__ok__hover_offset_x = -761px;
$social__ok__hover_offset_y = -517px;
$social__ok__hover_width = 35px;
$social__ok__hover_height = 35px;
$social__ok__hover_total_width = 843px;
$social__ok__hover_total_height = 799px;
$social__ok__hover_image = '../images/sprite.png';
$social__ok__hover = 761px 517px -761px -517px 35px 35px 843px 799px '../images/sprite.png';
$social__tw_x = 761px;
$social__tw_y = 302px;
$social__tw_offset_x = -761px;
$social__tw_offset_y = -302px;
$social__tw_width = 35px;
$social__tw_height = 35px;
$social__tw_total_width = 843px;
$social__tw_total_height = 799px;
$social__tw_image = '../images/sprite.png';
$social__tw = 761px 302px -761px -302px 35px 35px 843px 799px '../images/sprite.png';
$social__tw__active_x = 761px;
$social__tw__active_y = 259px;
$social__tw__active_offset_x = -761px;
$social__tw__active_offset_y = -259px;
$social__tw__active_width = 35px;
$social__tw__active_height = 35px;
$social__tw__active_total_width = 843px;
$social__tw__active_total_height = 799px;
$social__tw__active_image = '../images/sprite.png';
$social__tw__active = 761px 259px -761px -259px 35px 35px 843px 799px '../images/sprite.png';
$social__tw__hover_x = 745px;
$social__tw__hover_y = 714px;
$social__tw__hover_offset_x = -745px;
$social__tw__hover_offset_y = -714px;
$social__tw__hover_width = 35px;
$social__tw__hover_height = 35px;
$social__tw__hover_total_width = 843px;
$social__tw__hover_total_height = 799px;
$social__tw__hover_image = '../images/sprite.png';
$social__tw__hover = 745px 714px -745px -714px 35px 35px 843px 799px '../images/sprite.png';
$social__vk_x = 702px;
$social__vk_y = 714px;
$social__vk_offset_x = -702px;
$social__vk_offset_y = -714px;
$social__vk_width = 35px;
$social__vk_height = 35px;
$social__vk_total_width = 843px;
$social__vk_total_height = 799px;
$social__vk_image = '../images/sprite.png';
$social__vk = 702px 714px -702px -714px 35px 35px 843px 799px '../images/sprite.png';
$social__vk__active_x = 616px;
$social__vk__active_y = 714px;
$social__vk__active_offset_x = -616px;
$social__vk__active_offset_y = -714px;
$social__vk__active_width = 35px;
$social__vk__active_height = 35px;
$social__vk__active_total_width = 843px;
$social__vk__active_total_height = 799px;
$social__vk__active_image = '../images/sprite.png';
$social__vk__active = 616px 714px -616px -714px 35px 35px 843px 799px '../images/sprite.png';
$social__vk__hover_x = 573px;
$social__vk__hover_y = 714px;
$social__vk__hover_offset_x = -573px;
$social__vk__hover_offset_y = -714px;
$social__vk__hover_width = 35px;
$social__vk__hover_height = 35px;
$social__vk__hover_total_width = 843px;
$social__vk__hover_total_height = 799px;
$social__vk__hover_image = '../images/sprite.png';
$social__vk__hover = 573px 714px -573px -714px 35px 35px 843px 799px '../images/sprite.png';
$start_x = 300px;
$start_y = 625px;
$start_offset_x = -300px;
$start_offset_y = -625px;
$start_width = 79px;
$start_height = 79px;
$start_total_width = 843px;
$start_total_height = 799px;
$start_image = '../images/sprite.png';
$start = 300px 625px -300px -625px 79px 79px 843px 799px '../images/sprite.png';
$step__add--white_x = 92px;
$step__add--white_y = 533px;
$step__add--white_offset_x = -92px;
$step__add--white_offset_y = -533px;
$step__add--white_width = 84px;
$step__add--white_height = 84px;
$step__add--white_total_width = 843px;
$step__add--white_total_height = 799px;
$step__add--white_image = '../images/sprite.png';
$step__add--white = 92px 533px -92px -533px 84px 84px 843px 799px '../images/sprite.png';
$step__add_x = 516px;
$step__add_y = 300px;
$step__add_offset_x = -516px;
$step__add_offset_y = -300px;
$step__add_width = 84px;
$step__add_height = 84px;
$step__add_total_width = 843px;
$step__add_total_height = 799px;
$step__add_image = '../images/sprite.png';
$step__add = 516px 300px -516px -300px 84px 84px 843px 799px '../images/sprite.png';
$step__code_x = 460px;
$step__code_y = 533px;
$step__code_offset_x = -460px;
$step__code_offset_y = -533px;
$step__code_width = 84px;
$step__code_height = 84px;
$step__code_total_width = 843px;
$step__code_total_height = 799px;
$step__code_image = '../images/sprite.png';
$step__code = 460px 533px -460px -533px 84px 84px 843px 799px '../images/sprite.png';
$step__create--white_x = 629px;
$step__create--white_y = 92px;
$step__create--white_offset_x = -629px;
$step__create--white_offset_y = -92px;
$step__create--white_width = 84px;
$step__create--white_height = 84px;
$step__create--white_total_width = 843px;
$step__create--white_total_height = 799px;
$step__create--white_image = '../images/sprite.png';
$step__create--white = 629px 92px -629px -92px 84px 84px 843px 799px '../images/sprite.png';
$step__earn--white_x = 629px;
$step__earn--white_y = 184px;
$step__earn--white_offset_x = -629px;
$step__earn--white_offset_y = -184px;
$step__earn--white_width = 84px;
$step__earn--white_height = 84px;
$step__earn--white_total_width = 843px;
$step__earn--white_total_height = 799px;
$step__earn--white_image = '../images/sprite.png';
$step__earn--white = 629px 184px -629px -184px 84px 84px 843px 799px '../images/sprite.png';
$step__earn_x = 629px;
$step__earn_y = 276px;
$step__earn_offset_x = -629px;
$step__earn_offset_y = -276px;
$step__earn_width = 84px;
$step__earn_height = 84px;
$step__earn_total_width = 843px;
$step__earn_total_height = 799px;
$step__earn_image = '../images/sprite.png';
$step__earn = 629px 276px -629px -276px 84px 84px 843px 799px '../images/sprite.png';
$step__get_x = 368px;
$step__get_y = 533px;
$step__get_offset_x = -368px;
$step__get_offset_y = -533px;
$step__get_width = 84px;
$step__get_height = 84px;
$step__get_total_width = 843px;
$step__get_total_height = 799px;
$step__get_image = '../images/sprite.png';
$step__get = 368px 533px -368px -533px 84px 84px 843px 799px '../images/sprite.png';
$step__go--white_x = 276px;
$step__go--white_y = 533px;
$step__go--white_offset_x = -276px;
$step__go--white_offset_y = -533px;
$step__go--white_width = 84px;
$step__go--white_height = 84px;
$step__go--white_total_width = 843px;
$step__go--white_total_height = 799px;
$step__go--white_image = '../images/sprite.png';
$step__go--white = 276px 533px -276px -533px 84px 84px 843px 799px '../images/sprite.png';
$step__send_x = 184px;
$step__send_y = 533px;
$step__send_offset_x = -184px;
$step__send_offset_y = -533px;
$step__send_width = 84px;
$step__send_height = 84px;
$step__send_total_width = 843px;
$step__send_total_height = 799px;
$step__send_image = '../images/sprite.png';
$step__send = 184px 533px -184px -533px 84px 84px 843px 799px '../images/sprite.png';
$step__signin_x = 0px;
$step__signin_y = 533px;
$step__signin_offset_x = 0px;
$step__signin_offset_y = -533px;
$step__signin_width = 84px;
$step__signin_height = 84px;
$step__signin_total_width = 843px;
$step__signin_total_height = 799px;
$step__signin_image = '../images/sprite.png';
$step__signin = 0px 533px 0px -533px 84px 84px 843px 799px '../images/sprite.png';
$step__signup--white_x = 516px;
$step__signup--white_y = 208px;
$step__signup--white_offset_x = -516px;
$step__signup--white_offset_y = -208px;
$step__signup--white_width = 84px;
$step__signup--white_height = 84px;
$step__signup--white_total_width = 843px;
$step__signup--white_total_height = 799px;
$step__signup--white_image = '../images/sprite.png';
$step__signup--white = 516px 208px -516px -208px 84px 84px 843px 799px '../images/sprite.png';
$step__signup_x = 629px;
$step__signup_y = 0px;
$step__signup_offset_x = -629px;
$step__signup_offset_y = 0px;
$step__signup_width = 84px;
$step__signup_height = 84px;
$step__signup_total_width = 843px;
$step__signup_total_height = 799px;
$step__signup_image = '../images/sprite.png';
$step__signup = 629px 0px -629px 0px 84px 84px 843px 799px '../images/sprite.png';
$ui-bullet_x = 808px;
$ui-bullet_y = 427px;
$ui-bullet_offset_x = -808px;
$ui-bullet_offset_y = -427px;
$ui-bullet_width = 29px;
$ui-bullet_height = 26px;
$ui-bullet_total_width = 843px;
$ui-bullet_total_height = 799px;
$ui-bullet_image = '../images/sprite.png';
$ui-bullet = 808px 427px -808px -427px 29px 26px 843px 799px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
