$grey    	= #efece7
$orange1 	= #f38a1f
$orange  	= #ffa800
$green   	= #02903d
$red     	= #ed1c24
$blue    	= #177a93
$white   	= #f7f5f3
$dark    	= #666
$darkgrey 	= #bfbdb9


$vk_color 	= #577da2
$gp_color 	= #d03f2c
$lj_color 	= #004359
$tw_color 	= #55acee
$zp_color   = #00a650


$a__link    = #177a93
$a__hover   = darken($a__link, 50%)