@media only screen and (min-width: 381px) and (max-width: 640px)
	.partnership 
		.btn-huge
			font-size 30px
			min-width 0
			padding 15px 30px
			white-space normal
			line-height 1.5
			
	.b-partners__item
		width 50%