extends ../partials/layouts/store

block head
	- page.title = 'Доставка';

block menu 
	+menu-list([
		{text:"Платформа",href:"frontpage.html",submenu:[
			{text:"О проекте",href:"about.html"},
			{text:"Торговый портал",href:"http://shop.pokupo.ru/", external:true}
		]},
		{text:"Тарифы",href:"rates.html"},
		{text:"Компания",href:"#", submenu:[
			{text:"События",href:"events.html"},
			{text:"О нас",href:"aboutus.html"},
			{text:"Сообщество",href:"community.html"},
			{text:"Блог",href:"http://pokupo.livejournal.com/", external:true}
		]},
		{text:"Партнёры",href:"partners.html", active: true},
		
		{text:"Помощь", href:js0, submenu:[
			{text:"Вопросы и ответы",href:"faq.html"},	
			{text:"Техническая поддержка",href:"https://help.pokupo.ru", external:true}
		]}
	])(class="b-navigation")


block content
	section.store
		.container
			aside.b-sidebar.dropdown
				a.btn.btn-menu(href=js0 data-target="sidebar") 
					i.icon.icon-catalog
					| Каталог
				.b-sidebar__dropdown(data-target="sidebar")
					h1.b-sidebar__title Пример каталога
					+catalog-list([
					{text:"Компьютерная техника",href:js0, submenu:[
						{text:"Ноутбуки",href:js0, preview:43},
						{text:"Моноблоки",href:js0, preview:11},
						{text:"Планшеты",href:js0, preview:24}
					]},
					{text:"Бытовая техника",href:js0, submenu:[
						{text:"Стиральные машины",href:js0, preview:51},
						{text:"Телевизоры",href:js0, preview:13},
						{text:"Кухонная техника",href:js0, preview:104},
						{text:"Пылесосы",href:js0, preview:8}
					]},
					{text:"Телефоны и связь",href:js0, preview:24},
					{text:"Фото и оптика",href:js0, submenu:[
						{text:"Фотоаппараты",href:js0, preview:6},
						{text:"Объективы",href:js0, preview:2},
						{text:"Средства и химия",href:js0, preview:64}
					]},
					{text:"Одежда, обувь, аксессуары",href:js0, submenu:[
						{text:"Кроссовки",href:js0, preview:19},
						{text:"Кеды",href:js0, preview:134},
						{text:"Босоножки",href:js0, preview:245},
						{text:"Туфли",href:js0, preview:195},
						{text:"Ботильоны",href:js0, preview:132},
						{text:"Сандалии",href:js0, preview:72},
						{text:"Балетки",href:js0, preview:36},
						{text:"Сапоги",href:js0, preview:56},
						{text:"Резиновая обувь",href:js0, preview:5}
						]},
					{text:"Подарки и праздники",href:js0, submenu:[
						{text:"Цветы",href:js0, preview:65},
						{text:"Открытки",href:js0, preview:200},
						{text:"Игрушки",href:js0, preview:31}
					]},
					{text:"Книги, учебники и журналы",href:js0, submenu:[
						{text:"Цветы",href:js0, preview:65},
						{text:"Открытки",href:js0, preview:200},
						{text:"Игрушки",href:js0, preview:31}
					]},
					{text:"Мебель, интерьеры и обиход",href:js0, submenu:[
						{text:"Цветы",href:js0, preview:65},
						{text:"Открытки",href:js0, preview:200},
						{text:"Игрушки",href:js0, preview:31}
					]},
					{text:"Другое",href:js0, submenu:[
						{text:"Цветы",href:js0, preview: 65},
						{text:"Открытки",href:js0, preview: 200},
						{text:"Игрушки",href:js0, preview: 31}
					]}])

			.b-catalog
				.b-thermometer
					p 
						a.backwards-arrow(href=js0)
						span.divider  / 
						a(href="../index.html") Главная
						span.divider  / 
						span.current Как купить

				article.page-content
					h1 Доставка

					p Сегодня у нас Праздник — День рождения Pokupo! Больше года мы шли к этой дате, и вот опубликована первая версия системы, конечно, далеко не всё доступно сейчас и еще многое предстоит сделать, но основной функционал торговой платформы готов.

					h2 Выбор адреса

					p В славном Екатеринбурге на IV Ежегодной конференции Интернет магазин и бизнес on-line. Мы являемся генеральным спонсором этого хорошего и полезного мероприятия для всех интернет предпринимателей. Это наше первое публичное мероприятие, и мы подготовили доклад на тему «Служба поддержки пользователей»

					table.b-order-table.responsive-table
						thead
							tr
								th.b-order-table__logo Компания
								th Способ доставки
								th.b-order-table__price Стоимость
								th Метод расчёта
								th Регион
						tbody
							tr.b-order-table__item
								td(data-title="Лого").b-order-table__logo
									img(src="../images/pages/order/ems.png")
								td(data-title="Способ доставки") 
									b Доставка EMS почтой
									br
									| Доставка по России и регионам выполняет EMS Почта России
								td(data-title="Стоимость").b-order-table__price
									+price(800)
								td(data-title="Метод расчёта")
									| Интуитивный
								td(data-title="Регион")
									| В любой регион

							tr.b-order-table__item
								td(data-title="Лого").b-order-table__logo
									img(src="../images/pages/order/dl.png")
								td(data-title="Способ доставки")
									b Деловые Линии
									br
									| Доставка по России и регионам выполняет транспортная компания Деловые Линиии
								td(data-title="Стоимость").b-order-table__price
									+price(1400)
								td(data-title="Метод расчёта")
									| На калькуляторе
								td(data-title="Регион")
									| Сибирский федеральный округ

							tr.b-order-table__item
								td(data-title="Лого").b-order-table__logo
								td(data-title="Способ доставки")
									b Курьерская доставка
									br
									| В крупных городах это наиболее востребованный способ и  популярнейшая служба доставки.
								td(data-title="Стоимость").b-order-table__price
									+price(900)
								td(data-title="Метод расчёта")
									| В столбик
								td(data-title="Регион")
									| По Новосибирску и области




block scripts
	+script(['main.js'])


