extends ../partials/layouts/letter


block content
    table(cellpadding="0" cellspacing="0" border="0" align="center" id="backgroundTable")
        tr
            td(valign="top")
                #mailsub.pad_null
                    div(style="width:520px; padding: 35px 40px 20px; margin: 0 auto;")
                        img.image_fix(src="../images/logo/example.png" title="[Название магазина]" alt="[Название магазина]" width="268" height="65")
                    div(style="width:520px; padding: 40px 40px 20px; margin: 0 auto; background:#ffffff; word-break: break-word;")
                        h1(style="font-size:30px") Уважаемый %покупатель%!

                        p 
                            | Вы оформили заказ в магазине «Депозитстрой».

                        table(cellpadding="0" cellspacing="0" border="0" align="center" width="520" style="margin: 30px auto; background: #f7f5f3; color: #333333;")
                            tr
                                td(colspan=3 style="padding: 0 20px; height: 50px; border-bottom: 2px solid #ededed")
                                    h2 Заказ №2487
                            tr
                                td(valign="top" width="360" style="padding: 12px 10px 12px 20px;")
                                    a(href="#") Converse Red
                            
                                td(valign="top" width="50"  style="padding: 12px 10px 12px 10px;")
                                    span 2
                                        
                                td(valign="top" width="80"  style="padding: 12px 20px 12px 10px;")
                                    span 
                                        b(style="color:#00883c")
                                            | 8290
                                        span &nbsp;
                                        span(style="color:#00883c") P
                            tr
                                td(valign="top" width="360" style="padding: 12px 10px 12px 20px;")
                                    a(href="#") Converse Blue
                            
                                td(valign="top" width="50"  style="padding: 12px 10px 12px 10px;")
                                    span 1
                                        
                                td(valign="top" width="80"  style="padding: 12px 20px 12px 10px;")
                                    span 
                                        b(style="color:#00883c")
                                            | 3750
                                        span &nbsp;
                                        span(style="color:#00883c") P
                            tr
                                td(valign="top" width="360" style="padding: 12px 10px 12px 20px;")
                                    a(href="#") Штукатурка гипсовая для наружных работ с нормальной влажностью
                            
                                td(valign="top" width="50"  style="padding: 12px 10px 12px 10px;")
                                    span 12
                                        
                                td(valign="top" width="80"  style="padding: 12px 20px 12px 10px;")
                                    span 
                                        b(style="color:#00883c")
                                            | 14 600
                                        span &nbsp;
                                        span(style="color:#00883c") P
                            tr
                                td(colspan=3 style="padding: 0 20px; height: 50px; border-top: 2px solid #ededed")
                                    b(style="color: #333333!important;") Итог:
                                    span(style="font-size:18px; margin-left: 10px;")
                                        b(style="color:#00883c")
                                            | 18&nbsp;740
                                        span &nbsp;
                                        span(style="color:#00883c") P



                        p 
                            | Для просмотра заказа зайдите в личный кабинет продавца.<br/>
                            a(href="https://dev.pokupo.ru/seller/order/314/" target="_blank") https://dev.pokupo.ru/seller/order/314/

                        div
                            | <!--[if mso]>
                            | <v:roundrect href="http://dev.pokupo.ru/#!/" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" style="height:46px;v-text-anchor:middle;width:190px;" arcsize="87%" stroke="f" fillcolor="#ffa800">
                            | <w:anchorlock/>
                            | <center>
                            | <![endif]-->
                            a(href="http://dev.pokupo.ru/#!/" style="margin-top:20px; background-color:#ffa800;border-radius:40px;color:#000000;display:inline-block;font-family:sans-serif;font-size:12px;font-weight:bold;line-height:46px;text-align:center;text-decoration:none;width:190px;-webkit-text-size-adjust:none;") ПЕРЕЙТИ К ЗАКАЗУ
                            | <!--[if mso]>
                            | </center>
                            | </v:roundrect>
                            | <![endif]-->

                        p(style="margin-top:60px")
                            | С наилучшими пожеланиями<br/>
                            | почтовый робот торговой платформы Pokupo<br/>
                            a(href="http://dev.pokupo.ru" target="_blank") http://dev.pokupo.ru

                    div(style="width:520px; padding:  5px 40px 20px; margin: 0 auto; background:#ffffff; border-top: 2px solid #ededed; word-break: break-word;")
                        table(cellpadding="0" cellspacing="0" border="0" align="center" width="520")
                            tr
                                td(valign="top" width="172")
                                    p 
                                        | Посетить сайт<br/>
                                        a(href="http://pokupo.ru" target="_blank") http://pokupo.ru

                                td(valign="top" width="176")
                                    p
                                        | Написать<br/>
                                        a(href="mailto:support@pokupo.ru") support@pokupo.ru

                                td(valign="top" width="172")
                                    p
                                        | Позвонить<br/>
                                        a.mobile_link(href="tel:+74953636393") +7 (495) 363-63-93

                    div(style="width:520px; padding: 20px 40px 20px; margin: 0 auto; ")
                        table(cellpadding="0" cellspacing="0" border="0" align="center" width="520")
                            tr
                                td(valign="top" align="left" width="80")
                                    a(href="http://pokupo.ru/" target="_blank")
                                        img.image_fix(src="../images/logo/logo__letter.jpg" title="Покупо" alt="Покупо" width="70" height="35")
                                td(valign="top" style="font-size: 12px")
                                    span 
                                        | Магазин работает на базе торговой платформы 
                                        b Pokupo 
                                        | &copy; 2014
                                    br
                                    a(href="http://pokupo.ru/" title="Торговая платформа Pokupo" target="_blank") Pokupo.ru
                                    | &nbsp; &nbsp;
                                    a(href="http://help.pokupo.ru/" title="Помощь" target="_blank") Помощь
                                    | &nbsp; &nbsp;
                                    a(href="http://help.pokupo.ru/" title="Служба поддержки" target="_blank") Служба поддержки
