extends ../partials/layouts/profile

block head
	- page.title = 'Личный кабинет: Заказы';

block menu 
	+menu-list([
		{text:"Платформа",href:"frontpage.html",submenu:[
			{text:"О проекте",href:"about.html"},
			{text:"Торговый портал",href:"http://shop.pokupo.ru/", external:true}
		]},
		{text:"Тарифы",href:"rates.html"},
		{text:"Компания",href:"#", submenu:[
			{text:"События",href:"events.html"},
			{text:"О нас",href:"aboutus.html"},
			{text:"Сообщество",href:"community.html"},
			{text:"Блог",href:"http://pokupo.livejournal.com/", external:true}
		]},
		{text:"Партнёры",href:"partners.html"},
		
		{text:"Помощь", href:js0, submenu:[
			{text:"Вопросы и ответы",href:"faq.html"},	
			{text:"Техническая поддержка",href:"https://help.pokupo.ru", external:true}
		]}
	])(class="b-navigation")

block profile-nav
	section.profile-nav.grey
		.container
			ul.menu.b-profile-nav
				li.menu__item
					a.icon__profile(href="profile.html")
						span Профиль
				li.menu__item.active
					a.icon__favorites(href="profile-favorites.html")
						span Избранное
				li.menu__item
					a.icon__cart(href="profile-cart.html")
						span Корзина
				li.menu__item
					a.icon__order(href="profile-orders.html")
						span Заказы
				li.menu__item
					a.icon__mail(href="profile-mail.html")
						span Сообщения
						sup.menu__item__num 25
			a.btn.btn-sm(href=js0)
				i.icon.icon-store--small
				| Стать продавцом							

block content
	section.profile
		.container
			h1.b-profile__header Избранные товары

			.b-profile-info.b-profile-info--fullwidth
				.b-profile-info__actions
					button.btn.btn-xs(type="button") Задать вопрос
					.b-support-info.dropdown.hidden
						span.b-support-info__title
							span.dropdown__trigger(data-target="support")  Поддержка
						.b-support-info__content.dropdown__content(data-target="support")
							p
								span.label 
								a.action
								span.label" Написать
								
								span.label Skype консультанта
								a.action(href="skype:pokupo?chat" onclick="return skypeCheck()") pokupo
								span.label ICQ консультанта
								span.action 14112415151
								span.label Позвонить
								a.action(href="tel:+74953636393") +7 495 363-63-93

				.b-profile-info__summary
					.b-profile-info__photo
						img(src="images/pages/catalog/seller-logo.png")

					h1.b-profile-info__title Торговая платформа Pokupo
					h2.b-profile-info__subtitle ID 19158495
					ul.b-profile-info__characters-list
						li
							span.char Рейтинг: 
							span.value.value--orange +264
						li
							span.char Отзывы / претензии: 
							span.value
								span.value--orange 12
								| / 
								span.value--green 3
						li
							span.char Товаров: 
							span.value 450

					ul.b-profile-info__characters-list
						li
							span.char Сайт: 
							a(href="http://pokupo.ru" target="_blank") pokupo.ru
						li
							span.char E-mail: 
							a(href="mailto:support@pokupo.ru") support@pokupo.ru
						li
							span.char Skype: 
							a(href="skype:pokupo?chat" onclick="return skypeCheck()") pokupo

					ul.b-profile-info__characters-list
						li
							span.char ICQ: 
							a(href="http://pokupo.ru" target="_blank") 14112415151
						li
							span.char Тел.: 
							span.value +7 495 363-63-93
						li
							span.char Моб.: 
							span.value +7 913 790-22-11

			ol.b-order-list
				li.b-order-item.b-thead
					.b-order-item__checkbox
						input#js-select-all(type="checkbox")
						label(for="js-select-all")
					.b-order-item__img
					.b-order-item__name Наименование
					.b-order-item__price Цена

				li.b-order-item
					.b-order-item__checkbox
						input#input__00(type="checkbox")
						label(for="input__00")
					.b-order-item__img
						img(src="images/catalog/goods01.jpg")
					.b-order-item__name
						span Converse White
					.b-order-item__price
						+price(1800)
					.b-order-item__delay
						.drop_button.b-order-item__drop
							span.pseudo-link Удалить
					.b-order-item__action
						button.btn.btn-sm(type="button") 
							i.icon.icon-cart--small
							| В корзину
						button.btn.btn-sm(type="button") 
							| Купить сразу

				li.b-order-item
					.b-order-item__checkbox
						input#input__01(type="checkbox")
						label(for="input__01")
					.b-order-item__img
						img(src="images/catalog/goods02.jpg")
					.b-order-item__name
						span Converse Red
					.b-order-item__price
						+price(2450)
					.b-order-item__delay
						.drop_button.b-order-item__drop
							span.pseudo-link Удалить
					.b-order-item__action
						.cart_button
							span.pseudo-link Товар в корзине
						button.btn.btn-sm(type="button") 
							| Купить сразу

				li.b-order-item
					.b-order-item__checkbox
						input#input__02(type="checkbox")
						label(for="input__02")
					.b-order-item__img
						img(src="images/catalog/goods03.jpg")
					.b-order-item__name
						span Штукатурка гипсовая для&nbsp;наружных работ
					.b-order-item__price
						+price(2990)
					.b-order-item__delay
						.drop_button.b-order-item__drop
							span.pseudo-link Удалить
					.b-order-item__action
						button.btn.btn-sm(type="button") 
							i.icon.icon-cart--small
							| В корзину
						button.btn.btn-sm(type="button") 
							| Купить сразу

			.b-order-list__actions
				.drop_button
					span.pseudo-link Удалить из избранного
				.empty_button
					span.pseudo-link Очистить избранное от товаров















block scripts
	+script([
		'main.js'
	])
