extends ../partials/layouts/store

block head
	- page.title = 'Регистрация покупателя';

block menu 
	+menu-list([
		{text:"Платформа",href:"frontpage.html",submenu:[
			{text:"О проекте",href:"about.html"},
			{text:"Торговый портал",href:"http://shop.pokupo.ru/", external:true}
		]},
		{text:"Тарифы",href:"rates.html"},
		{text:"Компания",href:"#", submenu:[
			{text:"События",href:"events.html"},
			{text:"О нас",href:"aboutus.html"},
			{text:"Сообщество",href:"community.html"},
			{text:"Блог",href:"http://pokupo.livejournal.com/", external:true}
		]},
		{text:"Партнёры",href:"partners.html"},
		
		{text:"Помощь", href:js0, submenu:[
			{text:"Вопросы и ответы",href:"faq.html"},	
			{text:"Техническая поддержка",href:"https://help.pokupo.ru", external:true}
		]}
	])(class="b-navigation")

block content
	section.register-user
		.container
			.b-thermometer
				p 
					a(href="../index.html") Главная 
					span.divider / 
					a(href=js0) Регистрация покупателя
					span.divider / 
					span.current Шаг 1

			.doc
				.h1-with-progress-bar
					canvas#progressCircle(width="160" height="160")
						p Ваш браузер не поддерживает технологию canvas
					h1 Регистрация нового аккаунта


				form(action="#")
					#registerWizard.b-wizard
						ul.b-wizard__steps
							li
								a(href="#step-1")
									label.b-wizard__step-num 1
							li
								a(href="#step-2")
									label.b-wizard__step-num 2
							li
								a(href="#step-3")
									label.b-wizard__step-num 3
							li
								a(href="#step-4")
									label.b-wizard__step-num 4

						#step-1
							h2.b-wizard__step-title Данные аккаунта
							p Укажите свой уникальный псевдоним, почту и телефон

							.b-wizard__step-content
								.input-holder
									.tooltip__trigger(rel="tooltip" title="Введите ваше имя на сайте.") ?
									input.block-input(type="text" name="nickname" value="" placeholder="Псевдоним")


								.input-holder
									.tooltip__trigger(rel="tooltip" title="Для уведомлений о доставке заказа") ?
									input.error.block-input(type="email" name="email" value="почта#мойбложик.рф" placeholder="Ваш e-mail")
									.error__message
										p Кажется, здесь что-то не так

								.input-holder
									.tooltip__trigger(rel="tooltip" title="Для связи с курьером") ?
									input.block-input(type="tel" name="phone" value="" placeholder="Номер телефона")

								.input-holder
									.tooltip__trigger(rel="tooltip" title="Ваш пароль должен содержать минимум одну цифру, заглавную букву, спецсимвол, иероглиф, коловрат, число зверя и кровь девственницы.") ?
									input.block-input(type="password" name="password" value="" placeholder="Пароль")

								.input-holder
									input.block-input(type="password" name="password-double" value="" placeholder="Повторить пароль")

								.input-holder(style="padding-top:13px")
									input#iagree.checkbox(name="iagree" type="checkbox")
									label.block-label.b-small-text(for="iagree") 
										| Я принимаю условия 
										span.pseudo-link пользовательского соглашения
										|,<br/>
										span.pseudo-link правил конфиденциальности
										|  и 
										span.pseudo-link политики возврата платежей

						#step-2
							h2.b-wizard__step-title Активация аккаунта
							p Укажите код, высланный на почтовый адрес или телефон

							.b-wizard__step-content
								.input-holder
									.tooltip__trigger(rel="tooltip" title="Код, высланный на почтовый адрес или телефон") ?
									input.block-input(type="text" name="code" value="" placeholder="Ваш e-mail код")

								.input-holder(style="padding-top:13px")
									input#skip-email.checkbox(name="skip-email" type="checkbox" checked)
									label.block-label.b-small-text(for="skip-email") 
										| Подтвердить почтовый ящик позднее
							
						#step-3
							h2.b-wizard__step-title Персональные данные
							p Укажите свои персональные данные

							.b-wizard__step-content
								.input-holder
									.tooltip__trigger(rel="tooltip" title="Для доставки и выдачи заказов") ?
									input.block-input(type="text" name="family" value="" placeholder="Фамилия")

								.input-holder
									input.block-input(type="text" name="name" value="" placeholder="Имя")

								.input-holder
									input.block-input(type="text" name="patronymic" value="" placeholder="Отчество")									

								.input-holder
									input.block-input(type="text" name="date" value="" placeholder="Дата рождения")

								.input-holder(style="padding-top:13px")
									input#skip_personal.checkbox(name="skip_personal" type="checkbox" checked)
									label.block-label.b-small-text(for="skip_personal") 
										| Указать позже

						#step-4
							h2.b-wizard__step-title Адрес доставки
							p Для доставки покупок требуется указать почтовый адрес

							.b-wizard__step-content
								.input-holder
									select(name="country" value="" placeholder="Страна")
										option(value="1" selected) Россия
										option(value="2") Украина
										option(value="3") Белорусь

								.input-holder
									input.block-input(type="text" name="family" value="" placeholder="Регион")

								.input-holder
									input.block-input(type="text" name="name" value="" placeholder="Город")

								.input-holder
									input.block-input(type="text" name="patronymic" value="" placeholder="Улица, дом, квартира")									

								.input-holder
									input.block-input(type="text" name="date" value="" placeholder="Почтовый индекс")

								.input-holder(style="padding-top:13px")
									input#skip_address.checkbox(name="skip_address" type="checkbox" checked)
									label.block-label.b-small-text(for="skip_address") 
										| Указать позже
							




block scripts
	+script(['libs/jquery.wizard.js', 'libs/progress-circle.js', 'main.js'])