.price
	.with-icon
		h1:before
			position absolute
			display block
			content ''
			width 136px 
			height 136px
			border 2px solid $orange
			border-radius 140px
			top 15px
			left 50%
			margin-left -68px			
			
	p
		font-size 16px
		line-height 24px

	p.incut
		display inline-block
		position relative
		max-width 684px
		margin 4px auto 40px
		font-size 30px
		line-height 40px
		color $orange
		font-weight 800
		text-align center

		& > span
			display inline-block
			margin 0 20px

			&:before
			&:after
				content ''
				position absolute
				width 70px
				border-top 2px solid $orange
				margin-top -2px
				top 50%

			&:before
				left -70px
			  
			&:after
				right -70px
		  
	p.incut--dark
		position relative
		background $darkgrey
		padding 20px 60px
		margin 0 auto 10px
		text-align center
		max-width 760px
		font-size 14px
		line-height 24px
		em
			font-style italic












