.vision
	padding-top 30px
	
	.columns.triple
		margin-top 45px
		margin-right -40px
		padding 0 15px

		.content
			margin-right 40px
			
		
	i.num
		display block
		width 160px
		height 160px
		border 2px solid $orange
		border-radius 100px
		margin 0 auto 20px

		font-size 80px
		line-height 150px
		text-align center
		color $orange
		font-weight 100