@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait), screen and (min-width: 641px) and (max-width: 800px)

	.b-order-item__img
		display none !important

	.b-order-item__name
		width 200px

	.b-order-list 
		.b-catalog-item__limits
			margin-left 0

		.b-increment-input__input[type="text"]
			width 60px
			padding 0 8px

		.b-order-item__qty
			width 180px

		.b-order-item__delay
			width 130px




