@media only screen and (max-width: 640px)
	.b-order-item__img
	.b-order-item__price
		display none !important

	.b-order-item__name
		width 190px
		padding 0 15px 0 0px

	.b-profile-info__title
		clear left

	.b-order-list__actions > div
		width 75px
		
	.b-order-list 
		.b-catalog-item__limits
			margin-left 0

		.b-increment-input__input[type="text"]
			width 60px
			padding 0 8px

		.b-order-item__qty
			width 180px
			padding 0

		.b-order-item__cost
			padding 0

		.b-order-item__delay
			width 130px