@media only screen and (max-width: 640px)
	.cases 
		hgroup
			h1
				line-height 45px

	.slide
		.conditions
			padding-left 6px
			padding-right 6px
			background-size 100% 16px

		.conditions__status
			margin 0 20px

		.steps
			width auto

			li
				font-size 14px