@media only screen and (max-width: 640px)
	.footer
		.columns
			.column
				width 50% !important
				float left !important
				.content
					margin-right 30px
					border-right none

				&.first
					left 0 !important;

				&.second
					clear both
					float none
					position static
					margin 0
					display block
					padding-top 10px
					margin-top 10px

				&.third
					padding-top 10px
					margin-top 10px

				&.fourth
					left 50% !important

				&.third
				&.fourth
					.content
						margin-right 0

				&.second
				&.third
					.content
						border-top 1px solid #ccc
						padding 20px 0 20px 20px

		
		.social
			white-space normal