@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait), screen and (min-width: 641px) and (max-width: 800px)
	.footer
		.column
			width 33%
			.content
				margin-right 30px

			&.first
				left 0
			&.second
				left 33.33%
			&.third
				left 66.66%
			
			&.fourth
				left 66.667%
				margin-top 65px