include ../../../templates/helpers/knockout

script#cartTmpl(type="text/html")
    // version 1.0
    .circles-menu
        +if('isAuthorized')
            .circles-menu__item.dropdown
                a#cart_dropdown__trigger.with-icon.dropdown__trigger.icon__cart(href=js0 data-target="cart")
                    +if('ShowCount()')
                        +if('count() > 0')
                            sup.circles-menu__num(data-bind="text: count")
                
                #cart_dropdown__content.b-cart-menu.dropdown__content.hidden(data-target="cart")
                    +if('ShowTitle()')
                        p(data-bind="text: title")
                    
                    +if('goods().length > 0')
                        .b-cart-menu__body
                            i.b-cart-menu__patch
                            ol.b-cart-menu__goods
                                +each('goods')
                                    li.b-cart-menu__goods-item.b-order-item
                                        .b-order-item__name
                                            span(data-bind="text: fullName")
                                        .b-order-item__qty
                                            span.b-increment-group
                                                span.b-increment-group__darr(data-bind="click: ClickMinus")
                                                span.b-increment-group__qty(data-bind="text: ordered")
                                                span.b-increment-group__uarr(data-bind="click: ClickPlus")

                                        .b-order-item__cost.b-price
                                            span.b-price__number(data-bind="text: endSum")
                                            span.b-price__thinsp &nbsp;
                                            span.b-price__rubl Р

                                        .b-order-item__drop.btn-circle.btn-circle--drop(data-bind="click: ClickRemove")

                            a.btn.btn-md.b-cart-menu__order-button(href="/shop#/cart/") Оформить
                            a.b-cart-menu__cart-button(href="/shop#/cart/") В корзину
                            p.b-cart-menu__results
                                | Итог:
                                span.b-cart-menu__amount.b-price
                                    +if('ShowFinalCost()')
                                        +if('ShowBaseCost()')
                                            span.b-price__number(data-bind="text: finalCost")

                                        +ifnot('ShowBaseCost()')
                                            span.b-price__number(data-bind="text: finalCost")

                                        span.b-price__thinsp &nbsp;
                                        span.b-price__rubl Р