include ../../../templates/helpers/knockout

script#emptyFavoritesTmpl(type='text/html')
	// version 1.0 
	.profile
		.container
			h1.b-profile__header Избранные товары
			div
				p В избранном нет ни одного товара.


script#favoritesTmpl(type='text/html')
	// version 1.0 
	.profile
		.container
			h1.b-profile__header Избранные товары
			+each('content')
				+if('showSellerInfo')
					.b-profile-info.b-profile-info--fullwidth(data-bind="embedWidget : { widget : 'InfoSellerWidget-1.0', params : {data : sellerInfo, tmpl : {path: 'infoSellerTmpl.html', id : 'infoSeller_1Tmpl'}}}")
				
				ol.b-order-list
					li.b-order-item.b-thead
						.b-order-item__checkbox
							input#js-select-all(type='checkbox', data-bind='attr: {id: cssSelectAll}')
							label(for='js-select-all', data-bind='click: ClickSelectAll')
						.b-order-item__img
						.b-order-item__name Наименование
						.b-order-item__price Цена
					+each('goods')
						li.b-order-item
							.b-order-item__checkbox
								input(type='checkbox', data-bind='attr: {id: cssCheckboxGoods}')
								label(for='', data-bind='click: ClickOrder')
							.b-order-item__img
								img(src=js0, data-bind='attr: {src: routeImages, title: fullName }')
							.b-order-item__name
								a(href=js0, data-bind='click: ClickGoods')
									span(data-bind='text: fullName')
							.b-order-item__price
								span.b-price
									span.b-price__number(data-bind='text: sellEndCost')
									span.b-price__thinsp &nbsp;
									span.b-price__rubl Р
							.b-order-item__delay
								.drop_button.b-order-item__drop
									span.pseudo-link(data-bind='click: ClickRemove') Удалить
							.b-order-item__action
								+if('showAddToCart')
									button.btn.btn-sm(type='button', data-bind='click: AddToCart')
										i.icon.icon-cart--small
										| В корзину
									
								+if('showBuy')
									button.btn.btn-sm(type='button', data-bind='click: Buy') Купить сразу
								
				.b-order-list__actions
					+if('DisabledButton')
						.drop_button
							span.pseudo-link(data-bind='click: ClickButchRemove') Удалить из избранного
					
					+ifnot('DisabledButton')
						.drop_button
							span.pseudo-link Удалить из избранного

					.empty_button
						span.pseudo-link(data-bind='click: ClickClearFavorites') Очистить избранное от товаров


