include ../../../templates/helpers/knockout

script#infoSellerTmpl(type='text/html')
	// version 1.0 
	div
		.b-profile-info__actions
			a.btn.btn-xs(target='_blank', data-bind='attr: {href: mailtoShop}') Задать вопрос
		.b-profile-info__summary
			.b-profile-info__photo
				img(src='', data-bind='attr: {src : routeLogoShop, title : nameShop}')

			h1.b-profile-info__title(data-bind='text: nameShop')
			h2.b-profile-info__subtitle
				| ID
				// ko text: shopId 
				// /ko 

			ul.b-profile-info__characters-list
				li
					span.char Рейтинг: 
					span.value.value--orange(data-bind='text: ratingShop')
				li
					span.char Отзывы / претензии: 
					span.value
						span.value--orange
							// ko text: positiveOpinion
							// /ko 
						|  / 
						span.value--red
							// ko text: negativeOpinion 
							// /ko 
				li
					span.char Товаров: 
					span.value(data-bind='text: allGoods')

			ul.b-profile-info__characters-list
				+if('siteSupportShop()')
					li
						span.label Сайт: 
						a.action(href=js0, target='_blank', data-bind='text: siteLinkTitle, attr: {href : siteSupportShop}')
					
				li
					span.char E-mail: 
					a(href=js0, data-bind='attr: {href: mailtoShop}, text: emailLinkTitle')

				+if('skypeSupportShop()')
					li
						span.label Skype: 
						a.action(href='skype:pokupo?chat', onclick='return skypeCheck()', data-bind='text: skypeSupportShop')
				
			ul.b-profile-info__characters-list
				+if('icqSupportShop()')
					li
						span.label ICQ: 
						span.action(data-bind='text: icqSupportShop')

				+if('phonesSupportShop()')
					li
						span.char Тел.: 
						span.value(data-bind='text: phonesSupportShop()')