include ../../../templates/helpers/knockout

script#searchTmpl(type='text/html')
    // version 1.0 
    section.orange.search
        .container
            .b-search
                form(action='', data-bind='submit: SubmitSearchForm')
                    .b-search-holder
                        input.b-search__input(type='search', placeholder='Поиск по каталогу...', data-bind='value: text')
                    .b-location.dropdown.selector
                        a.b-location__current.dropdown__trigger.selector__current.search_dropdown__trigger(href=js0, data-target='location')
                            +if('selectedCatigory')
                                // ko text: selectedCatigory 
                                // /ko 
                            +ifnot('selectedCatigory')
                                | Все категории

                        .dropdown__content.hidden.search_dropdown__content(data-target='location')
                            .b-location__catalog.selector__options
                                ul.menu(data-bind='css: cssSelectList, value: selectedCatigoriesId')
                                    +each('categoriesTree')
                                        // ko template: { name: 'categorySelectListTmpl', data: $data} 
                                        // /ko 
                    button.b-search__button(type='submit', data-bind='click: ClickSearchForm') Найти


script#categorySelectListTmpl(type='text/html')
    // version 1.0 
    +if('children().length > 0')
        +if('isSelected')
            li.menu__item.with-submenu.active
                // ko template: { name: 'categorySelectListItemWithSubmenuTmpl'} 
                // /ko 

        +ifnot('isSelected')
            li.menu__item.with-submenu
                // ko template: { name: 'categorySelectListItemWithSubmenuTmpl'} 
                // /ko 
 
    +if('children().length == 0')
        +if('isSelected')
            li.menu__item.active
                // ko template: { name: 'categorySelectListItemTmpl'} 
                // /ko 
        +ifnot('isSelected')
            li.menu__item
                // ko template: { name: 'categorySelectListItemTmpl'} 
                // /ko 


script#categorySelectSubListTmpl(type='text/html')
    // version 1.0 
    +if('children().length > 0')
        +if('isSelected')
            li.submenu__item.with-submenu.active
                // ko template: { name: 'categorySelectListItemWithSubmenuTmpl'} 
                // /ko 
    
        +ifnot('isSelected')
            li.submenu__item.with-submenu
                // ko template: { name: 'categorySelectListItemWithSubmenuTmpl'} 
                // /ko 

    +if('children().length == 0')
        +if('isSelected')
            li.submenu__item.active
                // ko template: { name: 'categorySelectListItemTmpl'} 
                // /ko 
        +ifnot('isSelected')
            li.submenu__item
                // ko template: { name: 'categorySelectListItemTmpl'} 
                // /ko 



script#categorySelectListItemTmpl(type='text/html')
    // version 1.0 
    a(href=js0, data-bind='click: ClickItem')
        span(data-bind='text: title')


script#categorySelectListItemWithSubmenuTmpl(type='text/html')
    // version 1.0 
    // ko template: { name: 'categorySelectListItemTmpl'} 
    // /ko 
    ul.submenu
        +each('children()')
            // ko template: { name: 'categorySelectSubListTmpl', data: $data} 
            // /ko 
