.b-order-info
	margin 0 0 40px
	clearfix()

	&__left
		line-height 20px
		text-align left
		float left
		width 480px

	&__right
		text-align right
		float right
		width 480px

		.b-status
			margin-left 30px

	&__label
		color #999
		margin-right 8px
		cursor default

	&__value
		z-index 0