section.profile
	padding-top 0
	
section.profile-nav
	padding 0
	
.password-control
	width 400px!important

.profile
	text-align left

	.btn__stepback
		margin-bottom 30px

	.b-profile-info__summary
		margin-right 260px

	.b-profile-info__actions
		width 255px
		margin-top 30px

	.input-holder
		margin 0 0 20px
		max-width 100%

		input 
			max-width 100%

	.b-profile__header
		text-align left
		margin 40px 0

	.b-profile__headline
		font-size 30px
		margin-bottom 40px
		font-weight 300
		text-align left
		line-height 1

		&.with-divider
			position relative
			overflow hidden
			
			&:after
				content ''
				position absolute
				width 100%
				border-top 1px solid $grey  
				margin-top .6em
				margin-left .4em

		&.b-title
			margin 20px 0 10px

	.btn-circle
		opacity 1
		border-color $orange

		&:hover
			background $orange
			border-color $orange

		&:active
			background darken($orange, 25%)
			border-color darken($orange, 25%)

		&--trash
			width 40px
			height 40px
			margin-left 0

		&--drop
			border-color $red1

			&:hover
				background $red1
				border-color $red1
				&:before
					sprite($icon__drop--white)

			&:active
				background darken($red1, 25%)
				border-color darken($red1, 25%)
				&:before
					sprite($icon__drop--white)

	.b-order-table tfoot tr
		border-bottom none

	.b-order-table__action
		width 76px

	.b-order-table__actions
		.btn-circle
			margin-left 10px

	.b-order-table__price
		width auto

		.b-price
			color #999
			font-size 15px

	.b-order-table__drop
		width 110px	

	.b-profile__header + .b-catalog__controls--pushedright
		margin-top -75px


.b-profile-info
	background #efece7
	padding 20px
	margin-top 12px

	&__summary
		margin-right 200px
		clearfix()

	&__photo
		width 120px
		height 120px
		border-radius 120px
		overflow hidden
		margin-right 25px
		margin-bottom 25px
		float left
		line-height 120px
		vertical-align middle

		img
			display inline-block
			margin 0 auto
			width 100%
			height auto
			vertical-align middle

	&__title
		font-size 18px
		line-height 20px
		margin-top -2px
		font-weight normal

	&__subtitle
		margin-top 5px
		font-size 13px
		color #666

	&__characters-list
		margin-top 22px
		font-size 13px
		line-height 20px

		span
			font-size 12px

		.value
			font-weight bold
			font-size 14px

			&--orange
				color #7caa1f

			&--green
				color #02903d

			&--red
				color #c64c1b

.b-profile-info--fullwidth
	
	.b-profile-info__summary
		margin-right 170px

	.b-profile-info__actions
		width 160px
		margin-top 70px

	.b-profile-info__characters-list
		float left
		margin-right 60px

		&:last-child
			margin-right 0

	.btn-xs
		margin 0
		padding 8px 25px 6px
		font-weight 700

.b-catalog-item__seller-info .b-profile-info__characters-list
	margin-left 145px

.b-fieldset
	margin 0 0 50px
	border none

	& > .floatlabel-wrapper
		&:first-child
			margin-top 0
		

#fullname
#address
#addAddress	
	width 100%
	max-width 979px
	margin-bottom 20px

.btn-circle
	&--trash
		margin-left 10px
		&:before
			content ''
			display block
			position absolute
			top 50%
			left 50%
			margin -8px 0 0 -7px
			sprite($icon__trash)

	&--edit
		&:before
			content ''
			display block
			position absolute
			top 50%
			left 50%
			margin -7px 0 0 -9px
			sprite($icon__edit)	

	&--retry
		&:before
			content ''
			display block
			position absolute
			top 50%
			left 50%
			margin -8px 0 0 -8px
			sprite($icon__onemoretime)	

	&--cart
		&:before
			content ''
			display block
			position absolute
			top 50%
			left 50%
			margin -8px 0 0 -8px
			sprite($icon__cart--small)	

	&--cancel
		&:before
			content ''
			display block
			position absolute
			top 50%
			left 50%
			margin -9px 0 0 -8px
			sprite($icon__cancel)

.b-status
	position relative
	display inline-block
	line-height 20px
	font-size 13px
	padding 3px 2px 3px 26px
	cursor default

	&:before
		content ''
		display block
		position absolute
		top 50%
		left 0

	&--done
		&:before
			sprite($icon__new) /* done */
			margin-top -9px

	&--warning
		padding-left 22px
		&:before
			sprite($icon__warning)
			left 10px
			margin-top -9px

	&--cancelled
		&:before
			sprite($icon__cancelled)
			margin-top -8px

	&--checking
		&:before
			sprite($icon__checking)
			margin-top -7px

	&--forming
		&:before
			sprite($icon__forming)
			margin-top -10px

	&--inprogress
		&:before
			sprite($icon__inprogress)
			margin-top -9px

	&--new
		&:before
			sprite($icon__new)
			margin-top -9px

	&--return
		&:before
			sprite($icon__return)
			margin-top -5px

	&--sent
		&:before
			sprite($icon__sent)
			margin-top -9px

	&--waiting
		&:before
			sprite($icon__waiting)
			margin-top -9px

.b-status.b-status--fieldset
	float right
	top 7px
	padding-left 32px
	font-weight 800

	&:before
		left 6px

.input-holder
	.b-status
		margin-top 19px
		font-weight 800

.input-action
	user-select none

	&--right
		float right
		margin 25px 0 14px