section.profile
section.profile-nav
	padding 0

.profile-nav
	text-align left

	.btn
		float right
		margin 17px 0 0
		border-width 4px
		padding 13px 23px 9px

.b-profile-nav
	font-size 0
	width 75%
		
	.menu__item
		display inline-block
		font-size 14px
		height 80px

		a
			position relative
			display block
			padding 0 20px 0 50px
			height 80px
			line-height 80px
			text-decoration none
			border-bottom none
			white-space nowrap

			span 
				color #000

			&:before
				content ''
				display block
				position absolute
				top 50%
				left 20px

			&.icon__profile
				&:before
					margin-top -11px
					sprite($icon__profile)

			&.icon__favorites
				&:before
					margin-top -8px
					sprite($icon__favorites)

			&.icon__cart
				&:before
					margin-top -12px
					sprite($icon__cart)

			&.icon__order
				&:before
					margin-top -9px
					sprite($icon__order)

			&.icon__mail
				&:before
					margin-top -7px
					sprite($icon__mail--small)


		&:hover
			background #e0ddd8

		&.active
			background $orange
			color #fff
			a
				color #fff

				span
					color #fff

				&.icon__profile
					&:before
						sprite($icon__profile__white)

				&.icon__favorites
					&:before
						sprite($icon__favorites__white)

				&.icon__carts
					&:before
						sprite($icon__carts__white)

				&.icon__order
					&:before
						sprite($icon__order__white)

				&.icon__mail
					&:before
						sprite($icon__mail--small--white)

			&:hover
				background $orange

				a
					cursor default
	
	.menu__item__num
		right -8px

.password-control
	width 400px!important

.profile
	text-align left

	.b-profile-info__summary
		margin-right 260px

	.b-profile-info__actions
		width 255px
		margin-top 30px

	.input-holder
		margin 0 0 20px
		max-width 100%

		input 
			max-width 100%

	h1
		text-align left
		margin 40px 0

	h2
		font-size 30px
		margin-bottom 40px
		font-weight 300
		text-align left

		&.with-divider
			position relative
			overflow hidden
			
			&:after
				content ''
				position absolute
				width 100%
				border-top 1px solid $grey  
				margin-top .6em
				margin-left .4em

		&.b-title
			margin 20px 0 10px

	.btn-circle
		opacity 1
		border-color $orange

		&:hover
			background $orange
			border-color $orange

		&:active
			background darken($orange, 25%)
			border-color darken($orange, 25%)

		&--trash
			width 40px
			height 40px
			margin-left 0

		&--drop
			border-color $red1

			&:hover
				background $red1
				border-color $red1
				&:before
					sprite($icon__drop--white)

			&:active
				background darken($red1, 25%)
				border-color darken($red1, 25%)
				&:before
					sprite($icon__drop--white)

	.b-order-table tfoot tr
		border-bottom none

	.b-order-table__action
		width 76px

	.b-order-table__actions
		.btn-circle
			margin-left 10px

	.b-order-table__price
		width auto

		.b-price
			color #999
			font-size 15px

	.b-order-table__drop
		width 110px	


.b-fieldset
	margin 0 0 50px
	border none

	& > .floatlabel-wrapper
		&:first-child
			margin-top 0
		

#fullname
#address
	width 100%
	max-width 979px
	margin-bottom 20px

.btn-circle
	&--trash
		margin-left 10px
		&:before
			content ''
			display block
			position absolute
			top 50%
			left 50%
			margin -8px 0 0 -7px
			sprite($icon__trash)

	&--edit
		&:before
			content ''
			display block
			position absolute
			top 50%
			left 50%
			margin -7px 0 0 -9px
			sprite($icon__edit)	

	&--retry
		&:before
			content ''
			display block
			position absolute
			top 50%
			left 50%
			margin -8px 0 0 -8px
			sprite($icon__onemoretime)	

	&--cart
		&:before
			content ''
			display block
			position absolute
			top 50%
			left 50%
			margin -8px 0 0 -8px
			sprite($icon__cart--small)	

	&--cancel
		&:before
			content ''
			display block
			position absolute
			top 50%
			left 50%
			margin -9px 0 0 -8px
			sprite($icon__cancel)

.b-status
	position relative
	display inline-block
	line-height 20px
	font-size 13px
	padding 3px 2px 3px 26px
	cursor default

	&:before
		content ''
		display block
		position absolute
		top 50%
		left 0

	&--done
		&:before
			sprite($icon__new) /* done */
			margin-top -9px

	&--warning
		padding-left 22px
		&:before
			sprite($icon__warning)
			left 10px
			margin-top -9px

	&--cancelled
		&:before
			sprite($icon__cancelled)
			margin-top -8px

	&--checking
		&:before
			sprite($icon__checking)
			margin-top -7px

	&--forming
		&:before
			sprite($icon__forming)
			margin-top -10px

	&--inprogress
		&:before
			sprite($icon__inprogress)
			margin-top -9px

	&--new
		&:before
			sprite($icon__new)
			margin-top -9px

	&--return
		&:before
			sprite($icon__return)
			margin-top -5px

	&--sent
		&:before
			sprite($icon__sent)
			margin-top -9px

	&--waiting
		&:before
			sprite($icon__waiting)
			margin-top -9px

.b-status.b-status--fieldset
	float right
	top 7px
	padding-left 32px
	font-weight 800

	&:before
		left 6px

.input-holder
	.b-status
		margin-top 19px
		font-weight 800

.input-action
	user-select none

	&--right
		float right
		margin 25px 0 14px