section.benefits
	.container
		h1 Наши преимущества

		.benefits-slider.chain-slider
			div
				.benefit
					i.simple
				h2 Просто
				p 
					| Создать магазин на нашем сайте <br> 
					| проще простого -
				ul
					li зарегистрируйтесь
					li добавьте товар
					li вставьте код на сайт
				p 
					| Магазин готов к работе! <br> 
					| Вам не нужны дизайнеры, <br> 
					| программисты, админы. <br> 
					| Вы полностью управляете своим <br> 
					| магазином сразу после <br>
					| регистрации.
			div
				.benefit
					i.universal
				h2 Универсально
				p 
					| Вы сами определяете как <br/>
					| использовать Pokupo, это может <br/>
					| быть продажа одного товара в <br/>
					| своем блоге, а может отдельный <br/>
					| магазин на сотни наименований, <br/>
					| вы даже можете создать городской <br/>
					| торговый портал.
				p 
					| Ваши возможности не <br/>
					| ограничиваются финансами, все <br/>
					| модули системы доступны сразу <br/>
					| после регистрации.
			div
				.benefit
					i.profit
				h2 Выгодно
				p 
					| Нет абонентской платы, нет <br/>
					| скрытых платежей, вы платите <br/>
					| минимальную комиссию только <br/>
					| когда сами получаете <br/>
					| доход с продаж.
				p 
					| Станьте активным участником <br/>
					| нашего сообщества и используйте <br/>
					| Pokupo абсолютно бесплатно.
			div
				.benefit
					i.complex
				h2 Комплексно
				p 
					| Мы предлагаем полностью готовое <br/>
					| решение для запуска продаж <br/>
					| прямо сейчас.	
				p 
					| Вам не нужны другие системы, в <br/>
					| Pokupo есть все необходимые <br/>
					| инструменты для успешной работы <br/>
					| интернет магазина.
			div
				.benefit
					i.open
				h2 Открыто
				p 
					| Наша команда объединяет <br/>
					| честных, профессиональных и <br/>
					| активных пользователей сети, мы <br/>
					| всегда открыты к диалогу и <br/>
					| поддержке новых участников.
				p 
					| Вы можете рассчитывать на нашу <br/>
					| помощь и всестороннюю <br/>
					| поддержку, мы готовы учиться сами <br/>
					| и обучать своих партнеров.
