section.cases
	.container
		hgroup
			h1
				span.inline-logo
					i.green Pokupo
					i.yellow .ru 
				| подходит для всех
			h2.lead Выберите свой вариант использования системы

		#cases
			.slide
				h1 Offline продавец
				.conditions
					.conditions__status
						.conditions__circle
							.icon.goods
						| Есть товар
					.conditions__status
						.conditions__circle.no
							.icon.site 
						| Нет сайта
				ul.steps
					li 
						i.signin
						| Зарегистрируйся
					li 
						i.add
						| Добавь свои <br> товары в систему
					li 
						i.send
						| Размести товары в <br> партнерских магазинах
					li 
						i.earn
						| Получай <br> доход от продаж

			.slide
				h1 Вебмастер
				.conditions
					.conditions__status
						.conditions__circle.no
							.icon.goods
						| Нет товара
					.conditions__status
						.conditions__circle
							.icon.site 
						| Есть сайт
				ul.steps
					li 
						i.signin
						| Зарегистрируйся
					li 
						i.get
						| Выбери товары <br> других продавцов
					li 
						i.code
						| Размести код <br> на своем сайте
					li 
						i.earn
						| Получай <br> доход от продаж

			.slide
				h1 Online продавец
				.conditions
					.conditions__status
						.conditions__circle
							.icon.goods
						| Есть товар
					.conditions__status
						.conditions__circle
							.icon.site 
						| Есть сайт
				ul.steps
					li 
						i.signin
						| Зарегистрируйся
					li 
						i.add
						| Добавь свои <br> товары в систему
					li 
						i.code
						| Размести код <br> на своем сайте
					li 
						i.earn
						| Получай <br> доход от продаж

			.slide
				h1 Online продавец
				.conditions
					.conditions__status
						.conditions__circle.no
							.icon.goods
						| Нет товара
					.conditions__status
						.conditions__circle.no
							.icon.site 
						| Нет сайта
				ul.steps
					li 
						i.signin
						| Зарегистрируйся
					li 
						i.get
						| Добавь товары <br> своих партнеров
					li 
						i.send
						| Размести товары в <br> партнерских магазинах
					li 
						i.earn
						| Получай <br> доход от продаж




















