section.clients
	div.container
		h1 Наши клиенты
		
		ul.clients
			li 
				i.client.alfabank
			li 
				i.client.sberbank
			li 
				i.client.cybarco
			li 
				i.client.rsb
			li 
				i.client.alexbank
