section.header
	.container
		a.logo(href="index.html" title="Pokupo.ru")

		.menu-login
			a.menu-login__login(href=js0 title="Войти") Вход
			a.menu-login__register(href=js0 title="Зарегистрироваться") Регистрация
		block menu
			+menu-list([])
