section.header
	.container
		a.logo(href="/index.html" title="Pokupo.ru")

		.menu-login
			.not-logged-in.hidden
				a#js-login.menu-login__login(href=js0 title="Войти") Вход
				a.menu-login__register(href=js0 title="Зарегистрироваться") Регистрация
			.logged-in
				a.btn.btn-sm(href="https://seller.pokupo.ru/login")
					i.icon.icon-store--small 
					| Мой магазин
					
		span#toggleNav
			i.icon.icon-menu
			| Меню


		block menu
			+menu-list([])


