section.orange.patterned.howitworks
	div.container
		hgroup
			h1 Как это работает
			h2.lead Всё очень просто!

		h3 Для начала успешной торговли вам нужно

		ol.howitworks__steps
			li.hiw-step.hiw-step__register
				a(href=js0) 
					| Зарегистрироваться в&nbsp;системе
			li.hiw-step.hiw-step__create
				span Создать свой магазин и&nbsp;рубрикатор
			li.hiw-step.hiw-step__add
				span Загрузить свои товары или&nbsp;использовать товары партнёров
			li.hiw-step.hiw-step__go
				span Разместить коды виджетов на&nbsp;своём сайте или использовать магазины партнёров
			li.hiw-step.hiw-step__finish
				span Отслеживать заказы<br/>и&nbsp;работать с&nbsp;покупателями