section.mission
	.container
		h1 Наша миссия
		.quote
			blockquote.cite
				| «Построение созидающей информационно-технической среды <br/>
				| для развития, творчества, заработка и личной реализации человека, <br/>
				| с целью формирования качественно новых социальных отношений.»
			span.author Команда Pokupo.ru