section.portal
	.container
		hgroup
			img(src="images/ui/shop.png" alt="")
			h1 
				| Торговый портал 
				span.inline-logo
					i.green Pokupo
					i.yellow .ru
			h2.lead 
				| Посмотрите работающий магазин на основе нашей технологии.<br/>
				| Важно подчеркнуть, что у нас нет демо­магазина, у нас есть рабочая торговая площадка, именно<br/>
				| здесь можно выставлять свои товары всем у кого нет своего сайта.

		a.external(href=js0)
			i
			| Открыть торговый портал
