section.grey.price
	div.container
		hgroup.with-icon
			h1 Сколько это стоит
		p
			| Любой проект должен как минимум себя окупать.<br/>
			| Мы должго обсуждали вопрос денег и пришли к общему мнению, что

		p.incut
			span 
				| Нельзя брать с человека деньги,<br/>
				| если он их ещё не зарабатывает
		p.incut--dark
			| А большинство коммерческих проектов предлагают свои продукты по принципу <br/>
			em "Плати нам за аренду/разработку, а твои проблемы нас не касаются".
		p 
			| Это откровенно паразитная политика и деньги для них привыше всего.<br/>
			| Такое мировоззрение противоречит нашим принципам и самой идее проекта.

		a(href=js0 style="padding: 20px")
			img(src="images/pages/rates.png")

		p
			| Поэтому мы разработали несколько вариантов тарифов в зависимости от того,<br/>на каком этапе находится ваше дело.