section.grey.seo-instruction
	.container
		h1.with-icon Как создать интернет-магазин?
		h2.subheader самому и бесплатно

		p Говорят, лучше всего поручить создание интернет-магазина крутым профессионалам из самых известных веб-студий, занимающихся разработкой сайтов разного уровня сложности. Да, так можно получить поистине выдающийся результат. Но стоить это будет столько, что по взятым в банке кредитам придется очень долго расплачиваться, не получая при этом от своего роскошного виртуального торгового центра никакой прибыли. Поэтому нет ничего удивительного в том, что многие начинающие предприниматели задаются вопросом о том, как создать интернет-магазин самому.
		p Наш сервис позволит любому заинтересованному пользователю, даже не имеющему никаких знаний и навыков, создать интернет-магазин своими руками — бесплатно и буквально за пару минут. Понадобятся, конечно, хотя бы начальные навыки работы в сети. А само создание интернет-магазина при помощи нашего сервиса, да еще и своими руками, выполняется всего за три простых шага, справиться с которыми может даже старшеклассник, решивший заработать на карманные расходы. 

		.columns.triple.seo-content
			.column
				.content
					.seo-icon.devices.seo__1
			.second.double.column
				.content
					h2.subheader Создать сайт интернет-магазина самостоятельно:<br/>регистрация пользователя
					p Для начала работы с сервисом нужно пройти простую процедуру регистрации. Сразу скажем, что регистрация и самостоятельное бесплатное создание интернет-магазина выполняются одновременно. То есть зарегистрировавшись в системе, вы сразу же получите свой первый магазин с тем названием, которое вы напишете в самом первом текстовом поле. Одновременно оно будет и вашим именем пользователя, использующимся для входа, а потому к его выбору нужно отнестись серьезнее. И, желательно, творчески.
					p Процесс регистрации предельно прост и практически ничем не отличается от подобных действий на любом другом интернет-ресурсе. На главной странице жмите на большую красивую кнопку «Создать свой магазин» и заполните все поля, которые вам предлагают. А потому особо заострять внимание на этом не будем — у вас непременно все получится.
		
		.columns.triple.seo-content
			.column
				.content
					.seo-icon.settings.seo__2
			.second.double.column
				.content
					h2.subheader Самостоятельное создание интернет-магазина:<br/>настройки и использование
					p После активации только что самостоятельно созданного сайта интернет-магазина потребуется войти в свой личный кабинет, выполнить нужные настройки и начать использовать собственный магазин во благо себе и своего бизнеса. Как раз об этом стоит поговорить подробнее. 
					p Сначала найдем в левой части страницы ссылку «Настройки магазина» и в появившейся таблице заполним все поля. Здесь можно изменить название магазина, создать его описание, отметить, какой тип товаров вы планируете продавать (свои или товары партнеров), разрешить партнерам продавать свои товары, указать данные для связи, загрузить созданный заранее логотип, выполнить другие действия. Теперь, если есть желание или необходимость, можно самостоятельно создать еще один или несколько интернет-магазинов — тоже своими руками, просто нажав соответствующую кнопку в личном кабинете продавца. Для каждого из них нужно будет выполнить настройку — так, как это описано выше.

		.columns.triple.seo-content
			.column
				.content
					.seo-icon.goods.seo__3
			.second.double.column
				.content
					h2.subheader Создание интернет-магазина:<br/>наполнение товарами
					p Теперь, выбрав нужный из только что созданных самостоятельно интернет-магазинов, нужно заполнить его товарами, нажав на одну из кнопок: «Добавить товар», «Добавить e-товар» или «Импорт товаров». Заполните все поля (название, артикул, описание, вес, цена), загружайте фотографию с изображением товара, отметьте, сколько единиц есть в продаже и — ждите покупателей. Операцию повторите для каждой из новых товарных позиций. Если  их много, проще импортировать файл с товарами в формате .csv или .txt. После добавления товара не забудьте установить для него категорию, а также добавить товары в торговую платформу — общий каталог, доступный всем магазинам. Благодаря присутствию ваших товаров в торговой платформе вы сможете получить дополнительные продажи. В разделах «Заказы» и «Отчеты» отображается вся служебная информация.

		hr.divider
		p  После выполнения всех этих действий останется только включить созданный собственными руками,<br/>да еще и бесплатно, интернет-магазин и начать бизнес.
		p Как видим, создать полнофункциональный сайт интернет-магазина самому и бесплатно —<br/>вполне реально. Если, конечно, с толком воспользоваться возможностями платформы «Pokupo». 

		h3.seo-incut Мы работаем для вас!



