section.grey.seo-frontpage
	.container
		h1.with-icon Сервис создания интернет-магазина
		h2.subheader для любителей быстрых и эффективных решений

		p Один из самых великих людей современности Билл Гейтс как-то сказал, что в ближайшем будущем только те компании смогут не только держаться на плаву, но и богатеть, которые правильно будут использовать возможности интернета.
		p 
			| Время показало, что он был прав, как говорится, на все 100%. 
			br
			| Это касается и торговли. Огромное количество ритейл-предприятий значительную часть своего бизнеса переносят в глобальную сеть. 
		p Интернет-магазины не только приносят хорошие дивиденды своим владельцам. Они еще и весьма удобны для покупателей, получающих доступ к широчайшему ассортименту высококачественных товаров, причем по самой доступной цене. Это может показаться удивительным, но география пользователей не имеет значения для интернет-торговли — интернет не зря называют новым миром, не имеющим границ.  Так может быть, и вам стоит перестать сковывать себя рамками традиционного бизнеса и создать интернет-магазин, функциональный и приносящий хороший доход? 


		.columns.triple.seo-content
			.column
				.content
					.seo-icon.devices.question
			.second.double.column
				.content
					h2.subheader Создать сайт интернет-магазина? Это — долго и дорого!
					p Хотите открыть интернет-магазин? Сайт, который вы можете создать при помощи Pokupo, самостоятельно и совершенно бесплатно, станет вашим верным помощником в ведении бизнеса и поднимет ваше дело на новый уровень. Самое главное отличие нашего сервиса от других заключается в том, что мы не просто сдаем в аренду готовый интернет-магазин, а выстраиваем с нашими клиентами полноценные партнерские отношения. Мы не берем оплаты за пользование сервисом. Наша выгода заключается в том, что мы получаем небольшой процент комиссии с вашего оборота, а это означает, что нам выгодно всячески поддерживать и продвигать ваш бизнес, то есть наши отношения будут взаимовыгодными. При этом неважно, задумываетесь вы о том, как открыть интернет-магазин для продажи физических или электронных товаров, будете вы представлять на своей площадке огромное количество товарных позиций или обойдетесь только одним каким-то товаром. 
					p Наши тарифы весьма демократичны, а значит, ни в коем случае не станут обузой для вашего бизнеса. Строго определенных ежемесячных платежей нет, мы взимаем только небольшие комиссионные, размер которых зависит от оборота. При обороте менее 30 тысяч рублей комиссионные не взимаются вообще.
		
		.columns.triple.seo-content
			.column
				.content
					.seo-icon.devices.checked
			.second.double.column
				.content
					h2.subheader Создать бесплатный магазин — реальность нашего времени
					p Многие клиенты интересовались особенностями работы самого сайта. Один из вопросов — возможность открытия на нашем сервисе бесплатного интернет-магазина с уникальным, собственным дизайном. Никаких проблем с этим нет, вы можете поступить одним из следующих способов: выбрать один из имеющихся шаблонов, подключить к любому из наших вариантов дизайна собственный CSS-файл, или заказать разработку собственного шаблона и CSS к нему. 
					p Стоит отметить и тот факт, что любые созданные на нашем сервисе магазины (а их вы можете в рамках одного аккаунта создать много) весьма корректно отображаются и на мобильных устройствах — дизайн Pokupo адаптивный. Нужно ли говорить, что эта особенность — не просто прихоть, а жизненная необходимость? В мире сейчас имеется множество мобильных устройств, и многие пользователи заинтересованы в том, чтобы совершать онлайн-покупки с помощью смартфона или планшета…  
		
		.columns.triple.seo-content
			.column
				.content
					.seo-icon.devices.discount
			.second.double.column
				.content
					h2.subheader Создание интернет-магазина у нас — бесплатно!
					p И, конечно же, стоит затронуть, что называется, «товарно-денежные отношения» между сервисом, клиентами и покупателями. Покупатель может расплачиваться с продавцом любым удобным способом. Мы сотрудничаем с рядом платежных систем и предоставляем готовый функционал приема платежей в вашем магазине — всего более 30 способов оплаты, от банковской карты и банковского перевода до электронных денег. А продавец, бесплатно открывший интернет-магазин и выставивший товары на продажу, может вывести полученные деньги на карту или электронный кошелек. 
					p И, наконец, продавцы могут получить все необходимые для налоговой отчетности документы. 			

		h1 Хотите бесплатно создать интернет-магазин?
		h2.subheader Вы это можете!
		p Мы — это молодая команда знающих свое дело профессионалов самого высокого класса. Обратившись к нам за бесплатным созданием интернет-магазина, вы не прогадаете. Все, что у нас есть — наши собственные, уникальные разработки. Такого нет больше нигде. И если вы хотите бесплатно создать функциональный и красивый сайт интернет-магазина, то вы это сделаете. 
		h3.seo-incut Легко и быстро. Регистрируйтесь! 



