section.split
	div.orange
	div.container
		.columns
			.first.double.column
				.content.split__mission
					h2
						i.icon 
						| Наша миссия
					.quote
						blockquote
							| Построение созидающей информационно-технической среды для развития, творчества, заработка 
							| и личной реализации человека, с целью формирования качественно новых социальных отношений.

			.third.double.column
				.content.split__goal
					h2
						i.icon
						| Наша цель
					.quote
						blockquote
							| Создать доступный, простой и мощный торговый инструмент для всех пользователей сети, 
							| он будет выступать в качестве интегратора хороших идей, активных людей и современных технологий, 
							| быть помощником и наставником для новичков и мощной профессиональной платформой для специалистов.