section.start.black
	div.container
		hgroup.with-icon
			h1 Вы хотите начать свой бизнес в сети?
			h2.lead Тогда добро пожаловать в нашу команду!

		h3 Вместе мы можем

		.columns
			.first.double.column
				.content
					ul.checked
						li
							| Заработать на досстойную жизнь и развитие
						li
							| Легко закупать товары в сети по лучшим ценам
						li
							| Выставлять на продажу в интернет любой товар
						li
							| Создать полноценный интернет-магазин без специальных знаний

			.third.double.column
				.content
					ul.checked
						li
							| Начать торговать у себя на сайте, в блоге, в социальной сети
						li
							| Продавать свои товары, и товары партнёров
						li
							| Получать полезные навыки и успешный опыт
						li
							| Участвовать в разработке и улучшении платформы

section.grey.howto
	div.container
		hgroup.with-icon
			h1 Как это использовать
			h2.lead Вы сами определяете, как использовать Pokupo

		h3 Вы можете стать

		.columns
			.first.double.column
				.content
					ul.checked
						li
							| Активным покупателем и получать персональные цены, скидки, бонусы и подарки
						li
							| Торговым агентом, выставляя товары других продавцов у себя на сайте, в блоге или социальной сети
						li
							| Представителем Pokupo в своём городе или регионе, проводя ссеминары и обучающие курсы

			.third.double.column
				.content
					ul.checked
						li
							| Владельцем интернет-магазина, настраивая и внедряя его функционал на любой сайт
						li
							| Торговым консультантом, активно помогая новым покупателям использовать платформу
						li
							| Начинающим продавцом, размещая свои товары на единой торговой платформе Pokupo
						li
							| Разработчиком платформы, обсуждая и реализуя новые модули и приложения
