section.waved-top.team
	.waved-bottom
		.grey
			div.container
				h1 Наша команда
			
				.our-team.chain-slider
					div.person
						img.person__photo(src="images/pages/userpic.png")
						h3.person__name Константин Константинопольский
						p.person__position Генеральный директор
						p.person__about
							| Характер — нордический, выдержанный. С товарищами по работе поддерживает хорошие отношения. Безукоризненно выполняет служебный долг. Беспощаден к врагам Рейха.

					div.person
						i.person__photo.person__photo--female
						h3.person__name Лия Матюхина-Иванова
						p.person__position Генеральный директор
						p.person__about
							| Характер — нордический, выдержанный. С товарищами по работе поддерживает хорошие отношения. Безукоризненно выполняет служебный долг. Беспощаден к врагам Рейха.

					div.person
						i.person__photo.person__photo--male
						h3.person__name Аствацатур Гибарян
						p.person__position Генеральный директор
						p.person__about
							| Характер — нордический, выдержанный. С товарищами по работе поддерживает хорошие отношения. Безукоризненно выполняет служебный долг. Беспощаден к врагам Рейха.
					div.person
						i.person__photo.person__photo--male
						h3.person__name Ян Баев
						p.person__position Генеральный директор
						p.person__about
							| Характер — нордический, выдержанный. С товарищами по работе поддерживает хорошие отношения. Безукоризненно выполняет служебный долг. Беспощаден к врагам Рейха.

					div.person
						i.person__photo.person__photo--female
						h3.person__name Арья Старк
						p.person__position Генеральный директор
						p.person__about
							| Характер — нордический, выдержанный. С товарищами по работе поддерживает хорошие отношения. Безукоризненно выполняет служебный долг. Беспощаден к врагам Рейха.

