section.black.vision
	div.container
		hgroup
			h1 Наше видение

		.triple.columns
			.first.column
				.content
					i.num 1
					p У нас принципиально нет клиентов-потребителей, мы предлагаем Вам права партнеров и коллег по развитию и улучшению системы, только вместе мы сможем создать удобный и надежный инструмент торговли и процветания для всех активных и талантливых людей.

			.second.column
				.content
					i.num 2
					p То, что мы делаем это не очередной стартап аля "давайте сделаем фейсбук и станем миллионерами... Pokupo - это проект небольшой профессиональной команды энтузиастов, который разрабатывается для всех пользователей сети в тесном сотрудничестве с ними. Нам очень важно предоставить действительно полезный и доступный сервис, который будет помогать начинающим предпринимателям.
					
			.third.column
				.content
					i.num 3
					p У нас нет конкурентов, мы не гонимся за сверхприбылями, нам не нужно отрабатывать ожидания инвесторов, деньги для нас - это ресурс, который необходим для развития, но он стоит далеко не на первом месте в иерархии наших ценностей.
