@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait), screen and (min-width: 641px) and (max-width: 800px)
	.howitworks
		&__steps 
			.hiw-step
				font-size 14px

				&__finish
					background-size 100% 20px
