@media only screen and (max-width:640px)
	.b-wizard 
		ul.b-wizard__steps 
			li
				margin 0 20px 0 0

		.b-wizard__action
			display block
			text-align center
			margin 0 60px 20px

			&.btn-disabled
				display none

	.b-order-table 
		tbody tr
			border-bottom none 
			td
				height auto

		.b-order-item__drop
			margin-left 0

		.b-order-table__logo
			display none !important

		.b-order-table__qty:before
			color #999
