+script([
	'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js',
	'https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js',
	'http://vjs.zencdn.net/4.7/video.js',
	'libs/fotorama.js',
	'libs/carousel.min.js',
	'libs/chosen.jquery.js',
	'libs/jquery.fancytree-all.js'
])

block scripts
