/*
	Tablet browsersHTC, LG, Samsung, Motorola, Nokia – 480 x 800iPad, iPad mini – 768 x 1024Samsung Galaxy Note – 800 x 1280
*/
@media only screen and (min-width: 641px) and (max-width: 768px)

	body
		// background yellow

	.container
		max-width none
		padding 0 4px

	.btn-huge
		font-size 32px
		line-height 64px

	.slider-control.prev
		left 0
	.slider-control.next
		right 0