@media only screen and (min-width: 381px) and (max-width: 640px)

	body
		// background blue

	.container
		max-width none
		padding 0 4px

	.columns
		margin-right 0

		.column 
			width 100%
			float none
			left 0!important

			.content
				margin 0 6px

		&.triple .column
		.double.column
			width 100%
			left 0
		

	input[type="text"]
	input[type="email"]
	input[type="tel"]
	input[type="password"]
	textarea
		max-width none

	.btn-huge
		padding 0 30px 8px 30px
		font-weight 400
		font-size 24px
		line-height 60px

	.split .orange
		left 0%
		top 50%
		width 100%

	.slider-control.prev
		left 0
	.slider-control.next
		right 0

	.b-page__footer 
		.b-inline-actions
			margin 40px 0 0
			clear both