@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait), screen and (min-width: 641px) and (max-width: 800px)
	.rate
		.btn-red.btn-lg
			padding 17px 26px 15px

	.business .rate__icon
		width 200px
		height 200px
		
		.icon
			transform scale(0.9)

	.company .rate__icon
		width 210px
		height 210px

		.icon
			transform scale(0.7)