@media only screen and (min-width: 381px) and (max-width: 640px)
	section.video
		padding-bottom 60px
	.video
		max-height none

		hgroup
			position relative
			float none
			margin 0 auto
			width 400px

			.inline-logo
				text-shadow 0 2px 2px rgba(0, 0, 0, 0.25)

		.b-video-trigger
			float none
			margin -20px auto 80px
			transform scale(0.8)

			&:after
				display none
		