/* Хэлперы и переменные */
@import '../../../styles/helpers/*'

.h1-with-progress-bar.seller
	text-align center
	h1
		position relative
		&:after
			sprite($register-seller)
			content ''
			position absolute
			top -136px
			left 50%
			margin 0 0 0 -46px


#progressCircle
	border 2px solid $orange
	border-radius 100px
	box-sizing border-box
	margin-bottom 12px
