/* Хэлперы и переменные */
@import '../../../styles/helpers/*'

.b-location
	height 52px
	background #fff
	border-left 2px solid $grey
	text-align left

	&__current
		position relative
		display block
		width 100%
		height 52px
		padding 0 20px
		z-index 25

		color $a__link
		font-size 13px
		line-height 52px
		font-weight 800
		text-decoration none

	&__catalog
		.menu
			position relative
			
	.dropdown__content
		padding-top 52px
		z-index 24
		min-width 250px

.b-search
	position relative
	margin-right 190px
	border-right 273px solid $orange

	&-holder
		float left
		width 100%
		height 52px
		background #fff

	&__button
		position relative
		float right
		margin-right -190px
		padding-right 30px
		right -273px
		width 171px
		height 52px
		border none
		background $green
		color #fff
		text-transform uppercase
		font-size 16px
		line-height 52px
		letter-spacing 1px
		transition background 0.2s ease-in-out

		&:hover
			background darken($green, 25%)
		&:active
			top 1px
			background darken($green, 50%)0

		&:after
			content ''
			position absolute
			top 50%
			margin-top -15px
			right 18px
			sprite($icon__search)

	&__input
		width 100%
		height 52px
		font-size 18px
		line-height 32px
		border none
		padding 5px 18px
		box-sizing border-box!important
		color #333

	.b-location
		float right
		margin-right -273px
		width 273px
		z-index 9


.selector__options
	overflow hidden

	.dropdown__content li a
	.dropdown__content li u
		white-space normal

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait), screen and (min-width: 641px) and (max-width: 800px)
	.b-search 
		border-right-width 173px
		
		.b-location
			margin-right -173px
			width 173px

			&__current
				overflow hidden
				text-overflow ellipsis

			.dropdown__content
				right -60px

		.b-search__button
			right -173px

@media only screen and (max-width: 640px)
	.b-search 
		border-right 0
		margin-right 80px
		
		.b-location
			display none
			
		.b-search__button
			margin-right -80px
			width 70px
			font-size 0
			left 0