@media only screen and (max-width: 640px)
	.btn.b-mail__addbtn
		float none
		margin -17px auto 30px

	.profile-mail
		&__actions
			text-align center

	.b-dialog__body
		padding-left 75px
		margin 0 35px

	.b-dialog__drop
		margin-left -40px

	.b-dialog__checkbox
		margin-left 0

	.b-dialog__userpic 
		margin-top -30px

		.b-profile-info__photo
			width 60px
			height 60px
			border-width 2px

	.pagination
		text-align center

	/* Вкладки */
	.b-order-table 
		tbody 
			tr 
				td
					&:first-child
						padding-left 5px
					&:last-child
						padding-right 0

	.b-order-table__phone
		width 100px

	.b-order-table__name
		width 150px

	.profile 
		.b-order-table__action
			width 52px

		.b-order-table__drop
			width 40px

	.b-chat .b-dialog__body
		padding-left 80px
	
