extends partials/layouts/inner__grey

block head
	- page.title = 'Тарифы';

block menu 
	+menu-list([
		{text:"Платформа",href:"#",submenu:[
			{text:"Особенности",href:"#"},
			{text:"Вопросы и ответы",href:"#"},
			{text:"Готовые решения",href:"#"},
			{text:"Торговая площадка",href:"#"}
		]},
		{text:"Тарифы",href:"rates.html"},
		{text:"Сообщество",href:"community.html", active:true},
		{text:"Помощь",href:"#",submenu:[
			{text:"Техническая поддержка",href:"#"},
			{text:"Видео курсы",href:"#"},
			{text:"Семинары",href:"#"}]},
		{text:"Компания",href:"#",submenu:[
			{text:"Новости",href:"#"},
			{text:"Контакты",href:"#"},
			{text:"О нас",href:"#"},
			{text:"Партнеры",href:"#"},
			{text:"Блог",href:"#"}
		]}
	])(class="b-navigation")

block content
	section.community
		.container
			h1.with-icon Сообщество

			p Наша команда объединяет людей с общими принципами и общей миссией.
			p 
				| Для прямого контакта всех участников проекта мы используем различные сервисы и службы.<br/>
				| Нам очень важно постоянно быть в контакте друг с другом, с нашими партнерами и пользователями.<br/>
				| Мы искренне убеждены, что без общего участия в проекте всех заинтересованных сторон,<br/>
				| он не сможет эффективно развиваться и совешенствоваться.

			ul.socials
				li
					a.btn.btn-social.btn-social__vk(href=js0) Посетить
						i.icon
				li
					a.btn.btn-social.btn-social__gp(href=js0) Посетить
						i.icon
				li
					a.btn.btn-social.btn-social__lj(href=js0) Посетить
						i.icon
				li
					a.btn.btn-social.btn-social__tw(href=js0) Посетить
						i.icon


block scripts
	+script(['main.js'])