extends partials/layouts/inner__grey

block head
	- page.title = 'Тарифы';

block menu 
	+menu-list([
		{text:"Платформа",href:"frontpage.html",submenu:[
			{text:"О проекте",href:"about.html"},
			{text:"Торговый портал",href:"http://shop.pokupo.ru/", external:true}
		]},
		{text:"Тарифы",href:"rates.html"},
		{text:"Компания",href:"#", active: true, submenu:[
			{text:"События",href:"events.html"},
			{text:"О нас",href:"aboutus.html"},
			{text:"Сообщество",href:"community.html", active: true},
			{text:"Блог",href:"http://pokupo.livejournal.com/", external:true}
		]},
		{text:"Партнёры",href:"partners.html"},
		
		{text:"Помощь", href:js0, submenu:[
			{text:"Вопросы и ответы",href:"faq.html"},	
			{text:"Техническая поддержка",href:"https://help.pokupo.ru", external:true}
		]}
	])(class="b-navigation")

block content
	section.community
		.container
			h1.with-icon Сообщество

			p Наша команда объединяет людей с общими принципами и общей миссией.
			p 
				| Для прямого контакта всех участников проекта мы используем различные сервисы и службы.<br/>
				| Нам очень важно постоянно быть в контакте друг с другом, с нашими партнерами и пользователями.<br/>
				| Мы искренне убеждены, что без общего участия в проекте всех заинтересованных сторон,<br/>
				| он не сможет эффективно развиваться и совешенствоваться.

			ul.socials
				li
					a.btn.btn-social.btn-social__vk(href=js0) Посетить
						i.icon
				li
					a.btn.btn-social.btn-social__gp(href=js0) Посетить
						i.icon
				li
					a.btn.btn-social.btn-social__lj(href=js0) Посетить
						i.icon
				li
					a.btn.btn-social.btn-social__tw(href=js0) Посетить
						i.icon


block scripts
	+script(['main.js'])