extends partials/layouts/inner

block head
	- page.title = 'Просмотр события';

block menu 
	+menu-list([
		{text:"Платформа",href:"frontpage.html",submenu:[
			{text:"О проекте",href:"about.html"},
			{text:"Торговый портал",href:"http://shop.pokupo.ru/", external:true}
		]},
		{text:"Тарифы",href:"rates.html"},
		{text:"Компания",href:"#", submenu:[
			{text:"События",href:"events.html"},
			{text:"О нас",href:"aboutus.html"},
			{text:"Сообщество",href:"community.html"},
			{text:"Блог",href:"http://pokupo.livejournal.com/", external:true}
		]},
		{text:"Партнёры",href:"partners.html"},
		
		{text:"Помощь", href:js0, submenu:[
			{text:"Вопросы и ответы",href:"faq.html"},	
			{text:"Техническая поддержка",href:"https://help.pokupo.ru", external:true}
		]}
	])(class="b-navigation")

block content
	section.inner
		.container
			h1 Правила о защите и хранении конфиденциальной информации

			ul.b-inline-actions
				li
					a.with-icon.with-icon--print(href=js0) Распечатать
				li
					a.with-icon.with-icon--file(href=js0) Скачать
					span.b-inline-actions__desc  (docx, 1.5 Mb)

			section.b-page
				header.b-page__header
					.b-page__brief
						.b-page__icon !
						p 
							b Администратор Системы 
							| (Администратор) и 
							b Пользователь Системы 
							| (Участник) совместно именуемые Стороны, а каждый по отдельности — Сторона, 
							b заключили настоящее Соглашение 
							| (далее по тексту — Соглашение) о нижеследующем:
				.b-page__content
					h2 1. Предмет договора (соглашения)
					h3 Статья 1.1. 
					p Администратор Системы (Администратор) и Участник принимают на себя обязательства сохранения втайне от третьих лиц конфиденциальной информации полученной при использовании Системы и Сервисов Системы.          


					h2 2. Терминология
					h3 Статья 2.1. Термины:

					p 
						dfn.thermin Авторизация 
						| — процесс аутентификации лица по Логину и Паролю как Участника Системы.
					p 
						dfn.thermin Администратор Системы 
						|  (Администратор) — ООО «Ника»
					p 
						dfn.thermin Аккаунт 
						| — учетная запись лица, прошедшего Регистрацию в Системе, и ставшего Пользователем Системы.
					p 
						dfn.thermin Аттестат 
						| — набор прав, обязанностей, гарантий и ответственности Пользователя в Системе, зависимый от степени уведомленности Администратора    о данных Пользователя (Участника), а также его правового статуса.
					p 
						dfn.thermin Безопасность Системы 
						| — состояние защищенности Системы, обеспеченное с одной стороны Администратором Системы и подразумевающее сохранение конфиденциальности (то есть доступность информации только Пользователю Системы, а также лицам, которым данная информация должна быть предоставлена по закону и/или договору между данным лицом и Пользователем и/или между данным лицом и/или Администратором), целостности (то есть невозможность ее изменения третьими лицами, кроме Пользователя и с его разрешения (уведомления) Администратором), доступность только после прохождения процесса авторизации по Логину и Паролю, а также действия Администратора Системы, обеспечивающие доступность данной информации только Пользователю Системы по установленным в Системе правилам; с другой стороны – это обязанность Пользователя не нарушать установленных правил, предписаний и/или инструкций Администратора по сохранению конфиденциальности, целостности и доступности информации Пользователя (или иных лиц) в Системе.
					p 
						dfn.thermin Взлом 
						| — доступ к Аккаунту помимо воли и/или волеизъявления Пользователя (Участника)
					p 
						dfn.thermin Вредоносное Программное обеспечение 
						| — Программное обеспечение, нарушающее нормальное функционирование информационных систем (т.е. систем, использующие компьютерные технологии, в том числе – персональный компьютер, локальные и глобальные сети, Интернет и т.д.)
					p.before-list
						dfn.thermin Передающая сторона
					ul.with-bullets
						li в отношении Конфиденциальной информации, передаваемой Администратором Системы Участнику Системы — Администратор
						li в отношении Конфиденциальной информации, передаваемой Участником Администратору — Участник

					h3 Статья 2.2.
					p Толкование терминов в отношениях Сторон происходит согласно определениям, представленным в статье 2.1. Соглашения. В случае, если какой-либо термин не содержится в статье 2.1.Соглашения его толкование происходит согласно сложившейся практике в сети Интернет, исходя из общего (лексического) толкования термина.

					h2 
						| 3. Права, обязанности и гарантии сторон <br/>
						| по сохранению конфидециальной информации

					h3 Статья 3.1.
					p Администратор Системы (Администратор) и Участник принимают на себя обязательства сохранения втайне от третьих лиц конфиденциальной информации полученной при использовании Системы и Сервисов Системы.

					h3 Статья 3.2.
					p Пользователь (Участник), нарушивший обязательства по сохранению конфиденциальности информации, обязуется: возместить все убытки (в том числе упущенную выгоду), полученные третьими лицами и/или Администратором в результате данных действий Участника.

					h3 Статья 3.3.
					p Администратор оставляет за собой право раскрытие конфиденциальной информации, в случае когда этого требует правила делового оборота.    

					h2 4. ОТВЕТСТВЕННОСТЬ СТОРОН
					h3 Статья 4.1. 
					p Администратор оставляет за собой право раскрытие конфиденциальной информации, в случае когда этого требует правила делового оборота.        

				footer.b-page__footer
					.b-share
						.social-likes
							.facebook(title="Поделиться ссылкой на Фейсбуке") Facebook
							.vkontakte(title="Поделиться ссылкой во Вконтакте") Вконтакте
							.twitter(data-via="pokupo" title="Поделиться ссылкой в Твиттере") Twitter
							.plusone(title="Поделиться ссылкой в Гугл-плюсе") Google+
					ul.b-inline-actions
						li
							a.with-icon.with-icon--print(href=js0) Распечатать
						li
							a.with-icon.with-icon--file(href=js0) Скачать

block scripts
	+script(['libs/social-likes.min.js', 'main.js'])