extends partials/layouts/inner

block head
	- page.title = 'Новости платформы';

block menu 
	+menu-list([
		{text:"Платформа",href:"#",submenu:[
			{text:"Особенности",href:"#"},
			{text:"Вопросы и ответы",href:"#"},
			{text:"Готовые решения",href:"#"},
			{text:"Торговая площадка",href:"#"}
		]},
		{text:"Тарифы",href:"rates.html"},
		{text:"Сообщество",href:"community.html"},
		{text:"Помощь",href:"#",submenu:[
			{text:"Техническая поддержка",href:"#"},
			{text:"Видео курсы",href:"#"},
			{text:"Семинары",href:"#"}]},
		{text:"Компания",href:"#", active:true, submenu:[
			{text:"Новости",href:"#", active:true},
			{text:"Контакты",href:"#"},
			{text:"О нас",href:"#"},
			{text:"Партнеры",href:"#"},
			{text:"Блог",href:"#"}
		]}
	])

block content
	section
		.container
			.document
				.incut.event__promo
					img(src="images/pages/events/banner-00.jpg")

				p.event__date 18 июня 2014
				h1.event__title Сегодня покупо будет представлен широкой публике
				p В славном городе Екатеринбурге на IV Ежегодной конференции Интернет магазин и бизнес on-line. Мы являемся генеральным спонсором этого хорошего и полезного мероприятия для всех интернет предпринимателей. Это наше первое публичное мероприятие, и мы подготовили доклад на тему "Служба поддержки пользователей".
				p Сегодня у нас праздник - День рождения Pokupo! Больше года мы шли к этой дате, и вот опубликована первая версия системы, конечно, далеко не всё доступно сейчас и еще многое предстоит сделать, но основной функционал торговой платформы готов. Мы очень рады представить наше творение всем интернет предпринимателям. Для всех, кто не в курсе, что такое Pokupo, добро пожаловать в раздел О проекте.
					
				.incut.inline-gallery
					.columns
						.first.column
							.content
								a(href=js0 rel="event-gallery")
									img(src="images/pages/events/gallery-01.jpg")

						.second.column
							.content
								a(href=js0 rel="event-gallery")
									img(src="images/pages/events/gallery-02.jpg")

						.third.column
							.content
								a(href=js0 rel="event-gallery")
									img(src="images/pages/events/gallery-03.jpg")

						.fourth.column
							.content
								a(href=js0 rel="event-gallery")
									img(src="images/pages/events/gallery-04.jpg")

				p В славном городе Екатеринбурге на IV Ежегодной конференции Интернет магазин и бизнес on-line. Мы являемся генеральным спонсором этого хорошего и полезного мероприятия для всех интернет предпринимателей. Это наше первое публичное мероприятие, и мы подготовили доклад на тему "Служба поддержки пользователей".
				p Сегодня у нас праздник - День рождения Pokupo! Больше года мы шли к этой дате, и вот опубликована первая версия системы, конечно, далеко не всё доступно сейчас и еще многое предстоит сделать, но основной функционал торговой платформы готов. Мы очень рады представить наше творение всем интернет предпринимателям. Для всех, кто не в курсе, что такое Pokupo, добро пожаловать в раздел О проекте.
				
				a.btn.btn-orange.btn-back(href="events.html") назад к списку


block scripts
	+script(['main.js'])