extends partials/layouts/promo

block head
	- page.title = 'Покупо';

block menu 
	+menu-list([
		{text:"Платформа",href:"frontpage.html",submenu:[
			{text:"Особенности",href:"#"},
			{text:"Вопросы и ответы",href:"#"},
			{text:"Готовые решения",href:"#"},
			{text:"Торговая площадка",href:"#"}
		]},
		{text:"Тарифы",href:"rates.html"},
		{text:"Сообщество",href:"community.html"},
		{text:"Помощь",href:"#",submenu:[
			{text:"Техническая поддержка",href:"#"},
			{text:"Видео курсы",href:"#"},
			{text:"Семинары",href:"#"}]},
		{text:"Компания",href:"#", submenu:[
			{text:"События",href:"events.html"},
			{text:"Контакты",href:"#"},
			{text:"О нас",href:"aboutus.html"},
			{text:"Партнёры",href:"partners.html"},
			{text:"Блог",href:"#"}
		]}
	])(class="b-navigation")

block scripts
	+script(['main.js'])
