extends partials/layouts/index


block head
	- page.title = 'Содержание Покупо';
	
block content
	h1 Содержание

	.container
		.columns
			.first.double.column
				.content
					.pages(style = "text-align: left; padding-top: 40px")
						h3(style = "font-weight:bold; font-size: 16px; padding-bottom: 20px") Магазин
						+pages-list([
							{text: 'Главная магазина', href: 'store-index.html'},
							{text: 'Станица каталога', href: 'store.html'},
							{text: 'Расширенный поиск', href: '#', disabled:true},
							{text: 'Меню', href: '#', disabled:true}
						])

			.third.double.column
				.content
					.pages(style = "text-align: left; padding-top: 40px")
						h3(style = "font-weight:bold; font-size: 16px; padding-bottom: 20px") Промо-страницы
						+pages-list([
							{text: 'Посадочная страница',    href: 'frontpage.html'},
							{text: 'Промо «О проекте»',  href: 'about.html'},
							{text: 'Тарифы',     href: 'rates.html'},
							{text: 'Сообщество', href: 'community.html'},
							{text: 'О проекте',  href: 'aboutus.html'},
							{text: 'События',    href: 'events.html'},
							{text: 'Просмотр события', href: 'event.html'},
							{text: 'Партнёры',   href: 'partners.html'}
						])
						h3(style = "font-weight:bold; font-size: 16px; padding: 20px 0") Дополнительно
						+pages-list([
							{text: 'Авторизация',    href: 'popup-signin.html'},
							{text: 'Сброс пароля',   href: 'popup-reset-password.html'},
							{text: 'Присоединиться', href: 'popup-join.html'}
						])





