extends partials/layouts/index


block head
	link(href='styles/main.css' rel='stylesheet')
	- page.title = 'Содержание Покупо';
	
block content
	h1 Содержание

	.container
		.columns
			.first.double.column
				.content
					.pages(style = "text-align: left; padding-top: 40px")
						h3(style = "font-weight:bold; font-size: 16px; padding-bottom: 20px") Магазин
						+pages-list([
							{text: 'Главная магазина', href: 'pages/store-index.html', descr: ""},
							{text: 'Страница каталога', href: 'pages/store.html', descr: ''},
							{text: 'Регистрация', href: 'pages/register.html', descr: ''},
							{text: 'Просмотр товара', href: 'pages/store-item.html', descr: ''},
							{text: 'Оформление заказа', href: 'pages/store-order.html', descr: ""},
							{text: 'Корзина', href: 'pages/store-cart.html', descr: ""},
							{text: 'Оплата', href: 'pages/store-invoice.html', descr: ''}
						])
						p дополнительно:
						+pages-list([
							{text: 'Как купить', href: 'pages/inner-howto.html', descr: ""},
							{text: 'Доставка', href: 'pages/inner-delivery.html', descr: ''},
							{text: 'Отзывы', href: 'pages/inner-reviews.html', descr: ''},
							{text: 'Контактная информация', href: 'pages/inner-contacts.html', descr: ''},
						])
						h3(style = "font-weight:bold; font-size: 16px; padding: 20px 0") Письма
						+pages-list([
							{text: 'Подтверждение почты',    href: 'pages/letter-confirm.html', descr: ''},
							{text: 'Рассылка',  href: 'pages/letter-news.html', descr: ''},
							{text: 'Пришёл заказ',     href: 'pages/letter-new-order.html', descr: ''},
							{text: 'Сделал заказ', href: 'pages/letter-your-order.html', descr: ''},
						])						
						h3(style = "font-weight:bold; font-size: 16px; padding: 20px 0") Личный кабинет
						+pages-list([
							{text: 'Профиль (перс. инф., адреса доставки, безопасность)', href: 'pages/profile.html', descr: ''},
							{text: 'Избранное', href: 'pages/profile-favorites.html', descr: ''},
							{text: 'Корзина', href: 'pages/profile-cart.html', descr: ''},
							{text: 'Заказы', href: 'pages/profile-orders.html', descr: ''},
							{text: 'Просмотр заказа', href: 'pages/profile-order.html', descr: ''},
							{text: 'Сообщения', href: 'pages/profile-mail.html', descr: ''},
							{text: 'Переписка', href: 'pages/profile-chat.html', descr: ''}
						])

			.third.double.column
				.content
					.pages(style = "text-align: left; padding-top: 40px")
						h3(style = "font-weight:bold; font-size: 16px; padding-bottom: 20px") Промо-страницы
						+pages-list([
							{text: 'Посадочная страница',    href: 'pages/frontpage.html', descr: ''},
							{text: 'Промо «О проекте»',  href: 'pages/about.html', descr: ''},
							{text: 'Тарифы',     href: 'pages/rates.html', descr: '(480px нет, 768px есть)'},
							{text: 'Сообщество', href: 'pages/community.html', descr: ''},
							{text: 'О проекте',  href: 'pages/aboutus.html', descr: ''},
							{text: 'События',    href: 'pages/events.html', descr: ''},
							{text: 'Просмотр события', href: 'pages/event.html', descr: ''},
							{text: 'Партнёры',   href: 'pages/partners.html', descr: ''},
							{text: 'Вопросы и ответы', href: 'pages/faq.html', descr: ''},
							{text: 'Документы',  href: 'pages/docs.html', descr: ''}
						])

						h3(style = "font-weight:bold; font-size: 16px; padding: 20px 0") Дополнительно
						+pages-list([
							{text: 'Авторизация',    href: 'pages/popup-signin.html', descr: ''},
							{text: 'Сброс пароля',   href: 'pages/popup-reset-password.html', descr: ''},
							{text: 'Присоединиться', href: 'pages/popup-join.html', descr: ''},
							{text: 'Единая система стилей', href: 'pages/buttons.html'}
						])
						