extends partials/layouts/inner

block reset
	.popup.signin
		header.patterned.black
			h1.with-icon Сброс пароля
			span.close-popup.btn-circle.btn-circle--drop.btn-circle--white
		.content
			.result
				h3 Готово!
				p Дальнейшая инструкция отправлена<br/>на ваш почтовый адрес.
				

block content
	.popup.signin
		header.patterned.black
			h1.with-icon Сброс пароля
			span.close-popup.btn-circle.btn-circle--drop.btn-circle--white
		.content
			form
				.input-holder
					input.inline-input(name="email" type="email" placeholder="Электронная почта")

				a.btn.btn-orange.btn-big(href=js0) Сбросить
