extends partials/layouts/inner

block content
	.fade
		.popup.signin
			header.patterned.black
				h1.with-icon Войти
				span.close-popup.btn-circle.btn-circle--drop.btn-circle--white
			.content
				form(method="get" action="index.html")
					.input-holder
						input.inline-input(name="login" type="text" placeholder="Логин" required="required")
					.input-holder
						input.inline-input(name="password" type="password" placeholder="Пароль")

					.input-holder.input-holder--divider
						input#remember.checkbox(name="remember" type="checkbox")
						label(for="remember") запомнить меня
					button.btn.btn-lg(type="submit") Войти

					.signin-with
						label Войти через
						ul.social-btns
							li
								a.social-btn.vk(href=js0)
							li
								a.social-btn.gp(href=js0)
							li
								a.social-btn.zp(href=js0) 
			footer
				ul
					li
						a(href="popup-reset-password.html") Восстановление пароля
					li
						a(href=js0) Регистрация