extends partials/layouts/inner

block content
	.fade.in
		.popup.join
			header.noheader
				hgroup
					h1 Заявка на партнёрство
					h2.lead Заполните форму заявки
				span.close-popup.btn-circle.btn-circle--drop.btn-circle--orange
			.content
				form(method="get" action="index.html")
					.input-holder
						input.inline-input(name="name" type="text" placeholder="Ваше имя")
					.input-holder
						input.inline-input(name="mail" type="email" placeholder="Ваш e-mail")
					.input-holder
						textarea.inline-input(name="text" rows="4"  placeholder="Текст сообщение")
					
					button.btn.btn-lg.btn-inline.btn-grey(type="reset") Отмена
					button.btn.btn-lg(type="submit") Отправить

block scripts
	+script(['main.js'])