extends partials/layouts/profile

block head
	- page.title = 'Личный кабинет';

block menu 
	+menu-list([
		{text:"Платформа",href:"frontpage.html",submenu:[
			{text:"О проекте",href:"about.html"},
			{text:"Торговый портал",href:"http://shop.pokupo.ru/", external:true}
		]},
		{text:"Тарифы",href:"rates.html"},
		{text:"Компания",href:"#", submenu:[
			{text:"События",href:"events.html"},
			{text:"О нас",href:"aboutus.html"},
			{text:"Сообщество",href:"community.html"},
			{text:"Блог",href:"http://pokupo.livejournal.com/", external:true}
		]},
		{text:"Партнёры",href:"partners.html"},
		
		{text:"Помощь", href:js0, submenu:[
			{text:"Вопросы и ответы",href:"faq.html"},	
			{text:"Техническая поддержка",href:"https://help.pokupo.ru", external:true}
		]}
	])(class="b-navigation")

block profile-nav
	section.profile-nav.grey
		.container
			ul.menu.b-profile-nav
				li.menu__item.active
					a.icon__profile(href="profile.html")
						span Профиль
				li.menu__item
					a.icon__favorites(href="profile-favorites.html")
						span Избранное
				li.menu__item
					a.icon__cart(href="profile-cart.html")
						span Корзина
				li.menu__item
					a.icon__order(href="profile-orders.html")
						span Заказы
				li.menu__item
					a.icon__mail(href="profile-mail.html")
						span Сообщения
						sup.menu__item__num 25
			a.btn.btn-sm(href=js0)
				i.icon.icon-store--small
				| Стать продавцом

block content
	- var userID = 7 // Math.floor(Math.random() * 99 + 1)

	section.profile
		.container
			dl.tabs.tabs--withline
				dt.tab__trigger.selected 
					span Персональные данные
				dd.tab__content.selected 
					.content
						fieldset.b-fieldset
							.b-profile-info.b-profile-info--personal
								.b-profile-info__actions
									button.btn.btn-xs(type="button") Загрузить аватар
									span.btn-circle.btn-circle--trash

								.b-profile-info__summary
									.b-profile-info__photo
										img(src="http://api.randomuser.me/portraits/med/men/#{userID}.jpg")

									h2.b-profile__headline.b-profile-info__title Игорь Сибилев
									ul.b-profile-info__characters-list
										li
											span На сайте с 12 марта 2012
										li
											span.char Псевдоним: 
											span.value Isibilev
										li
											span.char Рейтинг: 
											span.value.value--orange +264

						.b-status.b-status--fieldset.b-status--done(data-for="fieldset-id") Данные проверены
						h2.b-profile__headline.with-divider Персональные данные

						fieldset.b-fieldset
							input#fullname.block-input(type="text" placeholder="Введите ФИО в свободной форме" data-label="ФИО в свободной форме")
							.columns
								.first.double.column
									.content
										.input-holder
											input#fullname__surname.suggestion-input.block-input(type="text" placeholder="Фамилия" name="fullname__name")
										.input-holder
											input#fullname__name.suggestion-input.block-input(type="text" placeholder="Имя" name="fullname__surname")

										.input-holder#fullname__gender
											input#fullname__gender-male.inline(type="radio" name="fullname__gender" value="MALE")
											label(for="fullname__gender-male") Мужской
											input#fullname__gender-female.inline(type="radio" name="fullname__gender" value="FEMALE")
											label(for="fullname__gender-female") Женский


								.third.double.column
									.content
										.input-holder
											input#fullname__patronymic.block-input(type="text" placeholder="Отчество" name="fullname__patronymic")

						.b-status.b-status--fieldset.b-status--done(data-for="another-fieldset-id") Адрес подтверждён
						h2.b-profile__headline.with-divider Почтовый адрес

						fieldset.b-fieldset
							input#address.no-label.block-input(type="text" placeholder="Введите адрес в свободной форме" data-label="Адрес в свободной форме")
							.columns
								.first.double.column
									.content
										.input-holder
											input#address__country.suggestion-input.block-input(type="text" placeholder="Страна" name="address__country")
										.input-holder
											input#address__region.suggestion-input.block-input(type="text" placeholder="Регион" name="address__region")
										.input-holder
											input#address__city.suggestion-input.block-input(type="text" placeholder="Город" name="address__city")
										.input-holder
											input#address__postalcode.suggestion-input.block-input(type="text" placeholder="Почтовый индекс" name="address__postalcode")


								.third.double.column
									.content
										.input-holder
											input#address__street.suggestion-input.block-input(type="text" placeholder="Улица" name="address__city")
										.input-holder
											input#address__house.suggestion-input.block-input(type="text" placeholder="Дом" name="address__house")
										.input-holder
											input#address__flat.suggestion-input.block-input(type="text" placeholder="Квартира" name="address__flat")

						h2.b-profile__headline.with-divider Данные аккаунта
						fieldset.b-fieldset
							.columns
								.first.double.column
									.content
										.input-holder
											input#account__email.suggestion-input.block-input(type="email" placeholder="Электронная почта" name="account__email")
											.b-status.b-status--done E-mail подтверждён

								.third.double.column
									.content
										.input-holder
											input#account__phone.block-input.masked-phone(type="tel" placeholder="Телефон" name="account__phone")
											.b-status.b-status--warning Телефон не подтверждён

										
											span.pseudo-link.input-action.input-action--right Выслать код подтверждения

										.input-holder
											input#account__phone.block-input(type="text" placeholder="Код из смс-сообщения" name="account__sms")

										span.input-action.pseudo-link Подтвердить


				dt.tab__trigger 
					span Адреса доставки
				dd.tab__content
					.content
						h2.b-profile__headline Выберете основной адрес доставки

						table.b-order-table
							thead
								tr
									th.b-order-table__action
									th Адрес
									th.b-order-table__name Получатель
									th.b-order-table__phone Контактный телефон
									th.b-order-table__drop 
							tbody
								tr.b-order-table__item
									td.b-order-table__action
										input#tr_01(type="radio" value="1" name="radio")
										label(for="tr_01" rel="tooltip" title="Выбрать") &nbsp;
									td 
										label(for="tr_01") 309070, Россия, г. Белгород, ул. Кривошеина 8, кв 13
									td.b-order-table__name Сибилев Игорь
									td.b-order-table__phone +7 913 45-67-89
									td.b-order-table__drop
										.b-order-item__edit.btn-circle.btn-circle--edit(rel="tooltip" title="Редактировать")
										.b-order-item__drop.btn-circle.btn-circle--drop(rel="tooltip" title="Удалить адрес")

								tr.b-order-table__item.active
									td.b-order-table__action
										input#tr_02(type="radio" value="2" name="radio" checked)
										label(for="tr_02" rel="tooltip" title="Выбрать") &nbsp;
									td 
										label(for="tr_02") 309070, Россия, г. Белгород, ул. Ленина 15, кв 20
									td.b-order-table__name Константин Константинопольский
									td.b-order-table__phone +7 913 45-67-89
									td.b-order-table__drop
										.b-order-item__edit.btn-circle.btn-circle--edit(rel="tooltip" title="Редактировать")
										.b-order-item__drop.btn-circle.btn-circle--drop(rel="tooltip" title="Удалить адрес")

								tr.b-order-table__item
									td.b-order-table__action
										input#tr_03(type="radio" value="3" name="radio")
										label(for="tr_03" rel="tooltip" title="Выбрать") &nbsp;
									td 
										label(for="tr_03") 309070, Россия, г. Белгород, ул. Кривошеина 8, кв 13
									td.b-order-table__name Сибилев Игорь
									td.b-order-table__phone +7 913 45-67-89
									td.b-order-table__drop
										.b-order-item__edit.btn-circle.btn-circle--edit(rel="tooltip" title="Редактировать")
										.b-order-item__drop.btn-circle.btn-circle--drop(rel="tooltip" title="Удалить адрес")
							tfoot
								tr
									td(colspan=5) 
										button.btn.btn-xs(type="button") Добавить новый адрес

						h2.b-profile__headline Добавление адреса доставки
						fieldset.b-fieldset
							input#addAddress.no-label.block-input(type="text" placeholder="Введите адрес в свободной форме" data-label="Адрес в свободной форме")
							.columns
								.first.double.column
									.content
										.input-holder
											input#addAddress__country.suggestion-input.block-input(type="text" placeholder="Страна" name="addAddress__country")
										.input-holder
											input#addAddress__region.suggestion-input.block-input(type="text" placeholder="Регион" name="addAddress__region")
										.input-holder
											input#addAddress__city.suggestion-input.block-input(type="text" placeholder="Город" name="addAddress__city")
										.input-holder
											input#addAddress__postalcode.suggestion-input.block-input(type="text" placeholder="Почтовый индекс" name="addAddress__postalcode")


								.third.double.column
									.content
										.input-holder
											input#addAddress__street.suggestion-input.block-input(type="text" placeholder="Улица" name="addAddress__city")
										.input-holder
											input#addAddress__house.suggestion-input.block-input(type="text" placeholder="Дом" name="addAddress__house")
										.input-holder
											input#addAddress__flat.suggestion-input.block-input(type="text" placeholder="Квартира" name="addAddress__flat")
										.input-holder
											input(type="checkbox" name="makeDefault" id="makeDefault")
											label(for="makeDefault") Сделать основным адресом

										button.btn.btn-grey.btn-lg.btn-inline(type="reset") Назад
										button.btn.btn-lg(type="submit") Сохранить


				dt.tab__trigger
					span Безопасность
				dd.tab__content
					.content
						h2.b-profile__headline Изменить пароль

						.input-holder
							input#oldpassword.block-input(type="password" name="old_password" value="" placeholder="Текущий пароль")

						.input-holder
							input#newpassword.block-input(type="password" name="new_password" value="" placeholder="Новый пароль")

						// button.btn.btn-grey.btn-lg.btn-inline(type="reset") Отмена
						button.btn.btn-lg(type="submit") Сохранить


























block scripts
	+script([
		'libs/jquery.password.js', 
		'http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js',
		'https://dadata.ru/static/js/jquery.suggestions-4.6.min.js', 
		'main.js'
	])

