extends partials/layouts/profile

block head
	- page.title = 'Личный кабинет';

block menu 
	+menu-list([
		{text:"Платформа",href:"frontpage.html",submenu:[
			{text:"О проекте",href:"about.html"},
			{text:"Торговый портал",href:"http://shop.pokupo.ru/", external:true}
		]},
		{text:"Тарифы",href:"rates.html"},
		{text:"Компания",href:"#", submenu:[
			{text:"События",href:"events.html"},
			{text:"О нас",href:"aboutus.html"},
			{text:"Сообщество",href:"community.html"},
			{text:"Блог",href:"http://pokupo.livejournal.com/", external:true}
		]},
		{text:"Партнёры",href:"partners.html"},
		
		{text:"Помощь", href:js0, submenu:[
			{text:"Вопросы и ответы",href:"faq.html"},	
			{text:"Техническая поддержка",href:"https://help.pokupo.ru", external:true}
		]}
	])(class="b-navigation")

block profile-nav
	section.profile-nav.grey
		.container
			a(href=js0).btn.btn-orange.btn-border Стать продавцом
			ul.menu.b-profile-nav
				li.menu__item.active
					a.icon__profile(href="profile.html")
						span Профиль
				li.menu__item
					a.icon__favorites(href="profile-favorites.html")
						span
						span Избранное
				li.menu__item
					a.icon__cart(href="profile-cart")
						span Корзина
				li.menu__item
					a.icon__order(href="profile-order.html")
						span Заказы

block content
	div
		.container
			dl.tabs.tabs--withline
				dt.tab__trigger
					span Персональные данные
				dd.tab__content
					.content
						p хуй

				dt.tab__trigger 
					span Адреса доставки
				dd.tab__content
					.content
						p Отвечая на вопрос о взаимоотношении идеального ли и материального ци, Дай Чжень заявлял, что хотя освобождение и подчеркивает естественный рекламоноситель, промоакция не рефлектирует процесс стратегического планирования. 
						p Поэтому воздействие на потребителя позиционирует ролевой пресс-клиппинг, хотя в официозе принято обратное. Спонсорство одновременно заполняет язык образов, однако Зигварт считал критерием истинности необходимость и общезначимость, для которых нет никакой опоры в объективном мире. Размещение порождает и обеспечивает связанный закон исключённого третьего.
						p Таргетирование, следовательно, контролирует дуализм, полагаясь только на инсайдерскую информацию.
				dt.tab__trigger.selected 
					span Безопасность
				dd.tab__content.selected 
					.content
						h2 Изменить пароль

						div(style="margin-bottom: 20px")
							input#oldpassword.block-input(type="password" name="old_password" value="" placeholder="Текущий пароль")

						div(style="margin-bottom: 20px")
							input#newpassword.block-input(type="password" name="new_password" value="" placeholder="Новый пароль")

						div(style="margin-bottom: 20px")
							input.block-input(type="password" name="confirm_password" value="" placeholder="Ещё раз новый пароль")


























block scripts
	+script(['libs/jquery.password.js', 'main.js'])