extends partials/layouts/profile

block head
	- page.title = 'Личный кабинет';

block menu 
	+menu-list([
		{text:"Платформа",href:"frontpage.html",submenu:[
			{text:"О проекте",href:"about.html"},
			{text:"Торговый портал",href:"http://shop.pokupo.ru/", external:true}
		]},
		{text:"Тарифы",href:"rates.html"},
		{text:"Компания",href:"#", submenu:[
			{text:"События",href:"events.html"},
			{text:"О нас",href:"aboutus.html"},
			{text:"Сообщество",href:"community.html"},
			{text:"Блог",href:"http://pokupo.livejournal.com/", external:true}
		]},
		{text:"Партнёры",href:"partners.html"},
		
		{text:"Помощь", href:js0, submenu:[
			{text:"Вопросы и ответы",href:"faq.html"},	
			{text:"Техническая поддержка",href:"https://help.pokupo.ru", external:true}
		]}
	])(class="b-navigation")

block profile-nav
	section.profile-nav.grey
		.container
			a(href=js0).btn.btn-orange.btn-border Стать продавцом
			ul.menu.b-profile-nav
				li.menu__item.active
					a.icon__profile(href="profile.html")
						span Профиль
				li.menu__item
					a.icon__favorites(href="profile-favorites.html")
						span
						span Избранное
				li.menu__item
					a.icon__cart(href="profile-cart")
						span Корзина
				li.menu__item
					a.icon__order(href="profile-order.html")
						span Заказы

block content
	.profile-content
		.container
			dl.tabs.tabs--withline
				dt.tab__trigger.selected 
					span Персональные данные
				dd.tab__content.selected 
					.content
						fieldset.b-fieldset
							.b-seller-info.b-seller-info--personal
								.b-seller-info__actions
									span.btn.btn-orange.btn-border Загрузить&nbsp;аватар
									span.btn.btn-orange.btn-border.icon__trash

								.b-seller-info__summary
									.b-seller-info__photo
										img(src="images/pages/catalog/seller-logo.png")

									h2.b-seller-info__title Игорь Сибилев
									ul.b-seller-info__characters-list
										li
											span На сайте с 12 марта 2012
										li
											span.char Псевдоним: 
											span.value Isibilev
										li
											span.char Рейтинг: 
											span.value.value--orange +264

						h2.with-divider Регистрационные данные

						fieldset.b-fieldset
							input#fullname.block-input(type="text" placeholder="Введите ФИО в свободной форме")
							.columns
								.first.double.column
									.content
										.input-holder
											input#fullname__surname.suggestion-input.block-input(type="text" placeholder="Фамилия" name="fullname__name")
										.input-holder
											input#fullname__name.suggestion-input.block-input(type="text" placeholder="Имя" name="fullname__surname")

										.input-holder#fullname__gender
											input#fullname__gender-male.inline(type="radio" name="fullname__gender" value="MALE")
											label(for="fullname__gender-male") Мужской
											input#fullname__gender-female.inline(type="radio" name="fullname__gender" value="FEMALE")
											label(for="fullname__gender-female") Женский


								.third.double.column
									.content
										.input-holder
											input#fullname__patronymic.block-input(type="text" placeholder="Отчество" name="fullname__patronymic")

						h2.with-divider Почтовый адрес

						fieldset.b-fieldset
							input#address.block-input(type="text" placeholder="Введите адрес в свободной форме")
							.columns
								.first.double.column
									.content
										.input-holder
											input#address__country.suggestion-input.block-input(type="text" placeholder="Страна" name="address__country")
										.input-holder
											input#address__region.suggestion-input.block-input(type="text" placeholder="Регион" name="address__region")
										.input-holder
											input#address__city.suggestion-input.block-input(type="text" placeholder="Город" name="address__city")
										.input-holder
											input#address__postalcode.suggestion-input.block-input(type="text" placeholder="Почтовый индекс" name="address__postalcode")


								.third.double.column
									.content
										.input-holder
											input#address__street.suggestion-input.block-input(type="text" placeholder="Улица" name="address__city")
										.input-holder
											input#address__house.suggestion-input.block-input(type="text" placeholder="Дом" name="address__house")
										.input-holder
											input#address__flat.suggestion-input.block-input(type="text" placeholder="Квартира" name="address__flat")

						h2.with-divider Данные аккаунта
						fieldset.b-fieldset
							.columns
								.first.double.column
									.content
										.input-holder
											input#account__email.suggestion-input.block-input(type="email" placeholder="Электронная почта" name="account__email")

								.third.double.column
									.content
										.input-holder
											input#account__phone.block-input(type="tel" placeholder="Телефон" name="account__phone")


				dt.tab__trigger 
					span Адреса доставки
				dd.tab__content
					.content
						h2 Выберете основной адрес доставки

				dt.tab__trigger
					span Безопасность
				dd.tab__content
					.content
						h2 Изменить пароль

						.input-holder
							input#oldpassword.block-input(type="password" name="old_password" value="" placeholder="Текущий пароль")

						.input-holder
							input#newpassword.block-input(type="password" name="new_password" value="" placeholder="Новый пароль")

						a.btn.btn-grey.btn-big(href=js0) Отмена
						a.btn.btn-orange.btn-big(href=js0) Сохранить


























block scripts
	+script([
		'libs/jquery.password.js', 
		'http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js',
		'https://dadata.ru/static/js/jquery.suggestions-4.6.min.js', 
		'main.js'
	])

