extends partials/layouts/store

block head
	- page.title = 'Корзина';

block menu 
	+menu-list([
		{text:"Платформа",href:"frontpage.html",submenu:[
			{text:"О проекте",href:"about.html"},
			{text:"Торговый портал",href:"http://shop.pokupo.ru/", external:true}
		]},
		{text:"Тарифы",href:"rates.html"},
		{text:"Компания",href:"#", submenu:[
			{text:"События",href:"events.html"},
			{text:"О нас",href:"aboutus.html"},
			{text:"Сообщество",href:"community.html"},
			{text:"Блог",href:"http://pokupo.livejournal.com/", external:true}
		]},
		{text:"Партнёры",href:"partners.html"},
		
		{text:"Помощь", href:js0, submenu:[
			{text:"Вопросы и ответы",href:"faq.html"},	
			{text:"Техническая поддержка",href:"https://help.pokupo.ru", external:true}
		]}
	])(class="b-navigation")

block content
	section.store
		.container
			.b-thermometer
				p 
					a(href="index.html") Главная
					span.divider  / 
					span.current Моя корзина

			.b-catalog-item
				h1.b-catalog-item__title Моя корзина

				.b-profile-info
					.b-profile-info__actions
						button.btn.btn-xs.btn-inline(type="button") Задать вопрос
						.b-support-info.dropdown
							span.b-support-info__title
								span.dropdown__trigger(data-target="support")  Поддержка
							.b-support-info__content.dropdown__content.hidden(data-target="support")
								p 
									span.label Посетить сайт
									a.action(href="http://pokupo.ru" target="_blank") pokupo.ru
									span.label Написать
									a.action(href="mailto:support@pokupo.ru") support@pokupo.ru
									span.label Skype консультанта
									a.action(href="skype:pokupo?chat" onclick="return skypeCheck()") pokupo
									span.label ICQ консультанта
									span.action 14112415151
									span.label Позвонить
									a.action(href="tel:+74953636393") +7 495 363-63-93

					.b-profile-info__summary
						.b-profile-info__photo
							img(src="images/pages/catalog/seller-logo.png")
						h1.b-profile-info__title Торговая платформа Pokupo
						h2.b-profile-info__subtitle ID 19158495

						ul.b-profile-info__characters-list
							li 
								span.char Рейтинг: 
								span.value.value--orange +264
							li
								span.char Отзывы / претензии: 
								span.value 
									span.value--orange 12 
									| / 
									span.value--green 3
							li
								span.char Товаров: 
								span.value 450

				ol.b-order-list
					li.b-order-item.b-thead
						.b-order-item__checkbox
							input#js-select-all(type="checkbox")
							label(for="js-select-all")
						.b-order-item__img
						.b-order-item__name Наименование
						.b-order-item__price Цена
						.b-order-item__qty Количество
						.b-order-item__cost Стоимость

					li.b-order-item
						.b-order-item__checkbox
							input#input__00(type="checkbox")
							label(for="input__00")
						.b-order-item__img
							img(src="images/catalog/goods01.jpg")
						.b-order-item__name
							span Converse White
						.b-order-item__price
							+price(1800)
						.b-order-item__qty
							.b-increment-input
								span.b-increment-input__darr &minus;
								span.b-increment-input__input-wrapper 
									input.inline-input.b-increment-input__input(type="text" data-name="qty" value="5" maxlength="3" autocomplete="off" data-min="1" data-max="5")
								span.b-increment-input__uarr +
						.b-order-item__cost
							+price(9000)
						.b-order-item__delay
							.like_button.active
								span.pseudo-link В избранное
						.b-order-item__drop.btn-circle.btn-circle--drop

					li.b-order-item
						.b-order-item__checkbox
							input#input__01(type="checkbox")
							label(for="input__01")
						.b-order-item__img
							img(src="images/catalog/goods02.jpg")
						.b-order-item__name
							span Converse Red
						.b-order-item__price
							+price(2450)
						.b-order-item__qty
							.b-increment-input
								span.b-increment-input__darr &minus;
								span.b-increment-input__input-wrapper 
									input.inline-input.b-increment-input__input(type="text" data-name="qty" value="2" maxlength="3" autocomplete="off" data-min="1" data-max="5")
								span.b-increment-input__uarr +
						.b-order-item__cost
							+price(4990)
						.b-order-item__delay
							.like_button
								span.pseudo-link В избранное
						.b-order-item__drop.btn-circle.btn-circle--drop

					li.b-order-item
						.b-order-item__checkbox
							input#input__02(type="checkbox")
							label(for="input__02")
						.b-order-item__img
							img(src="images/catalog/goods03.jpg")
						.b-order-item__name
							span Штукатурка гипсовая для&nbsp;наружных работ
						.b-order-item__price
							+price(2990)
						.b-order-item__qty
							.b-increment-input
								span.b-increment-input__darr &minus;
								span.b-increment-input__input-wrapper 
									input.inline-input.b-increment-input__input(type="text" data-name="qty" value="12" maxlength="3" autocomplete="off" data-min="1" data-max="5")
								span.b-increment-input__uarr +
						.b-order-item__cost
							+price(35890)
						.b-order-item__delay
							.like_button
								span.pseudo-link В избранное
						.b-order-item__drop.btn-circle.btn-circle--drop

				.b-order-list__actions.bordered
					.like_button
						span.pseudo-link Отложить выбранные товары
					.drop_button
						span.pseudo-link Удалить выбранные товары

					.empty_button
						span.pseudo-link Очистить корзину

				.b-order-list__results
					p.b-order-list__amount
						| Итог:
						+price(49780)
					p.b-order-list__tobepaid
						| К оплате:
						+price(49790)

				.b-order-list__buttons
					a.btn.btn-grey.btn-lg.btn-inline(href=js0) Продолжить покупки
					a.btn.btn-lg(href=js0) Оформить заказ




























block scripts
	+script(['main.js'])